@charset "utf-8";
/* CSS Document */

#interpretation{
    color:#414848;
}

.l-mainVisual{
    width:100%;
    margin:0 auto;
    /*background-color:#fafafa;*/
    background-color:#FFFFFF;
}
.l-mainVisual-inner{
    max-width:1060px;
    width:100%;
    margin: 0px auto;
    padding: 0px 0;
    /*background-color:#fafafa;*/
    background-color:#FFFFFF;
}
.l-mainVisual-inner img{
    max-width:1060px;
    width:100%;
}

.l-aboutBlock{

}
.l-aboutBlock01{
    width:100%;
    margin:0 auto;
    padding:20px 0px;
}
.l-aboutBlock01 > p{
    font-size:87.5%;
    padding-bottom:20px;
    line-height: 1.7;
}
.l-aboutBlock01 > p.p-right{
    text-align:right;
    padding-top:10px;
}
.l-aboutBlock01_2{
    width:100%;
    margin:0 auto 20px;
    padding:0px;
    display:table;
    /*background-color:#f2f2f3;*/
}
.l-aboutBlock01_2 .p-title{
    font-weight:bold;
}
.l-aboutBlock01_2 > div{
    font-size:87.5%;
    padding-bottom:0px;
    line-height: 2;
    display:table-cell;
    padding-left:4px;
    padding-right:4px;
}
.l-aboutBlock01_2 > div:first-child{
    padding-left:0px;
    padding-right:8px;
}
.l-aboutBlock01_2 > div:last-child{
    padding-left:8px;
    padding-right:0px;
}
.l-aboutBlock01_2 > div img{
    width:100%;
}
.l-aboutBlock01_2 > div a{
    display:block;
}
.l-aboutBlock01_2 p:before {
    content:" ";
    display: inline-block;
    width:13px;
    height:15px;
    background-size:contain;
    vertical-align:middle;
    background:url("../../images/about/ico_main_01_pc.png") top -2px left no-repeat;
    padding-left:5px;
}

.l-companyBlock01{
    width:100%;
    margin:0 auto;
    padding:20px 0px;
}
.l-companyBlock01 > p{
    font-size:87.5%;
    padding-bottom:20px;
    line-height: 1.7;
}
.l-companyBlock01 table{
    width:100%;
    margin-bottom:20px;
}
.l-companyBlock01 table tr th{
    text-align:center;
    background-color:#0d55a6;
    color:#FFFFFF;
    font-size:87.5%;
    width:160px;
    border:1px solid #dddddd;
    padding:10px 5px;
    font-weight:normal;
}
.l-companyBlock01 table tr td{
    text-align:left;
    font-size:87.5%;
    width:auto;
    border:1px solid #dddddd;
    padding:10px 20px;
}
.l-companyBlock01 table tr td .p-last{
    text-align:right;
}
.l-companyBlock01 table tr td .p-last a{
    color:#1382c5;
}

.l-companyBlock02{
    width:100%;
    margin:0 auto;
    padding:20px 0px;
}
.l-companyBlock02 > p{
    font-size:87.5%;
    padding-bottom:20px;
    line-height: 1.7;
}
.l-companyBlock02 table{
    width:100%;
    margin-bottom:20px;
}
.l-companyBlock02 table tr th{
    text-align:center;
    width:160px;
    border:1px solid #dddddd;
    padding:10px 5px;
    vertical-align:middle;
}
.l-companyBlock02 table tr td img{
    position:relative;
    top:2px;
    left:5px;
}
.l-companyBlock02 table tr td{
    text-align:left;
    font-size:87.5%;
    width:auto;
    border:1px solid #dddddd;
    padding:15px 20px;
}
.l-companyBlock02 table tr td p{
    padding-bottom:10px;
}
.l-companyBlock02 table tr td p:last-child{
    padding-bottom:0px;
}

.l-historyBlock01{
    width:100%;
    margin:0 auto;
    padding:10px 0px;
}
.l-historyBlock01 > p{
    font-size:87.5%;
    padding-bottom:20px;
    line-height: 1.7;
}
.l-historyBlock01 table{
    width:100%;
}
.l-historyBlock01 table tr th{
    width:90px;
    font-size:112.5%;
    text-align:right;
    padding:12px 10px;
    vertical-align:top;
    background: url("../../images/about/bg_history_01_pc.png") right 10px center repeat-y;
}
.l-historyBlock01 table tr:nth-child(odd) th p{
    color:#0d55a6;text-align:right;
}
.l-historyBlock01 table tr:nth-child(odd) th p:after{
    color:#0d55a6;
    content:" ";
    display:inline-block;
    width:17px;
    height:17px;
    position:relative;
    top:0px;
    left:6px;
    background: url("../../images/about/ico_history_01_pc.png") left top no-repeat;
    background-size:17px auto;
}
.l-historyBlock01 table tr:nth-child(even) th p{
    color:#51aaea;text-align:right;
}
.l-historyBlock01 table tr:nth-child(even) th p:after{
    content:" ";
    display:inline-block;
    width:17px;
    height:17px;
    position:relative;
    top:0px;
    left:6px;
    background: url("../../images/about/ico_history_02_pc.png") left top no-repeat;
    background-size:17px auto;
}

.l-historyBlock01 table tr td{
    width:auto;
    text-align:left;
    padding:12px 15px 12px 5px;
    font-size:87.5%;
    vertical-align:top;

}
.l-historyBlock01 table tr td .p-brackets{
    text-indent: -10px;
}

.l-visionBlock01{
    width:100%;
    margin:0 auto 30px;
    padding:10px 0px;
}
.l-visionBlock01 p{
    font-size:87.5%;
    line-height: 1.7;
}

.l-visionBlock02{
    width:100%;
    margin:0 auto;
    padding:10px 0px;
}
.l-visionBlock02 p{
    font-size:87.5%;
    line-height: 1.7;
    padding:10px 0;
}
.l-visionBlock02 p.p-title{
    font-weight:bold;
    font-size:100%;
}
.l-visionBlock02 p.p-image{
    text-align:center;
    padding-top:20px;
}
.l-visionBlock02 p.p-image img{
    max-width:552px;
    width:100%;
}

.l-visionlist-table{
    width:100%;
    display:table;
    margin-top:10px;
}
.l-visionlist-table .l-visionlist-table-cell{
    width:50%;
    display:table-cell;
    vertical-align:top;
}
.l-visionlist-table .l-visionlist-table-cell .l-outside{
    border-radius:5px;
    border:1px solid #dddddd;
}
.l-visionlist-table .l-visionlist-table-cell:nth-child(odd) .l-outside{
    margin-left:0px;
    margin-right:5px;
}
.l-visionlist-table .l-visionlist-table-cell:nth-child(even) .l-outside{
    margin-left:5px;
    margin-right:0px;
}
.l-visionlist-table .l-visionlist-table-cell .l-inside{
    border-radius:5px;
    border:4px solid #f4f4f4;
    padding:15px 15px;
}
.l-visionlist-table .l-visionlist-table-cell .l-inside .p-title{
    color: #1382c5;
    font-size: 100%;
    text-align: center;
    font-weight:bold;
}
.l-visionlist-table .l-visionlist-table-cell .l-inside .p-title .p-title01{
    font-size:162.5%;
}
.l-visionlist-table .l-visionlist-table-cell .l-inside .p-title .p-title02{
    font-size:87.5%;
}

.l-visionBlock03{
    width:100%;
    margin:0 auto 30px;
    padding:10px 0px;
}
.l-visionBlock03 p{
    font-size:87.5%;
    line-height: 1.7;
    padding:10px 0;
}
.l-visionBlock03 p.p-title{
    font-size:100%;
    font-weight:bold;
}
.l-visionBlock03 p.p-image{
    padding-top:20px;
}
.l-visionBlock03 p.p-image img{
    max-width:515px;
    width:100%;
}

.l-csrBlock01{
    width:100%;
    margin:0 auto;
    padding:10px 0px 0;
}
.l-csrBlock01 p{
    font-size:87.5%;
    line-height: 1.7;
    padding:10px 0 0;
}

.l-csrBlock02{
    width:100%;
    margin:0 auto 0px;
    padding:0px;
}
.l-csrBlock02 p{
    font-size:87.5%;
    line-height: 1.7;
    padding:10px 0 0;
}
.l-csrBlock02 h4 {
    border-bottom: none;
    padding: 0px 15px;
    margin-top: 30px;
    font-size:112.5%;
}
.l-csrBlock02 .l-csrBlock02_1 {
    background-color:#f2f2f3;
    padding:20px;
    margin-top:15px;
}
.l-csrBlock02 .l-csrBlock02_1 p {
    font-size:87.5%;
}
.l-csrBlock02 .l-csrBlock02_1 .p-title {
    color:#1382c5;
    border-bottom:1px solid #1382c5;
    padding:0 0 5px;
    font-weight:bold;
    font-size:100%;
}
.l-csrBlock02 .l-csrBlock02_1 .p-csrlink {
    text-align:center;
    font-size:100%;
}
.l-csrBlock02 .l-csrBlock02_1 .p-csrlink a {
    text-decoration:underline;
    color:#111111;
    font-weight:bold;
    display:block;
}
.l-csrBlock02 .l-csrBlock02_1 .p-csrlink span {
    font-size:75%;
}
.l-csrBlock02 .l-csrBlock02_1 .p-csrlink a img {
    max-width:669px;
    width:100%;
}

.l-csrBlock02 .l-csrBlock02_2 {
    float:left;
}
.l-csrBlock02 .l-csrBlock02_2 p {
    display:inline-block;
    padding-right:5px;
}

.l-csrBlock02 table{
    width:100%;
    margin-top:20px;
}
.l-csrBlock02 table tr th{
    width:310px;
    padding:15px;
    color:#FFFFFF;
    background-color:#0d55a6;
    font-size:87.5%;
    text-align:left;
    border:1px solid #dddddd;
    font-weight:normal;
}
.l-csrBlock02 table tr td{
    width:auto;
    padding:15px;
    font-size:87.5%;
    background-color:#FFFFFF;
    border:1px solid #dddddd;
}
.l-csrBlock02 table.p-type2 tr th{
    width:160px;
    vertical-align:middle;
}
.l-csrBlock02 table.p-type2 tr td{
    width:auto;
    vertical-align:middle;
}
.l-csrBlock02 .p-brackets{
    text-indent: -10px;
    font-weight:bold;
}

.l-interviewBlock01{
    width:100%;
    margin:0 auto;
    padding:10px 0px 0;
}
.l-interviewBlock01 p{
    font-size:87.5%;
    line-height: 1.7;
    padding:10px 0;
}
.l-interviewBlock01 .p-title{
    font-weight:bold;
    font-size:100%;
    padding:0 0 10px;
}
.l-interviewBlock01 .p-last{
    float:right;
    text-align:left;
}
.l-interviewBlock01 .p-last p{
    padding-top:10px;
    font-size:87.5%;
}
.l-interviewBlock01 .p-last p img{
    max-width:160px;
    width:100%;
}

.l-interviewBlock02{
    width:100%;
    margin:0 auto;
    padding:10px 0px 0;
}
.l-interviewBlock02 .p-image{
    padding:30px 0 30px;
    text-align:center;
}
.l-interviewBlock02 .p-image img{
    max-width:400px;
    width:100%;
}
.l-interviewBlock02 .p-image_pdf_dl img{
    max-width:400px;
    width:30%;
    float: left;
}
.l-interviewBlock02 p{
    font-size:87.5%;
    line-height: 1.7;
}

.l-interviewBlock02 table{
    width:100%;
}
.l-interviewBlock02 table tr th{
    width:85px;
    font-weight:normal;
    font-size:87.5%;
}
.l-interviewBlock02 table tr td{
    width:auto;
    font-size:87.5%;
    padding-bottom:10px;
}
.l-interviewBlock02 table tr td a{
    color:#1382c5;
}
.l-interviewBlock02 p.pdf_dl{
    margin-left: 32%;
}

.l-interview-table{
    width:100%;
    display:block;
    margin-top:10px;
}
.l-interview-table .l-interview-table-cell{
    width:100%;
    display:block;
    vertical-align:top;
    margin-top:10px;
}
.l-interview-table .l-interview-table-cell .l-outside{
    border-radius:5px;
    border:1px solid #dddddd;
}
.l-interview-table .l-interview-table-cell .l-inside{
    border-radius:5px;
    border:4px solid #f4f4f4;
    padding:15px 15px;
}
.l-interview-table .l-interview-table-cell .l-inside .p-title{
    font-size:112.5%;
    /*font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif;*/
    padding-top:5px;
}
.l-interview-table .l-interview-table-cell .l-inside .p-title2{
    font-size:112.5%;
    /*font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif;*/
    padding-top:20px;
}
.l-interview-table .l-interview-table-cell .l-inside .p-message{
    padding-top:20px;
    font-size:87.5%;
}
.l-interview-table .l-interview-table-cell .l-inside .p-message2{
    padding-top:0px;
    font-size:87.5%;
}

.l-interview-table2-left{
    width:100%;
    display:block;
    margin-top:5px;
}
.l-interview-table2-left .l-interview-table-cell2{
    /*display:table-cell;*/
    vertical-align:top;
}
.l-interview-table2-left .l-interview-table-cell2:first-child{
    width:130px;
    text-align:right;
    float:right;

}
.l-interview-table2-left .l-interview-table-cell2:last-child{
    float:left;
    width:80%;
    width:calc(100% - 140px);
}

.l-interview-table2-right{
    width:100%;
    display:block;
    margin-top:5px;
}
.l-interview-table2-right .l-interview-table-cell2{
    /*display:table-cell;*/
    vertical-align:top;
}
.l-interview-table2-right .l-interview-table-cell2:first-child{
    width:130px;
    text-align:left;
    float:left;
}
.l-interview-table2-right .l-interview-table-cell2:last-child{
    float:right;
    width:80%;
    width:calc(100% - 140px);
}

.l-interviewBlock02{
    width:100%;
    margin:0 auto 0px;
    padding:0px;
}
.l-interviewBlock02 p{
    font-size:87.5%;
    line-height: 1.7;
    padding:20px 0 0;
}
.l-interviewBlock02 p:first-child{
    font-size:87.5%;
    line-height: 1.7;
    padding:10px 0 0;
}
.l-interviewBlock02 p.p-last{
    text-align:right;
}
.l-interviewBlock02 .l-interviewBlock02_1 {
    background-color:#f2f2f3;
    padding:20px;
    margin-top:15px;
}
.l-interviewBlock02 .l-interviewBlock02_1.p-relation {
    margin-top:-20px;
    /*padding-top:0;*/
}
.l-interviewBlock02 .l-interviewBlock02_1 p {
    font-size:87.5%;
}
.l-interviewBlock02 .l-interviewBlock02_1 .p-title:before {
    content:"―";
    display:inline-block;
    text-indent:-1em;

}
.l-interviewBlock02 .l-interviewBlock02_1 .p-interviewer {
    color:#414848;
    font-weight:bold;
    font-size:100%;
    padding:0 0 10px;
}
.l-interviewBlock02 .l-interviewBlock02_1 .p-interviewer2 {
    color:#414848;
    font-weight:bold;
    font-size:100%;
    padding:30px 0 10px;
    text-align:right;
}
.l-interviewBlock02 .l-interviewBlock02_1 .p-title {
    color:#1382c5;
    border-bottom:1px solid #1382c5;
    padding:0 0 5px 1em;
    font-weight:bold;
    font-size:100%;
}
.l-interviewBlock02-left{
    width:100%;
    display:block;
    margin-top:20px;
}
.l-interviewBlock02-left p{

}
.l-interviewBlock02-left > div:first-child{
    width:80px;
    text-align:left;
    float:left;
}
.l-interviewBlock02-left .p-clampmessage{
    height:auto;
    overflow-y:visible;
    padding-top:0;
    position:relative;

    text-align:left;
    float:right;
    width:87%;
    width:calc(100% - 90px);
}
.l-interviewBlock02-left .p-clampmessage.onhidden{
    height:80px;
    overflow-y:hidden;
}
.l-interviewBlock02-left .p-name{
    display:block;
    text-align:center;
    font-weight:bold;
}
.l-interviewBlock02-left .readmore{
    font-size:87.5%;
    display:block;
    padding:10px 0;
    text-align:left;
    cursor:pointer;
    z-index:999;
    color:#1382c5;
}
.l-interviewBlock02-left .readmore span{
    margin-left:10px;
}

.l-interviewBlock02-right{
    width:100%;
    display:block;
    margin-top:20px;
}
.l-interviewBlock02-right p{

}
.l-interviewBlock02-right > div:first-child{
    width:80px;
    text-align:left;
    float:right;
}
.l-interviewBlock02-right .p-clampmessage{
    height:auto;
    overflow-y:visible;
    padding-top:0;
    position:relative;

    text-align:left;
    float:left;
    width:87%;
    width:calc(100% - 90px);
}
.l-interviewBlock02-right .p-clampmessage.onhidden{
    height:80px;
    overflow-y:hidden;
}
.l-interviewBlock02-right .p-name{
    display:block;
    text-align:center;
    font-weight:bold;
}
.l-interviewBlock02-right .readmore{
    font-size:87.5%;
    display:block;
    padding:10px 0;
    text-align:right;
    cursor:pointer;
    z-index:999;
    color:#1382c5;
}
.l-interviewBlock02-right .readmore span{
    margin-right:10px;
}

.l-interviewBlock03{
    width:100%;
    margin:20px auto 0px;
    padding:0px;
}
.l-interviewBlock03 a{
    font-size:87.5%;
    line-height: 1.7;
    padding:10px 10px 0;
    color: #1382c5;
}
.l-interviewBlock03-table{
    width:100%;
    display:table;
}
.l-interviewBlock03-table .l-interviewBlock03-table-cell-left{
    width:33%;
    display:table-cell;
    text-align:left;
}
.l-interviewBlock03-table .l-interviewBlock03-table-cell-center{
    width:33%;
    display:table-cell;
    text-align:center;
}
.l-interviewBlock03-table .l-interviewBlock03-table-cell-right{
    width:33%;
    display:table-cell;
    text-align:right;
}

.mt30{
    margin-top:30px;
}
.mb30{
    margin-bottom:30px;
}

.p-map{
    position:relative;
    top:10px;
    left:15px;
}

.p-companymap{
    padding-bottom:10px;
}

.p-link{
    color:#1382c5;
}

/*------- 追加 --------*/

.l-companyBlock01 strong {
    display: inline-block;
    margin-bottom: 10px;
    font-weight: bold;
}


/* 20240523 */
.l-aboutBlock01_2 > div {
    width: 33%;
}



/*-------------------- ▲共通CSS▲ ------------------------*/

/*---------------- ▼PCのみCSS▼ --------------------*/
@media screen and (min-width:1001px){




}
/*---------------- ▲PCのみCSS▲ --------------------*/
/*---------------- ▼タブレット以降CSS▼ --------------------*/
@media screen and (max-width:1000px){
    .l-mainVisual{
        padding:3%;
    }
    .l-aboutBlock01{
        margin-bottom:3%;
        padding:3% 0;
    }
    .l-aboutBlock01_2{
        padding:3%;
    }

    .l-companyBlock01 table{
        display:block;
    }
    .l-companyBlock01 table tr th{
        display:block;
        width:100%;
    }
    .l-companyBlock01 table tr td{
        display:block;
        width:100%;
        margin-bottom:20px;
        padding:10px 3%;
    }

    .l-companyBlock02 table{
        displaty:block;
    }
    .l-companyBlock02 table tr th{
        display:block;
        width:100%;
        border-bottom:none;
        padding:10px 5px 0;
    }
    .l-companyBlock02 table tr td{
        display:block;
        width:100%;
        margin-bottom:20px;
        padding:10px 3%;
        border-top:none;
    }

    .l-historyBlock01 table tr th{
        width:90px;
    }
    .l-historyBlock01 table tr:nth-child(odd) th p:after{
        top:2px;
    }
    .l-historyBlock01 table tr:nth-child(even) th p:after{
        top:2px;
    }
    .l-historyBlock01 table tr td .p-brackets{
        text-indent: -8px;
    }

    .l-visionBlock01 p{
        font-size:75%;
    }

    .l-csrBlock02 .l-csrBlock02_1 {
        padding:3%;
    }
    .l-csrBlock02 table{
        margin-top:3%;
    }
    .l-csrBlock02 table tr th{
        width:100% !important;
        display:block;
        padding:3%;
        border-bottom:none;
    }
    .l-csrBlock02 table tr td{
        width:100%;
        display:block;
        padding:3%;
        border-top:none;
    }

    .l-interview-table2-left{
        width:100%;
        display:block;
        margin-top:5px;
    }
    .l-interview-table2-left .l-interview-table-cell2{
        /*display:table-cell;*/
        vertical-align:top;
    }
    .l-interview-table2-left .l-interview-table-cell2:first-child{
        width:100%;
        text-align:center;
        float:none;

    }
    .l-interview-table2-left .l-interview-table-cell2:last-child{
        width:100%;
        float:none;
    }

    .l-interview-table2-right{
        width:100%;
        display:block;
        margin-top:5px;
    }
    .l-interview-table2-right .l-interview-table-cell2{
        /*display:table-cell;*/
        vertical-align:top;
    }
    .l-interview-table2-right .l-interview-table-cell2:first-child{
        width:100%;
        text-align:center;
        float:none;
    }
    .l-interview-table2-right .l-interview-table-cell2:last-child{
        width:100%;
        float:none;
    }

    .l-interviewBlock02-left div:first-child{
        width:100%;
        text-align:center;
        float:none;
    }
    .l-interviewBlock02-left .p-clampmessage{
        width:100%;
        text-align:left;
        float:none;
    }
    .l-interviewBlock02-left .p-name{
        display:block;
        text-align:center;
        font-weight:bold;
    }
    .l-interviewBlock02-left .readmore span{
        margin-left:0px;
    }

    .l-interviewBlock02-right div:first-child{
        width:100%;
        text-align:center;
        float:none;
    }
    .l-interviewBlock02-right .p-clampmessage{
        width:100%;
        text-align:left;
        float:none;
    }
    .l-interviewBlock02-right .p-name{
        display:block;
        text-align:center;
        font-weight:bold;
    }
    .l-interviewBlock02-right .readmore{
        text-align:left;
    }
    .l-interviewBlock02-right .readmore span{
        margin-right:0px;
    }

    .l-interviewBlock03 a{
        padding:10px;
        display:block;
    }
    .l-interviewBlock03-table{
        width:100%;
        display:block;
    }
    .l-interviewBlock03-table .l-interviewBlock03-table-cell-left{
        width:100%;
        display:block;
        text-align:center;
    }
    .l-interviewBlock03-table .l-interviewBlock03-table-cell-right{
        width:100%;
        display:block;
        text-align:center;
    }

}
/*---------------- ▲タブレット以降CSS▲ --------------------*/
/*---------------- ▼タブレットのみ（1024～641）CSS▼ --------------------*/
@media screen and (max-width:1000px) and (min-width:481px) {

}
/*---------------- ▲タブレットのみ（1024～641）CSS▲ --------------------*/
/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){


    .l-aboutBlock01_2{
        width:100%;
        margin:0 auto 20px;
        padding:0px;
        display:block;
        /*background-color:#f2f2f3;*/
    }
    .l-aboutBlock01_2 > div{
        font-size:87.5%;
        padding-bottom:0px;
        line-height: 2;
        display:block;
        padding-left:0px;
        padding-right:0px;
        margin-bottom:20px;
    }
    .l-aboutBlock01_2 > div:first-child{
        padding-left:0px;
        padding-right:0px;
    }
    .l-aboutBlock01_2 > div:last-child{
        padding-left:0px;
        padding-right:0px;
    }
    .l-aboutBlock01_2 > div img{
        width:100%;
    }
    .l-aboutBlock01_2 > div a{
        display:block;
    }
    .l-aboutBlock01_2 p:before {
        content:" ";
        display: inline-block;
        width:13px;
        height:15px;

        vertical-align:middle;
        background:url("../../images/about/ico_main_01_sp.png") top -2px left no-repeat;
        background-size:12px auto;
        padding-left:5px;
    }

    .l-historyBlock01 table tr th{
        width:80px;
    }

    .l-visionlist-table{
        width:100%;
        display:block;
        margin-top:10px;
    }
    .l-visionlist-table .l-visionlist-table-cell{
        width:100%;
        display:block;
        margin-top:10px;
    }
    .l-visionlist-table .l-visionlist-table-cell:nth-child(odd) .l-outside{
        margin-left:0px;
        margin-right:0px;
    }
    .l-visionlist-table .l-visionlist-table-cell:nth-child(even) .l-outside{
        margin-left:0px;
        margin-right:0px;
    }
    .l-visionlist-table .l-visionlist-table-cell .l-inside{
        padding:3%;
    }

    .l-interviewBlock01 .p-last p img{
        width:70%;
    }

    .l-interviewBlock02 .p-image img{
        width:70%;
    }
    .l-interviewBlock02 table tr th{
        width:65px;
    }

    .l-interviewBlock02-left .p-clampmessage.onhidden{
        height:60px;
        overflow-y:hidden;
    }

    .p-map{
        position:relative;
        top:10px;
        left:0;
    }

    /* 20240523 */
.l-aboutBlock01_2 > div {
    width: 100%;
}

}
/*---------------- ▲スマホ以降CSS▲ --------------------*/
/*---------------- ▲スマホ最小CSS▲ --------------------*/
@media screen and (max-width:320px){


}
/*---------------- ▲スマホ最小CSS▲ --------------------*/
