@charset "utf-8";
/* CSS Document */

/*
カラーコード

オレンジ：#e39b33
グレーライン：#dcdcdc
シャドウ：rgba(58,58,58,.4)
ボタンカラー：#de7928


*/
/*-------------------- ▼共通CSS▼ ------------------------*/
html{
	
}
body{	
	color:#000000;
	/*font-family:"游ゴシック体", "Yu Gothic", YuGothic,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;*/
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	/*font-family:"メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;*/
	font-size:16px;
	line-height:1.5;
}

*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
}
a{
	color:#111111;
	-webkit-transition:.3s;
	-moz-transition:.3s;
	transition:.3s;
	text-decoration:none;
}

a:hover{
	-webkit-transition:.3s;
	-moz-transition:.3s;
	transition:.3s;
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	opacity:.7;
}

.border{
	border:1px solid #000000;	
}

.none{
	display:none;	
}

.h2_block {
    border-bottom: 5px solid #d0e5fd;
    margin-bottom: 20px;
}

h2 p {
    font-size: 150%;
    font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
    letter-spacing: .1em;
    text-align: left;
    border-bottom: 1px solid #9bb8d8;
    padding-bottom: 10px;
    color: #414848;
}

header{	
	padding-bottom:1px;
	border-bottom:3px solid #0048a8;
}

.l-headerMenu{
	width: 100%;
	padding:20px 0px 0;
	line-height:1;
}
.l-headerMenu-inner{
	max-width:1060px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	display:table;
}
.l-headerMenu-inner > div{
	display:table-cell;
	vertical-align:top;
}
.l-headerMenu-inner .l-headerMenu-left h1 a img{
	max-width:356px;
	width:100%;
}
.l-headerMenu-inner .l-headerMenu-left .l-headerMenu-left-table{
	display:table;
	width:100%;
}
.l-headerMenu-inner .l-headerMenu-left .l-headerMenu-left-table .l-headerMenu-left-table-cell{
	display:table-cell;
	width:auto;
}
.l-headerMenu-inner .l-headerMenu-left .l-headerMenu-left-table .l-headerMenu-left-table-cell:last-child{
	display:none;
}
.l-headerMenu-inner .l-headerMenu-right{
	text-align:right;
	font-size:75%;
}
.l-headerMenu-inner .l-headerMenu-right a.p-access{
	
}
.l-headerMenu-inner .l-headerMenu-right .l-headerMenu-right-top a.p-inquiry img{
	max-width:154px;
	width:100%;
}
.l-headerMenu-inner .l-headerMenu-right .l-headerMenu-right-bottom a:before{
	content:" ";
	display:inline-block;
    width:16px;
    height:16px;    
    background-size:contain;
    vertical-align:middle;
}
.l-headerMenu-inner .l-headerMenu-right .l-headerMenu-right-bottom a.p-recruit:before{
    background:url("../../images/common/btn_header_recruit_pc.png") no-repeat;
	padding-left:8px;
}
.l-headerMenu-inner .l-headerMenu-right .l-headerMenu-right-bottom a.p-access:before{
    background:url("../../images/common/btn_header_access_pc.png") no-repeat;
	padding-left:5px;
}
.l-headerMenu-inner .l-headerMenu-right .l-headerMenu-right-bottom a.p-english:before{
    background:url("../../images/common/btn_header_english_pc.png") no-repeat;
	padding-left:8px;
}
.l-headerMenu-inner .l-headerMenu-right .l-headerMenu-right-bottom{
	margin-top:15px;
	margin-bottom:15px;
}
.l-headerMenu-inner .l-headerMenu-right .l-headerMenu-right-bottom a{
	display:inline-block;
	margin-left:15px;
}
.l-headerMenu-inner .l-headerMenu-right .l-headerMenu-right-bottom a:hover{
	color:#0048A8;
}

.l-headerMenu-inner .l-headerMenu-right .l-headerMenu-right-bottom a.p-access{
	margin-left:0px;
}

.l-globalMenu{
	width: 100%;
	margin:0px;
	border:1px solid #dddddd;
}
.l-globalMenu-inner{
	max-width:1060px;
	width: 100%;
	margin: 0 auto;
	display:table;
}
.l-globalMenu-inner > div{
	display:table-cell;
	text-align:center;
	position:relative;
}
.l-globalMenu-inner > div > a{
	display:block;
	padding:20px 35px;
	border-left:1px solid #dddddd;
	border-right:none;
}
.l-globalMenu-inner > div a.p-linkImage{
	background:url("../../images/common/ico_globalMenu_link.png") top 15px right 30px no-repeat;
}
.l-globalMenu-inner > div a:hover{
	color:#0048A8;
}
.l-globalMenu-inner > div:last-child a{
	border-right:1px solid #dddddd;
}

.header_courses_menu{
	visibility: hidden;
	opacity: 0;
	transition: 0.5s;
	width:100%;
	height:auto;
	background-color:#FFFFFF;
	position:absolute;
	left:0;
	z-index:9998;
	margin-top:6px;
}
.courses_menu.current .header_courses_menu{
	/*margin-top:-4px;*/
}

.header_courses_menu.on_hover{
	visibility: visible;
	opacity: 1;
	transition: 0.2s;
}
.header_courses_list{
	max-width:1080px;
	width:100%;
	padding:0px 0 0px 0;
	margin:0 auto;
	display:table;
	table-layout:fixed;
	font-weight:normal;
}
.courses_menu.current .header_courses_list{
	max-width:1080px;
	width:100%;
	padding:1px 0 11px 0;
	margin:0 auto;
	display:table;
	table-layout:fixed;
	font-weight:normal;
}
.header_courses_list01 {
	display:block;
	width:260px;
	padding:0px 10px 0px;
	background-color: #fff;
	position: relative;
	border: 1px solid #dddddd;
	z-index:9999;
}
.header_courses_list01.p-long {
	width:320px;
}
.header_courses_list01:after, .header_courses_list01:before {
	bottom: 100%;
	left: 23%;
	border:1px solid #000000;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	z-index:9998;
	pointer-events: none;
}

.header_courses_list01:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #FFFFFF;
	border-width: 10px;
	margin-left: -10px;
}
.header_courses_list01:before {
	border-color: rgba(221, 221, 221, 0);
	border-bottom-color: #dddddd;
	border-width: 11px;
	margin-left: -11px;
}

.header_courses_list02{
	display:table-cell;
	width:50%;
}

.header_courses_list p{
	color:#FFFFFF;
	text-align:left;
	padding:10px 0px 0px 0;
	border-top:1px solid #FFFFFF;
}
.header_courses_list p a{
	color:#FFFFFF;
	text-align:left;
	padding:0 !important;
	/*font-size:93.7%;*/
}
.header_courses_list p.title{
	font-size:1.13rem;
	padding:20px 0px 10px 0;
	border-top:0px solid #FFFFFF;
}

.header_courses_list table{
	table-layout:fixed;
	width:100%;
}
.header_courses_list table tr th{
	color:#FFFFFF;
	border:1px solid #FFFFFF;
	padding:10px 0;
	font-size:1.0rem;
	width:4.5em;
}
.header_courses_list table tr td{
	color:#FFFFFF;
	padding:15px 15px 0;
	text-align:left;
	line-height:1.5;
	font-size:0.86rem;
	width:100%;
}
.header_courses_list table tr:last-child td{
	padding:15px 15px 15px;
}

.l-wrapper{
	/*max-width:1000px;*/
	width: 100%;
	margin: 0px auto;
	/*background-color:#fafafa;*/
	background-color:#FFFFFF;
	
}
.l-inner{
	max-width:1060px;
	width: 100%;
	margin: 0 auto;
}
.l-pankuzu{
	width: 100%;
	margin: 0px auto;
	/*background-color:#fafafa;*/
	background-color:#FFFFFF;
}
.l-pankuzu p{
	font-size:75%;
	padding:20px 5px;
}
.l-pankuzu p a:hover{
	text-decoration:underline;
}

.l-bottomBlock{
	width: 100%;
	margin: 0px auto;
	padding-top:20px;
	padding-bottom:20px;
}
.l-bottomBlock01{
	border-bottom:5px solid #d0e5fd;
	margin-bottom:5px;
}
.l-bottomBlock ul{
	width: 100%;
}
.l-bottomBlock ul li{
	display:inline-block;
	margin-right:40px;
	padding:25px 0 15px;
}
.l-bottomBlock ul li img{
	vertical-align:middle;
}
.l-bottomBlock ul li img.p-icca{
	
}
.l-bottomBlock ul li img.p-jccb{
	position:relative;
	top:3px;
}
.l-bottomBlock ul li img.p-jcma{
	
}
.l-bottomBlock ul li img.p-fdc{
	
}
.l-bottomBlock ul li img.p-jtc{
	
}
.l-bottomBlock ul li img.p-jsa{
	position:relative;
	top:3px;
}

.l-bottomBlock .l-bottomBlock02{
	padding-bottom:15px;
}
.l-bottomBlock .l-bottomBlock02 a{
	padding:0 15px 0 0;
	color:#1382c5;
	font-size:75%;
}

.p-bottomTitle {
    font-size: 150%;
    font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
    letter-spacing: .1em;
    text-align: left;
	border-bottom:1px solid #9bb8d8;
	padding-bottom:10px;
}

.l-container{
	max-width:1060px;
	width: 100%;
	margin: 0 auto;
	padding-bottom:50px;
	display:table;
	position:relative;
}
.l-main{
	max-width:770px;
	/*width: 100%;*/
	margin: 0px auto;
	padding-right:20px;
	display:table-cell;
	vertical-align:top;
	padding-top:50px;
	padding-right:290px;
}
.l-side{
	width:270px;
	margin: 0px auto;
	display:table-cell;
	vertical-align:top;
	/*padding-top:50px;*/
	position:absolute;
	right:0;
	top:50px;
}
.l-side-menu{
	width:100%;
}
.l-side-menu .p-side-menu-title{
	width:100%;
	padding:10px 0;
	text-align:center;
	background-color:#0d55a6;
	color:#FFFFFF;
}
.l-side-menu .p-side-menu-list{
	width:100%;
	padding:0 15px 15px;
	background-color:#f2f2f3;
}
.l-side-menu .p-side-menu-list p{	
	text-align:left;
	border-bottom:1px solid #96b3d4;
}
.l-side-menu .p-side-menu-list p.p-conference{
	background:url("../../images/common/ico_side_open_pc.png") right center no-repeat;
	padding: 12px 15px 12px 0;
	font-size:81.2%;
	display:block;
	-webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
	color:#111111;
}
.l-side-menu .p-side-menu-list p.p-conference.close{
	background:url("../../images/common/ico_side_close_pc.png") right center no-repeat;
}
.l-side-menu .p-side-menu-list p.p-conference:hover{
	cursor:pointer;
	opacity:0.7;
}
.l-side-menu .p-side-menu-list p a{
	padding: 12px 0;
	font-size:81.2%;
	display:block;
}
.l-side-menu .p-side-menu-list p a:hover{
	color:#0048A8;
}
.l-side-menu .p-side-menu-list .p-conference-list{
	background-color:#FFFFFF;
}
.l-side-menu .p-side-menu-list .p-conference-list p a{
	padding:12px 5px;
}
.l-side-office{
	margin-top:20px;
}
.l-side-office .p-side-office-title{
	width:100%;
	padding:10px 0;
	text-align:center;
	background-color:#0d55a6;
	color:#FFFFFF;
}
.l-side-office .p-side-office-photo{
	width:100%;
	text-align:center;
	background-color:#f2f2f3;
	display:none;
}
.l-side-office .p-side-office-list{
	width:100%;
	padding:0 15px 0px;
	background-color:#f2f2f3;
}
.l-side-office .p-side-office-list p{	
	text-align:left;
	display:inline-block;
	width:48.5%;
}
.l-side-office .p-side-office-list p a{
	padding: 12px 0 12px 10px;
	font-size:81.2%;
	display:block;
	color:#1382c5;
}
.l-side-banner{
	margin-top:20px;
}
.l-side-banner .p-side-banner-list{
	width:100%;
}

/**ページトップ**/
#page-top{
	/*position: relative;*/
	position: fixed;
	/*top: 1px;*/
	right: 5%;
	bottom: 50px;
	z-index:9998;
	height:50px;
	margin:0 auto;
	text-align:right;
	margin-bottom:10px;
	display:none;
}

#page-top a {
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
	opacity:1;
}
#page-top a:hover{
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
	opacity:.7;
}
	
.bt-page-top img {
	width: 50px;
	height:40px;	
}

footer{
	width: 100%;
	margin: 0px auto;
	border-top: 3px solid #0048a8;
	padding-top:1px;
}
footer .l-footerBlock{
	width: 100%;
	margin: 0px auto;
	background-color:#FFFFFF;
	/*background-color:#f1f1f1;*/
	padding:10px 0;
	border-top: 1px solid #d3d3d3;
}

.l-footerBlock .l-footerBlock01{
	text-align:center;
	margin: 0px auto;
	padding:30px 0;
	font-size:75%;
	color:#1382c5;
	border-bottom:1px solid #d3d3d3;
}
.l-footerBlock .l-footerBlock01 a{
	padding:0 15px;
	color:#1382c5;
}

.l-footerBlock .l-footerBlock02{
	width:100%;
	margin: 0px auto;
}
.l-footerBlock .l-footerBlock02{
	width:100%;
	display:table;
}
.l-footerBlock .l-footerBlock02 .l-footerBlock02-01{
	width:50%;
	display:table-cell;
	padding:10px 0 50px;
	text-align:left;
	vertical-align:top;
}
.l-footerBlock .l-footerBlock02 .l-footerBlock02-02{
	width:50%;
	display:table-cell;
	padding:15px 0;
	text-align:right;
	vertical-align:top;
}
.l-footerBlock .l-footerBlock02 a{
	padding:0 15px 0 0;
	color:#1382c5;
	font-size:75%;
}
.l-footerBlock .l-footerBlock02 a img{
	max-width:154px;
	width:100%;
}
.l-footerBlock .l-footerBlock02 a img.footer_privacy{
	max-width:37px;
	width:37px;
	height:33px;
	position:relative;
	top:7px;
}
.l-footerBlock .l-footerBlock02 .l-footerBlock02-01 span {
	display: block;
}
.l-footerBlock .l-footerBlock02 .l-footerBlock02-02 a{
	padding:0;
}
.l-footerBlock .l-footerBlock03 a{
	margin-right:40px;
}
.l-footerBlock .l-footerBlock03 a.p-footer-honyaku{
	/*position:relative;
	top:12px;*/
}
.l-footerBlock .l-footerBlock03 > p{
	font-size:75%;
	font-weight:bold;
	background:url("../../images/common/h4_footer.png") left top no-repeat;
	padding-left:10px;
	padding-bottom:10px;
}
footer > p{
	width: 100%;
	background-color:#b8b8b8;
	text-align:center;
	color:#FFFFFF;
	font-size:75%;
	padding:10px 0;
}

.l-main h3{
	border-bottom: 5px solid #d0e5fd;
}
.l-main h3 > p{
	font-size: 150%;
    font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
    letter-spacing: .1em;
    text-align: left;
	border-bottom:1px solid #9bb8d8;
	padding-bottom:10px;
}

.l-main h4{
	border-bottom: 2px solid #dae3f0;
	background:url("../../images/common/h4.png") bottom left no-repeat;
	background-size:4px 100%;
}
.l-main h4 > p{
	font-size: 125%;
    font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
    text-align: left;
	border-bottom:1px solid #9bb8d8;
	padding-bottom:10px;
	padding-left:15px;
}

.pconly{
	display:block;	
}

.sponly0{
	display:none !important;
}

.sponly{
	display:none;	
}

.sponly2{
	display:none !important;	
}

/*-------------------- ▲共通CSS▲ ------------------------*/

/*---------------- ▼PCのみCSS▼ --------------------*/
@media screen and (min-width:1001px){
	
	
	
	
}
/*---------------- ▲PCのみCSS▲ --------------------*/
/*---------------- ▼タブレット以降CSS▼ --------------------*/
@media screen and (max-width:1000px){
	
	h2 p {
		padding-bottom: 5px;
	}
	
	.l-headerMenu-inner .l-headerMenu-left h1{
		display:inline-block;
	}
	.l-headerMenu-inner .l-headerMenu-left h1 a img{
		max-width:356px;
		width:100%;
	}
	.l-headerMenu-inner .l-headerMenu-left .l-headerMenu-left-table{
		display:table;
		width:100%;
	}
	.l-headerMenu-inner .l-headerMenu-left .l-headerMenu-left-table .l-headerMenu-left-table-cell{
		display:table-cell;
		vertical-align:top;
		width:60%;
	}
	.l-headerMenu-inner .l-headerMenu-left .l-headerMenu-left-table .l-headerMenu-left-table-cell:last-child{
		display:table-cell;
		text-align:right;
		vertical-align:top;
		width:auto;
		padding-top:1.5%;
	}
	.l-headerMenu-inner .l-headerMenu-left .l-headerMenu-left-table .l-headerMenu-left-table-cell:last-child img{
		max-width:131px;
		width:100%;
	}
	.l-headerMenu-inner .l-headerMenu-right{
		width:65px;
	}
	
	.l-headerMenu{
		width: 100%;
		padding:10px 0px 10px;
		line-height:1;
	}
	
	nav {
		border-top:0px solid #cccccc;
		border-bottom:0px solid #cccccc;
	}

	#toggle {
		display: block;
	}
	#toggle {
		/*float: right;*/
		display: block;
		position: relative;
		padding: 15% 20px 7px 7px;
		font-weight: 700;
		font-size: 0.6rem;
		vertical-align: center;
	}
	#toggle-menu {
		position: absolute;
		margin: auto;
		width: 30px;
		top: 25px;
		right: 0;
		left: 0;
		color: #343434;
	}
	#toggle-btn {
		float: right;
		height: 30px;
		width: 30px;
		display: block;
		position: relative;
		top:7px;
	}
	#toggle-btn-icon {
		display: block;
		position: absolute;
		top: 30%;
		left: 0;
		right: 0;
		width: 25px;
		height: 3px;
		margin: auto;
		background: #343434;
		transition: .2s;
	}
	#toggle-btn-icon:before, #toggle-btn-icon:after {
		display: block;
		content: "";
		position: absolute;
		top: 20%;
		left: 0;
		width: 25px;
		height: 3px;
		background: #343434;
		transition: .3s;
	}
	#toggle-btn-icon:before {
		margin-top: -8px;
	}
	#toggle-btn-icon:after {
		margin-top: 7px;
	}
	#toggle-btn .close {
		background: white !important;
		top: 7px;
	}
	#toggle-btn .close:before, #toggle-btn .close:after {
		margin-top: 0;
	}
	#toggle-btn .close:before {
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
	}
	#toggle-btn .close:after {
		transform: rotate(-135deg);
		-webkit-transform: rotate(-135deg);
	}

	/* --- nav ---*/
	#global-nav-area {
		display:none;
		width:100%;
		position: absolute;
		z-index:999;
		/*top: 90px;*/
		left: 0px;
		/*background-color:#f1f1f1;*/
		background-color:#f2f2f3;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
		text-align:left;
		box-shadow:0px 5px 6px -2px #919191;
		-moz-box-shadow:0px 5px 6px -2px #919191;
		-webkit-box-shadow:0px 5px 6px -2px #919191;
	}
	#global-nav {
		padding:0 3% 3%;
	}

	#global-nav > li {
		text-align:left;
		font-weight:bold;
		font-size:133%;
	}
	#global-nav > li.title {
		border-bottom:1px solid #dddddd;
		display:table;
		width:100%;
		cursor:pointer;
	}
	#global-nav > li.titleLink {
		padding:22px 0px;
	}
	#global-nav > li.title > p {
		display:table-cell;
		width:100%;
	}
	#global-nav > li.title > p + p {
		display:table-cell;
		width:30px;
		font-size:125%;
	}
	#global-nav > li.js-underlayer > p {
		padding:22px 0px;
	}
	#global-nav > li.title > p a {
		display:block;
		width:100%;
		padding:22px 0px;
	}
	
	#global-nav > li ul {
		display: block;
	}
	#global-nav ul li {
		border-bottom:1px solid #dddddd;
		background-color:#FFFFFF;
		width:100%;
	}
	#global-nav ul li a {
		display:block;
		padding:22px 3%;
		font-size:125%;
	}
	#global-nav ul li a:hover{
		color:#0048A8;
	}
	
	/*ul.global-list{
		padding:0px 0px;
		margin:0 0 10px;
	}
	ul.global-list li {
		line-height:1.5;
		display:inline-block;
		width:49.5%;
		background-color:#FFFFFF;
		font-size:116%;
		border:1px solid #BBBBBB;
		vertical-align:top;
		text-align:left;
	}
	ul.global-list li a {
		padding:15px;
		display:block;
		color:#1382c5;
	}
	
	ul.global-list li:nth-child(odd) {
		margin-right:0.5%;
		border-top:none;
	}
	ul.global-list li:nth-child(even) {
		margin-left:0.5%;
		border-top:none;
	}
	ul.global-list li:nth-child(1) {		
		border-top:1px solid #BBBBBB;
	}
	ul.global-list li:nth-child(2) {		
		border-top:1px solid #BBBBBB;
	}*/
	
	#global-nav > p {
		padding:0 0 4%;
	}
	#global-nav > p:last-child {
		padding:0 0 2%;
	}
	
	#global-nav > p img.p-image01 {
		max-width:363px;
		width:100%;
	}
	#global-nav > p img.p-image02 {
		max-width:363px;
		width:100%;
	}
	#global-nav > p img.p-image03 {
		max-width:123px;
		width:100%;
	}
	#global-nav > p img.p-image04 {
		max-width:37px;
		width:100%;
	}
	
	.l-globalMenu{
		display:none;
	}
	
	.l-inner{
		max-width:1060px;
		width: 100%;
		margin: 0 auto;
		padding:0 3%;
	}
	
	.l-container{
		max-width:100%;
		width: 100%;
		display:block;
		padding:0 3%;
	}
	.l-main{
		max-width:100%;
		width: 100%;
		padding-right:0;
		display:block;
		padding-top:0;
	}
	.l-bottomBlock {
		padding-bottom: 0px;
	}
	.l-bottomBlock .l-bottomBlock-table > div{
		padding-top:0;
		padding-bottom:5%;
	}
	.l-bottomBlock ul{
		padding:15px 0 5px;
	}
	.l-bottomBlock ul li{
		margin-right:25px;
		padding:0px 0 15px;
	}
	.l-bottomBlock .l-bottomBlock02{
		/*border-bottom: 1px solid #d3d3d3;*/
	}
	.l-bottomBlock .l-bottomBlock02 br{
		display:none;
	}
	.l-bottomBlock .l-bottomBlock02 a{
		display:block;
		line-height:2.5;
		font-size:100%;
	}
	.l-side{
		display:none;
		padding-top:0;
	}
	
	footer{
		border-top: none;
		padding-top:0px;
	}	
	footer .l-footerBlock{
		/*display:none;*/
		border-top: none;
	}
	footer .l-footerBlock01{
		display:none;
	}
	
	.l-footerBlock .l-footerBlock02 {
		width: 100%;
		display: block;
		border-top:1px solid #d3d3d3;
	}
	.l-footerBlock .l-footerBlock02 .l-footerBlock02-01 {
		width: 100%;
		display: block;
		padding: 20px 0 20px;
		text-align: left;
		vertical-align: top;
	}
	.l-footerBlock .l-footerBlock02 .l-footerBlock02-01 span {
		display: block;
	}
	.l-footerBlock .l-footerBlock02 .l-footerBlock02-02 {
		display: none;
	}
	.l-footerBlock .l-footerBlock02 a {
		font-size:100%;
	}
	
	.l-footerBlock .l-footerBlock03 > p {
		background: url(../../images/common/h4_footer.png) left top no-repeat;
		padding-top:2px;
	}
	.l-footerBlock .l-footerBlock03 a {
		display: block;
		padding-bottom:15px;
	}	
	.l-footerBlock .l-footerBlock03 a:nth-of-type(1) img{
		width:239px;
	}
	.l-footerBlock .l-footerBlock03 a:nth-of-type(2) img{
		width:239px;
	}
	.l-footerBlock .l-footerBlock03 a:nth-of-type(3) img{
		width:127px;
	}
	.l-footerBlock .l-footerBlock03 img.p-image01 {
		max-width:363px;
		width:100%;
	}
	.l-footerBlock .l-footerBlock03 img.p-image02 {
		max-width:363px;
		width:100%;
	}
	.l-footerBlock .l-footerBlock03 img.p-image03 {
		max-width:123px;
		width:100%;
	}
	.l-footerBlock .l-footerBlock03 img.p-image04 {
		max-width:37px;
		width:100%;
	}
	
	#page-top{
		bottom: 7%;
		height:50px;
	}		
	#page-top img {
		width: 50px;
		height:40px;	
	}
	
	.l-pankuzu{
		display:none;
	}
	.l-main h4 > p{
		padding-bottom:5px;
	}
	
	.pconly{
		display:none;	
	}
	
	.sponly0{
		display:block !important;
	}
	
	.sponly{
		display:block;	
	}
	
	.sponly2{
		display:none !important;
	}
	
}
/*---------------- ▲タブレット以降CSS▲ --------------------*/
/*---------------- ▼タブレットのみ（1024～641）CSS▼ --------------------*/
@media screen and (max-width:1000px) and (min-width:481px) {
	
}
/*---------------- ▲タブレットのみ（1024～641）CSS▲ --------------------*/
/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){
	
	body{	
		font-size:12px;
	}
	.l-headerMenu-inner .l-headerMenu-left .l-headerMenu-left-table .l-headerMenu-left-table-cell:first-child{
		vertical-align:top;
		width:70%;
		padding-right:10px;
	}
	.l-headerMenu-inner .l-headerMenu-left .l-headerMenu-left-table .l-headerMenu-left-table-cell:last-child{
		vertical-align:middle;
		width:30%;
	}
	.l-headerMenu-inner .l-headerMenu-left img {
		max-width: 240px;
		width: 100%;
	}
	
	#toggle {
		/*float: right;*/
		display: block;
		position: relative;
		padding: 0 20px 7px 7px;
		font-weight: 700;
		font-size: 0.6rem;
		vertical-align: center;
	}
	
	.l-bottomBlock ul li {
		margin-right: 20px;
	}
	.l-bottomBlock .l-bottomBlock02 a {
		display: block;
		line-height: 2.5;
	}
	.l-footerBlock .l-footerBlock02 a {
		padding: 0 9px 0 0;
	}
	.l-footerBlock .l-footerBlock02 .l-footerBlock02-01 span {
		display: inline;
	}
	
	#page-top{
		bottom: 10%;
		height:25px;
	}		
	#page-top img {
		width: 35px;
		height:28px;	
	}
	
	.pconly{
		display:none;	
	}
	
	.sponly0{
		display:block !important;
	}
	
	.sponly{
		display:none;	
	}
	
	.sponly2{
		display:block !important;
	}
	
}
/*---------------- ▲スマホ以降CSS▲ --------------------*/
/*---------------- ▲スマホ最小CSS▲ --------------------*/
@media screen and (max-width:320px){
	
	
}
/*---------------- ▲スマホ最小CSS▲ --------------------*/
