/*------------------------------------------------------------
  Init Default HTML
------------------------------------------------------------*/
* {
	margin:0;
	padding:0;
	font-size:100%;
	font-style:normal;
	font-weight:normal;
	text-decoration:none;
}
a {
	color:#448AC9;
	text-decoration:underline;
}
a:hover, a:active {
	color:#006699;
	text-decoration:none;
}
body {
	color:#333333;
	font-family:arial,helvetica,clean,sans-serif;
	background-color:#fff;
}
caption { text-align:left; }
strong { font-weight:bold; }
li { list-style-type:none; }
img { border:0; }
table {
	border-collapse:collapse;
	border-spacing:0;
}
th, td {
	text-align:left;
	vertical-align:top;
}
blockquote {
	margin:1em;
}
fieldset {
	margin-bottom:1em;
}
hr {
	color:#CCCCCC;
}
/*------------------------------------------------------------
  Set Base Layout Style
------------------------------------------------------------*/
.content {
	position:relative;
	width:816px;
	margin:0 auto 0 auto;
}
#header {
	height:82px;
	background-image:url(images/headerBg.jpg);
	background-position:left bottom;
	background-repeat:repeat-x;
}
#globalNavi {
	background-image:url(images/gNaviBg.jpg);
	background-repeat:repeat-x;
}
#colum2 {
	background-image:url(images/columBg.jpg);
	background-position:center;
	background-repeat:repeat-y;
}
#colum2 .content {
	background-color:#FFFFFF;
}
#footer {
	height:120px;
	background-image:url(images/footerBg.gif);
	background-position:top;
	background-repeat:repeat-x;
}
/*------------------------------------------------------------*/
/* Header Layout */
#logo {
	float:left;
	margin:10px 0 0 0;
}
#headerNavi {
	float:right;
}
#headerNavi .hMenuBtn {
	padding-top:45px;
}
#headerNavi .hMenuBtn img {
	margin:0;
	margin-left:10px;
}
/*------------------------------------------------------------*/
/* Global Navi Layout */
#globalNavi .menuList {
	position:relative;
	width:816px;
	margin-bottom:-4px;		/* Win IE Only */
	margin-bottom /**/:0;	/* Hide Win IE */
}
#globalNavi .menuList li {
	display:block;
	height:47px;
}
#globalNavi .menuList .bt01 {
	position:relative;
	top:0;
	left:0;
	width:204px;
}
#globalNavi .menuList .bt02 {
	position:absolute;
	top:0;
	left:204px;
	width:204px;
}
#globalNavi .menuList .bt03 {
	position:absolute;
	top:0;
	left:408px;
	width:204px;
}
#globalNavi .menuList .bt04 {
	position:absolute;
	top:0;
	left:612px;
	width:204px;
}
#globalNavi .lineFrame {
	display:block;
	border:1px solid #DBDBDB;
	border-top:none;
}
#globalNavi table {
	display:block;
}
#globalNavi h1 img {
	display:block;
}
/*------------------------------------------------------------*/
/* Colum2 Top Page Base Layout */
#colum2 #top {
	width:811px;
	margin-left:4px;
}
#colum2 #top #infoLeft {
	width:588px;
	float:left;
}
#colum2 #top #infoRight {
	width:219px;
	float:right;
}
/*------------------------------------------------------------*/
/* Colum2 2nd Page Base Layout */
#colum2 #main {
	background-image:url(images/colum2Bg.jpg);
	background-position:left top;
	background-repeat:repeat-y;
}
#colum2 #main #columLeft {
	width:211px;
	float:left;
}
#colum2 #main #columRight {
	width:605px;
	float:right;
}
/*------------------------------------------------------------*/
/* Footer Layout */
#footer #copyright {
	text-align:right;
	padding-top:20px
}
/*------------------------------------------------------------*/
/* Common Class - Position */
.left  { float:left; }
.right  { float:right; }
.clr { clear:both; }

.al  { text-align:left; }
.ac  { text-align:center; }
.ar  { text-align:right; }

.vat { vertical-align:top; }
.vam { vertical-align:middle; }
.vab { vertical-align:bottom; }

.blk {
	display:block;
	margin:0px;
}
/*------------------------------------------------------------*/
/* Common Class - Text */
.s {
	font-size:x-small;
	line-height:1em;
}
.m {
	font-size:small;
	line-height:1em;
}
.l {
	font-size:medium;
	line-height:1em;
}
.stx {
	font-size:x-small;
	line-height:1.5em;
}
.mtx {
	font-size:small;
	line-height:1.5em;
}
.ltx {
	font-size:medium;
	line-height:1.5em;
}
.red {
	color:#FF0000;
}
.blue {
	color:#0000FF;
}
.orange {
	color:#EC690D;
}
.att {
	color:#FF0000;
	padding-left:0.3em;
	padding-right:0.3em;
}
/*------------------------------------------------------------*/
/* Common Class - Spacer */
img.spacer {
	display:block;
	text-align:100%;
	margin:0px;
	padding:0px;
}
/*------------------------------------------------------------*/
/* Common Class - Print */
.noPrint {}
