
		<hr width="100%">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>

				<td rowspan="3" align="center" valign="middle" width="50"><a href="/cgi-bin/admin/editfaq.cgi?__EDIT__FILE__">編集</a></td>
				<td align="right" valign="top" width="80">質問：</td>
				<td align="left" valign="top">__QUESTION__TEXT__</td>
				<td rowspan="3" align="center" valign="middle" width="50"><a href="/cgi-bin/admin/delfaq.cgi?__DELETE__FILE__">削除</a></td>
			</tr>
			<tr>
				<td align="right" valign="top" width="80">回答：</td>
				<td align="left" valign="top">__ANSWER__TEXT__</td>
			</tr>
			<tr>
				<td align="right" width="80">回答者：</td>
				<td align="left">__RESPONDENT__NAME__</td>
			</tr>
		</table>

