@charset "utf-8";
/* CSS Document */

#interpretation{
	color:#414848;
}

.l-mainVisual{
	width:100%;
	margin:0 auto;
	/*background-color:#fafafa;*/
	background-color:#FFFFFF;
}
.l-mainVisual-inner{
	max-width:1060px;
	width:100%;
	margin: 0px auto;
	padding: 0px 0;
	/*background-color:#fafafa;*/
	background-color:#FFFFFF;
}
.l-mainVisual-inner img{
	max-width:1060px;
	width:100%;
}

.l-interpretationBlock{
	width:100%;
	margin:0 auto;
	/*padding-bottom:200px;*/
}
.l-interpretationBlock01{
	/*border-bottom:5px solid #d0e5fd;*/
	margin-top:0px;
	margin-bottom:25px;
}
/*.p-interpretationTitle {
    font-size: 150%;
    /*font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif;*/
    letter-spacing: .1em;
    text-align: left;
	border-bottom:1px solid #9bb8d8;
	padding-bottom:10px;
}*/

.l-interpretationBlock02{
	width:100%;
	margin:0px auto 20px;
	background-color:#f2f2f3;
	padding-bottom:20px;
}
.l-interpretationBlock02 p{
	line-height:1.7;
	padding:20px 20px 0;
	font-size:87.5%;
}
.l-interpretationBlock02 p > img{
    width:100%;
}
.l-interpretationBlock02 .banner {
    padding:20px 20px 0;
}
.l-interpretationBlock02 .banner img{
    width:100%;
}
.l-interpretationBlock02-table{
	width:100%;
	display:table;
	padding:20px;
}
.l-interpretationBlock02-table div{
	width:25%;
	display:table-cell;
}
.l-interpretationBlock02-table div:nth-child(1){
	padding-right:6px;
}
.l-interpretationBlock02-table div:nth-child(2){
	padding-left:3px;
	padding-right:3px;
}
.l-interpretationBlock02-table div:nth-child(3){
	padding-left:3px;
	padding-right:3px;
}
.l-interpretationBlock02-table div:nth-child(4){
	padding-left:6px;
}
.l-interpretationBlock02-table div a img{
	border:1px solid #dddddd;
	width:100%;
}
.l-interpretationBlock02-table div:last-child{
	padding-right:0px;
}

.l-interpretationBlock04{
	width:100%;
	margin:0 auto;
	background-color:#f2f2f3;
}
.l-interpretationBlock04-table{
	width:100%;
	display:table;
	/*background:url("../../images/tsuyaku/bg_inquiry_01_pc.png") no-repeat;
	background-size:100% auto;*/
	padding-left:20px;
	border:1px solid #dddddd;
	margin-bottom:20px;
}

.l-interpretationBlock04-table .l-interpretationBlock04-left{
	width:470px;
	display:table-cell;
	vertical-align:top;
	padding:0;
}
.l-interpretationBlock04-left p img{
	vertical-align:top;
}
.l-interpretationBlock04-left p.regist{
	font-size:100%;
	padding:0px 0px 0px 0px;
}
.l-interpretationBlock04-left p:nth-child(1){
	font-size:75%;
	padding:20px 0px 0px 0px;
	font-weight:bold;
	line-height:2;
	letter-spacing:-1px;
}
.l-interpretationBlock04-left p:nth-child(2){
	padding:0 30px;
}
.l-interpretationBlock04-left p:nth-child(2) span{
	display:block;
	border-bottom:1px solid #d3d3d3;
	height:15px;
}
.l-interpretationBlock04-left p:nth-child(3){
	padding:20px 0px 0px 0px;
	font-weight:bold;
}
.l-interpretationBlock04-left p:nth-child(4){
	font-size:150%;
	font-weight:bold;
}
.l-interpretationBlock04-left p:nth-child(4) img.p-tel{
	position:relative;
	top:5px;
}
.l-interpretationBlock04-left p:nth-child(4) span{
	position:relative;
	left:10px;
}
.l-interpretationBlock04-left p:nth-child(4) a.p-btn_inquiry{
	position:relative;
	left:35px;
	top:-8px;
}
/*.l-interpretationBlock04-left p + p{
	font-size:112.5%;
	font-weight:bold;
	padding:0px 0px 0px 0px;
}
.l-interpretationBlock04-left p + p + p{
	font-size:187.5%;
	font-weight:bold;
	padding:0px 0px 0px 0px;
}*/

.l-interpretationBlock04-table .l-interpretationBlock04-left a{
	padding-left:0px;
}
/*.l-interpretationBlock04-table .l-interpretationBlock04-center{
	width:auto;
	display:table-cell;
	vertical-align:bottom;
	text-align:left;
	padding-bottom:20px;
}
.l-interpretationBlock04-table .l-interpretationBlock04-center a{
	position:relative;
	left:-20px;
}*/
.l-interpretationBlock04-table .l-interpretationBlock04-right{
	max-width:280px;
	display:table-cell;
	vertical-align:top;
	text-align:right;
	padding:0;
}
.l-interpretationBlock04-table .l-interpretationBlock04-right img{
	vertical-align:top;
	max-width:280px;
	width:100%;
}

.l-conventionlist-table{
	width:100%;
	display:table;	
	margin-top:10px;
}
.l-conventionlist-table .l-conventionlist-table-cell{
	width:50%;
	display:table-cell;
	vertical-align:top;
}
.l-conventionlist-table .l-conventionlist-table-cell .l-outside{
	border-radius:5px;
	border:1px solid #dddddd;
	-webkit-transition:.3s;
	-moz-transition:.3s;
	transition:.3s;
}
.l-conventionlist-table .l-conventionlist-table-cell .l-outside:hover{
	opacity:.7;
}
.l-conventionlist-table .l-conventionlist-table-cell:nth-child(odd) .l-outside{
	margin-left:0px;
	margin-right:5px;
}
.l-conventionlist-table .l-conventionlist-table-cell:nth-child(even) .l-outside{
	margin-left:5px;
	margin-right:0px;
}
.l-conventionlist-table .l-conventionlist-table-cell .l-inside{
	border-radius:5px;
	border:4px solid #f4f4f4;
	padding:15px 15px;
}
.l-conventionlist-table .l-conventionlist-table-cell .l-inside img{
	width:100%;
}


.l-conventionlist-table .l-conventionlist-table-cell .l-inside .p-title a{
	font-size:87.5%;
}
.l-conventionlist-table .l-conventionlist-table-cell .l-inside .p-title a span:before{
	content:"";
	display:inline-block;
    width:13px;
    height:14px;
    vertical-align:middle;
	position:relative;
	top:-1px;
	left:-5px;
	background:url("../../images/kokusai/ico_convention_01_pc.png") no-repeat;    
    background-size:contain;
}
.l-conventionlist-table .l-conventionlist-table-cell .l-inside .p-title a span{
	padding-left:1.2rem;
	text-indent:-0.75rem;
	display:inline-block;
}

.l-convention-button{
	width:100%;
	margin:20px auto;	
}
.l-convention-button p{
	text-align:center;
}
.l-convention-button p a img{
	max-width:375px;
	width:100%;
}
.l-convention-button p a:nth-child(1) img{
	margin-right:7px;
	margin-bottom:5px;
}
.l-convention-button p a:nth-child(2) img{
	margin-left:7px;
	margin-bottom:5px;
}

.l-inquiryBlock{
	width: 100%;
	margin: 0px auto;
	padding-top:50px;
	padding-bottom:80px;
}
.l-inquiryBlock .l-inquiryBlock-table{
	width: 100%;
	display:table;
}
.l-inquiryBlock .l-inquiryBlock-table .p-photo img{
	width: 100%;
}
.l-inquiryBlock .l-inquiryBlock-table > div{
	display:table-cell;
	position:relative;
}
.l-inquiryBlock .l-inquiryBlock-table .p-inquiry{
	padding-right:18px;
}
.l-inquiryBlock .l-inquiryBlock-table .p-inquiry div{
	display:block;
}
.l-inquiryBlock .l-inquiryBlock-table .p-registration{
}
.l-inquiryBlock .l-inquiryBlock-table .p-registration div{
	display:block;
}
.l-inquiryBlock .l-inquiryBlock-table .p-button{
	position:absolute;
	top:66%;
	left:38%;
}

.l-conferenceBlock{
	width:100%;
	display:block;	
	margin:0px auto 20px;
	background-color:#f2f2f3;
	padding:20px;
}
.l-conferenceBlock > p{
	font-size:87.5%;
	padding-bottom:20px;	
	line-height: 1.7;
}
.l-conferenceBlock > p img{
	width:100%;
}
.l-conferenceBlock .l-conferenceBlock01-table{
	width:100%;
	display:table;	
}
.l-conferenceBlock .l-conferenceBlock01-table .l-conferenceBlock01-table-cell{
	width:50%;
	display:table-cell;	
	vertical-align:middle;
}
.l-conferenceBlock .l-conferenceBlock01-table .l-conferenceBlock01-table-cell p{
	text-align:center;
	/*font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif;*/
	line-height:2.2;
	color:#205fb3;
	font-weight:bold;
}
.l-conferenceBlock .l-conferenceBlock01-table .l-conferenceBlock01-table-cell p span{
	display:block;
	text-align:left;
	font-size:125%;
	line-height:1.5;
}
.l-conferenceBlock .l-conferenceBlock01-table .l-conferenceBlock01-table-cell p span:last-child{
	text-align:right;
}

.l-conferenceBlock02{
	width:100%;
	display:block;	
	margin:0px auto 20px;
}
.l-conferenceBlock02 > p{
	font-size:87.5%;
	padding-bottom:0px;
	line-height: 1.7;
}
.l-conferenceBlock02-table{
	width:100%;
	display:table;	
}
.l-conferenceBlock02-table .l-conferenceBlock02-table-cell{
	display:table-cell;	
	vertical-align:top;
}
.l-conferenceBlock02-table .l-conferenceBlock02-table-cell:first-child{
	width:164px;
}
.l-conferenceBlock02-table .l-conferenceBlock02-table-cell:last-child{
	width:auto;
	padding:10px 25px;
}
.l-conferenceBlock02-table .l-conferenceBlock02-table-cell:last-child .l-conferenceBlock02-list01{
	padding-bottom:30px;
}
.l-conferenceBlock02-table .l-conferenceBlock02-table-cell:last-child .l-conferenceBlock02-list02{
	padding-bottom:30px;
}
.l-conferenceBlock02-table .l-conferenceBlock02-table-cell:last-child .l-conferenceBlock02-list03,
.l-conferenceBlock02-table .l-conferenceBlock02-table-cell:last-child .l-conferenceBlock02-list04,
.l-conferenceBlock02-table .l-conferenceBlock02-table-cell:last-child .l-conferenceBlock02-list05{
	padding-bottom:20px;
}
.l-conferenceBlock02-table .l-conferenceBlock02-table-cell:last-child .p-step p{
	padding:2% 3%;
	color:#FFFFFF;
	margin-bottom:10px;
	font-size:112.5%;
	display:none;
}
.l-conferenceBlock02-table .l-conferenceBlock02-table-cell:last-child .p-step1 p{
	background-color:#b8d5ee;
}
.l-conferenceBlock02-table .l-conferenceBlock02-table-cell:last-child .p-step2 p{
	background-color:#9bc7ec;
}
.l-conferenceBlock02-table .l-conferenceBlock02-table-cell:last-child .p-step3 p{
	background-color:#7bb4e5;
}
.l-conferenceBlock02-table .l-conferenceBlock02-table-cell:last-child .p-step4 p{
	background-color:#5ba2df;
}
.l-conferenceBlock02-table .l-conferenceBlock02-table-cell:last-child .p-step5 p{
	background-color:#398acf;
}
.l-conferenceBlock02-table .l-conferenceBlock02-table-cell:last-child .p-title{
	border-bottom: 2px solid #dae3f0;
}
.l-conferenceBlock02-table .l-conferenceBlock02-table-cell:last-child .p-title p{
	/*font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif;*/
	line-height:1.7;
	color:#205fb3;
	font-weight:bold;
	font-size:112.5%;
	border-bottom: 1px solid #9bb8d8;
	padding-bottom:10px;
}
.l-conferenceBlock02-table .l-conferenceBlock02-table-cell:last-child span{
	margin-right:10px;
	font-size:87.5%;
	display:inline-block;
	padding-top:8px;
}

.l-conferenceBlock03{
	width:100%;
	display:block;	
	margin:0px auto 40px;
}
.l-conferenceBlock03 > p{
	font-size:87.5%;
	padding:0 0 20px;
	line-height: 1.7;
}
.l-conferenceBlock03 > p:last-child{
	padding:0 0;
}

.p-featuresblock {
    width:100%;
	margin:0 auto;
}
.p-featuresblock .p-title {
    color:#2284c0;
	font-size:112.5%;
	font-weight:bold;
	border-bottom:1px solid #2284c0;
}
.p-featuresblock .p-message {
    padding-top:10px;
	font-size:87.5%;
	line-height: 1.7;
}
.p-featuresblock .p-featuresblock-00 {
    margin-top: 6px;
    padding: 20px 25px 30px 90px;
    background-color: #FFFFFF;
	box-shadow:0px 0px 4px 2px #e8e8e8;
	-moz-box-shadow:0px 0px 4px 2px #e8e8e8;
	-webkit-box-shadow:0px 0px 4px 2px #e8e8e8;
}

.p-featuresblock > div {
    padding-top: 0px;
    padding-bottom: 30px;
    position: relative;
}
/*.p-featuresblock > div:last-child {
    padding-bottom: 0px;
}*/
.p-featuresblock1 p.p-point {
    background: url(../../images/kokusai/img_conference_main_04_01_pc.png) left top no-repeat;
    width: 70px;
    height: 87px;
    position: absolute;
    top: -6px;
    left: 10px;
}
.p-featuresblock2 p.p-point {
    background: url(../../images/kokusai/img_conference_main_04_02_pc.png) left top no-repeat;
    width: 70px;
    height: 87px;
    position: absolute;
    top: -6px;
    left: 10px;
}
.p-featuresblock3 p.p-point {
    background: url(../../images/kokusai/img_conference_main_04_03_pc.png) left top no-repeat;
    width: 70px;
    height: 87px;
    position: absolute;
    top: -6px;
    left: 10px;
}
.p-featuresblock4 p.p-point {
    background: url(../../images/kokusai/img_conference_main_04_04_pc.png) left top no-repeat;
    width: 70px;
    height: 87px;
    position: absolute;
    top: -6px;
    left: 10px;
}

.l-conferenceBlock04{
	width:100%;
	display:block;	
	margin:0px auto 20px;
}
.l-conferenceBlock04-table{
	width:100%;
	display:table;
}
.l-conferenceBlock04-table .l-conferenceBlock04-table-cell{
	width:50%;
	display:table-cell;
	vertical-align:top;
}
.l-conferenceBlock04-table .l-conferenceBlock04-table-cell .l-conferenceBlock04-outside{
	background-color:#c5c5c5;
	padding:2px;
	margin:5px;
}
.l-conferenceBlock04-table .l-conferenceBlock04-table-cell .l-conferenceBlock04-outside:hover{
	-webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
	opacity: .7;
}
.l-conferenceBlock04-table .l-conferenceBlock04-table-cell .l-conferenceBlock04-outside .l-conferenceBlock04-inside{
	border-radius:5px;
	background: rgb(254,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(254,255,255,1) 0%, rgba(252,252,252,1) 87%, rgba(242,242,242,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(254,255,255,1) 0%,rgba(252,252,252,1) 87%,rgba(242,242,242,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(254,255,255,1) 0%,rgba(252,252,252,1) 87%,rgba(242,242,242,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */	
}
.l-conferenceBlock04-table .l-conferenceBlock04-table-cell .l-conferenceBlock04-outside .l-conferenceBlock04-inside p{
	color:#414848;
	font-size:100%;
	font-weight:bold;
	background: url(../../images/kokusai/ico_convention_02_pc.png) right 20px center no-repeat;
	width:100%;
	display:inline-block;
	padding:20px 0;
	text-align:center;
	vertical-align:middle;
}
.l-conferenceBlock04-table .l-conferenceBlock04-table-cell .l-conferenceBlock04-outside .l-conferenceBlock04-inside p span{
	display:inline-block;
	/*vertical-align: -50%;*/
	padding:0 20px;
	width:100%;
}
.l-conferenceBlock04-table .l-conferenceBlock04-table-cell .l-conferenceBlock04-outside .l-conferenceBlock04-inside p span.p-button{
	font-size:75%;
	text-align:left;
}

.l-conferenceBlock05{
	width:100%;
	display:block;
}
.l-conferenceBlock05 .l-conferenceBlock05-01{
	width:100%;
	padding:0px 20px 50px;
}
.l-conferenceBlock05 .l-conferenceBlock05-01 > .p-photo{
	width:100%;
	text-align:right;
	margin-top:-172px;
}
.l-conferenceBlock05 .l-conferenceBlock05-01 > .p-photo img{
	max-width:718px;
	width:100%;
}
.l-conferenceBlock05 .l-conferenceBlock05-01 > .p-title{
	color:#0254b5;
	font-size:112.5%;
	padding:10px;
	border-top:1px solid #0254b5;
	border-bottom:1px solid #0254b5;
}
.l-conferenceBlock05-01 .p-box{
	border:1px solid #dddddd;
	padding:15px;
	font-size:81.2%;
	color:#b50202;
	text-align:center;
	margin-top:10px;
	margin-bottom:15px;
}
.l-conferenceBlock05-01 .p-image{
	text-align:center;
	margin-top:10px;
}
.l-conferenceBlock05-01 .p-image2{
	text-align:center;
}
.l-conferenceBlock05-01 .p-image img{
	width:100%;
}
.l-conferenceBlock05-01 .p-image2 img{
	max-width:550px;
	width:100%;
}
.l-conferenceBlock05-01 .p-ft12,
.l-conferenceBlock05-01 .p-ft12{
	font-size:87.5%;
	line-height: 2;
}
.l-conferenceBlock05-01 .l-conferenceBlock05-01-table{
	width:100%;
	display:table;
}
.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell{
	width:50%;
	display:table-cell;
	vertical-align:top;
	padding-top:15px;
}
.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell th,
.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell td{
	font-size:87.5%;
	line-height:2;
}
.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell th{
	width:72px;
	font-weight:normal;
	text-align:left;
}
.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell th.p-auto{
	width:auto;
}
.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell td{
	width:auto;
	padding-right:10px;
}
.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell td.p-photo{
	text-align:center;
	padding-top:15px;
}
.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell img.p-type01{
	max-width:235px;
	width:100%;
}
.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell img.p-type02{
	max-width:385px;
	width:100%;
}
.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell img.p-type03{
	max-width:355px;
	width:100%;
}
.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell img.p-type04{
	max-width:305px;
	width:100%;
}
.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell img.p-type05{
	max-width:316px;
	width:100%;
}
.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell img.p-type06{
	max-width:385px;
	width:100%;
	margin-top:10px;
}
.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell th span,
.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell td span{
	color:#b50202;
}
.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell .p-right{
	border:1px solid #dddddd;
	padding:15px;
	font-size:81.2%;
	color:#b50202;
	line-height:2;
}
.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell .p-left{
	padding-top:15px;
	padding-right:10px;
	font-size:87.5%;
	text-align:center;
}
.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell .p-left span{
	color:#b50202;
}
.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell .p-right2{
	text-align:center;
}

.l-eventBlock{
	width:100%;
	display:block;	
	margin:0px auto 0px;
}
.l-eventBlock > p{
	font-size:87.5%;
	padding-bottom:20px;
	line-height: 1.7;
}
.l-eventBlock > p.l-image{
	text-align:center;
	display:table;
}
.l-eventBlock > p.l-image span{
	display:table-cell;
}
.l-eventBlock > p.l-image img{
	max-width:371px;
	width:100%;
}
.l-eventBlock > p span.p-ft12{
	font-size:87.5%;
}
.l-eventBlock > p span.p-bold{
	font-weight:bold;
}
.l-eventBlock > p.p-last{
	text-align:right;
	padding-bottom:10px;
}
.l-eventBlock-table{
	width:100%;
	display:block;	
}
.l-eventBlock-table .l-eventBlock-table-cell{
	vertical-align:top;
	width:50%;
}
.l-eventBlock-table .l-eventBlock-table-cell img{
	max-width:371px;
	width:100%;
}
.l-eventBlock-table .l-eventBlock-table-cell p{
	font-size:87.5%;
	padding-bottom:20px;
	line-height: 1.7;
}
.l-eventBlock-table .l-eventBlock-table-cell p span{
	font-weight:bold;
}
.l-eventBlock-table.p-left .l-eventBlock-table-cell:first-child{
	padding-top:15px;
	padding-right:10px;
	float:left;
}
.l-eventBlock-table.p-left .l-eventBlock-table-cell:last-child{
	float:right;
	text-align:center;
}
.l-eventBlock-table.p-right .l-eventBlock-table-cell:first-child{
	padding-top:15px;
	padding-right:10px;
	float:right;
}
.l-eventBlock-table.p-right .l-eventBlock-table-cell:last-child{
	float:left;
	text-align:center;
}

.l-eventBlock2{
	width:100%;
	display:block;	
	margin:20px auto 0px;
}
.l-eventBlock2 > p{
	font-size:87.5%;
	padding-bottom:20px;
	line-height: 1.7;
	text-align:center;
}
.l-eventBlock2 img.p-type01{
	max-width:462px;
	width:100%;
}
.l-eventBlock2 img.p-type02{
	max-width:730px;
	width:100%;
}

.l-organizationBlock{
	width:100%;
	display:block;	
	margin:20px auto 30px;
	padding:0px 0px 20px;
}
.l-organizationBlock h4{
	border-bottom:none;
	padding:5px 15px;
	margin-top:20px;
}
.l-organizationBlock p{
	font-size:87.5%;
	padding-bottom:20px;
	line-height: 1.7;
	text-align:left;
}
.l-organizationBlock p.p-title{
	font-size:112.5%;
	color:#0d55a6;
	padding-bottom:0px;
	margin-bottom:10px;
	border-bottom:1px solid #0d55a6;
}
.l-organizationBlock p.p-last{
	padding-bottom:0px;
}
.l-organizationBlock p.p-last.p-center{
	text-align:center;
}
.l-organizationBlock > p img{
	width:100%;
	margin-top:10px;
}
.l-organizationBlock > p.p-arrow{
	text-align:center;
	padding-bottom:0;
}
.l-organizationBlock > p.p-arrow img{
	max-width:276px;
	width:100%;
	margin-top:30px;
}
.l-organizationBlock > p span{
	font-size:78.5%;
}

.l-organizationBlock .l-outside{
	border-radius:5px;
	border:1px solid #dddddd;
	margin-top:20px;
}
.l-organizationBlock .l-outside .l-inside{
	border-radius:5px;
	border:4px solid #f4f4f4;
	padding:15px 15px;
}

.l-planBlock{
	width:100%;
	display:block;	
	margin:0px auto 100px;
	padding:0;
}
.l-planBlock > p{
	font-size:87.5%;
	padding-bottom:20px;
	line-height: 1.7;
}
.l-planBlock > p.p-year{
	padding-bottom:5px;
}
.l-planBlock span.p-brackets{
	display:inline-block;
	text-indent:-8px;
}
.l-planBlock a{
	color:#1382c5;
	margin-right:10px;
}
.l-planBlock a span.p-arrow{
	font-size:75%;
	display:inline-block;
	transform: rotate(90deg);
	margin-right:5px;
}
.l-planBlock table{
	width:100%;
	margin-bottom:30px;
}
.l-planBlock table tr th{
	background-color:#0d55a6;
	text-align:center;
	color:#FFFFFF;
	font-size:87.5%;
	padding:5px 10px;
	font-weight:normal;
	border:1px solid #dddddd;
}
.l-planBlock table tr th.col01{
	width:80px;
}
.l-planBlock table tr th.col02{
	width:auto;
}
.l-planBlock table tr th.col03{
	width:120px;
}
.l-planBlock table tr td{
	text-align:left;
	font-size:87.5%;
	padding:5px 10px;
	border:1px solid #dddddd;
	vertical-align:middle;
}
.l-planBlock table tr td:first-child{
	/* text-align:center; */
}


.l-onlineBlock{
    width:100%;
    display:block;	
    margin:0px auto 0px;
}
.l-onlineBlock > p{
    font-size:87.5%;
    padding-bottom:20px;
    line-height: 1.7;
}
.l-onlineBlock .p-note {
    font-weight: bold;
    color: #2284c0;
}
.l-onlineBlock > p.l-image{
    text-align:center;
    display:table;
}
.l-onlineBlock > p.l-image span{
    display:table-cell;
}
.l-onlineBlock > p.l-image img{
    max-width:371px;
    width:100%;
}
.l-onlineBlock > p span.p-ft12{
    font-size:87.5%;
}
.l-onlineBlock > p span.p-bold{
    font-weight:bold;
}
.l-onlineBlock > p.p-last{
    text-align:right;
    padding-bottom:10px;
}
.l-onlineBlock-table{
    width:100%;
    display:block;
    margin: 20px 0 10px;
}
.l-onlineBlock-table .l-onlineBlock-table-cell{
    display: inline-block;
    vertical-align:top;
    width:50%;
    padding-top: 30px;
}
.l-onlineBlock-table .l-onlineBlock-table-cell img{
    max-width:371px;
    width:100%;
    text-align: center;
}
.l-onlineBlock-table .l-onlineBlock-table-cell p{
    font-size:87.5%;
    padding-bottom:20px;
    line-height: 1.7;
}
.l-onlineBlock-table .l-onlineBlock-table-cell p span{
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 20px;
    font-weight:bold;
    color: #fff;
    background-color:#2284c0;
    display: inline-block;
}
.l-onlineBlock-table .l-onlineBlock-table-cell .p-title {
    color: #2284c0;
    font-size: 112.5%;
    font-weight: bold;
}
.l-onlineBlock-table .l-onlineBlock-table-cell .image {
    width: 95%;
}
.l-onlineBlock-table .l-onlineBlock-table-cell .image02 {
    width: 70%;
    margin: 0 auto;
    padding-top: 10px;
}
.l-onlineBlock-table .l-onlineBlock-table-cell .image03 {
    width: 82%;
    margin: 0 auto;
    padding-top: 10px;
}
.l-onlineBlock-table.p-left .l-onlineBlock-table-cell:first-child{
    padding-top:15px;
    padding-right:10px;
    float:left;
}
.l-onlineBlock-table.p-left .l-onlineBlock-table-cell:last-child{
    float:right;
    text-align:center;
    width: 50%;
}
.l-onlineBlock-table.p-right .l-onlineBlock-table-cell:first-child{
    padding-top:15px;
    padding-right:10px;
    float:right;
}
.l-onlineBlock-table.p-right .l-onlineBlock-table-cell:last-child{
    float:left;
    text-align:center;
}
.l-online-button {
    width: 100%;
    margin: 0 auto 20px;
}
.l-online-button p {
    text-align: center;
    padding-bottom: 1rem;
}
.l-online-button p a img {
    max-width: 450px;
    width: 100%;
}

/*** 20201029追加 ***/
.l-onlineBlock-table-in {
    margin: 1.5rem 0 0;
/*    text-align: right;*/
    padding: 0 0.5rem;
}
.l-onlineBlock-table-in p {
    display: inline-block;
    font-size: 87.5%;
}
.l-onlineBlock-table-in .title {
/*    font-size: 100%;*/
}

.l-onlineBlock-table-in .image img {
    width: 75%;
}
.l-onlineBlock-table-in.planbox {
    margin: 0;
    padding: 10px 10px 0;
    text-align: left;
}

.l-onlineBlock-table-in.planbox p span {
    font-size: 150%;
    color: #000;
    font-weight: bold;
}
.l-onlineBlock-table-in.planbox p .indent {
/*    padding-left: 4rem;*/
    font-size: 100%;
    color: #2284c0;
}
.l-onlineBlock-table-in.planbox p .small {
    font-size: 66%;
}
.l-onlineBlock-table-in.last{
    margin-bottom: 3rem;
    text-align: left;
}
.l-onlineBlock-table-in .l-onlineBlock-table .l-onlineBlock-table-cell {
    padding-top: 0;
}
.l-onlineBlock-table-in .l-onlineBlock-table .l-onlineBlock-table-cell .image02 img {
    width: 75%;
}
.l-onlineBlock-table .table-title {
    padding-top: 25px;
    font-weight: bold;
    font-size: 106%;
}
.l-onlineBlock-table .l-onlineBlock-table-cell.cell01 {
    width: 100%;
    padding-top: 15px;
}
.l-onlineBlock-table .l-onlineBlock-table-cell.cell01:last-child {
    width: 100%;
    float: none;
    text-align: left;
}



.br-button{
	display:block;
}

.p-subtitle {
    /*font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif;*/
}

.p-padding{
	padding:25px 0 !important;	
}


/* 20240411 ページ改修*/
.add_kokusai {
	margin-bottom: 50px;
}
.add_kokusai img {
	width: 100%;
}
.add_kokusai .block {
	padding-bottom: 30px;
}
.add_kokusai p {
	font-size: 87.5%;
    padding-bottom: 20px;
    line-height: 1.7;
}
.add_kokusai .col_flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.add_kokusai .col_flex .block_item {
	width: 49%;
	margin-bottom: 20px;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
	position: relative;
}
.add_kokusai .col_flex .block_item .title {
	padding: 10px;
	text-align: center;
	color: #fff;
	background-color: #003366;
	border: none;
	font-weight: bold;
}
.add_kokusai .col_flex .block_item .title.t02 {
	background-color: #3399cc;
}
.add_kokusai .col_flex .block_item .title.t03 {
	background-color: #999933;
}
.add_kokusai .col_flex .block_item .title.t04 {
	background-color: #993399;
}
.add_kokusai .col_flex .block_item_in {
	padding: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 85%;
	position: relative;
}
.add_kokusai .col_flex .block_item_in p {
	padding-bottom: 3px;
	line-height: 1.5;
	font-weight: bold;
}
.add_kokusai .col_flex .block_item_in p .sub {
	font-size: 85%;
}
.add_kokusai .col_flex .block_item_in p .arrow {
    display: inline-block;
	margin-right: 3px;
    width: 8px;
    height: 10px;
    background-color: #333;
    clip-path: polygon(0 0, 0 100%, 100% 50%);
}
.add_kokusai .col_flex .block_item_in .img {
	position: absolute;
}
.add_kokusai .col_flex .block_item_in .img01 {
    max-width: 100px;
    width: 31%;
    bottom: 5px;
    right: 22%;
}
.add_kokusai .col_flex .block_item_in .img03 {
    max-width: 95px;
    width: 25%;
    bottom: 5px;
    right: 32%;
}
.add_kokusai .col_flex .block_item_in .img04 {
    max-width: 125px;
    width: 35%;
    bottom: 40px;
    right: 0;
}
.add_kokusai .col_flex .block_item_in .img05 {
    max-width: 135px;
    width: 36%;
    top: 2%;
    right: 8%;
}
.add_kokusai .col_flex .block_item_in .img06 {
    max-width: 104px;
    width: 28%;
    bottom: 8px;
    right: 20%;
}
.add_kokusai .col_flex .block_item_in .img07 {
    max-width: 115px;
    width: 30%;
    top: 17%;
    right: 8%;
}

.add_kokusai .col_flex .block_item_in .box {
	margin-top: auto;
	padding: 10px;
	background-color: #f5f5f5;
}
.add_kokusai .col_flex .block_item_in .box p {
	font-size: 85%;
	font-weight: 600;
	color: #003366;
}
.add_kokusai .col_flex .block_item_in .box02 p {
	color: #3399cc;
}
.add_kokusai .col_flex .block_item_in .box03 p {
	color: #999933;
}
.add_kokusai .col_flex .block_item_in .box04 p {
	color: #993399;
}
.add_kokusai .block01 .block_content {
	width: 55%;
	padding-right: 3%;
}
.add_kokusai .block01 .block_image {
	width: 45%;
}


.add_kokusai .title_style01{
	font-weight: bold;
    font-size: 100%;
    margin-bottom: 1rem;
	padding-bottom: 5px;
	border-bottom: 2px dotted;
}
.add_kokusai .title_style02 {
	font-weight: bold;
	padding-bottom: 5px;
}


/* event 事例紹介 */
.add_event {
	margin-bottom: 50px;
}
.add_event img {
	width: 100%;
}
.add_event p {
	font-size: 87.5%;
    padding-bottom: 20px;
    line-height: 1.7;
}
.add_event .block01 {
	margin: 0 auto;
    padding: 15px 0 0;
    width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.add_event .block01_item {
    width: 25%;
	margin: 0 3%;
}
.block01_item_more {
    text-align: center;
	line-height: 1.3 !important;
}
.block01_item_more a {
    color: #2284c0;
    font-size: 90%;
	line-height: 1;
}
.jirei_block {
	padding-top: 7%;
}
.jirei_block:last-of-type {
	padding-bottom: 50px;
}
.jirei_head {
	display: flex;
	align-items: center;
}
.jirei_story {
	max-width: 300px;
	padding: 10px;
}
.jirei_title {
	flex: 1;
	padding-left: 10px;
	font-size: 137.5%;
    font-weight: bold;
    border-bottom: 3px solid #2284c0;
}
.jirei_title p {
	padding-bottom: 5px;
}
.jirei_features dl {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	font-size: 87.5%;
    line-height: 1.7;
}
.jirei_features dl dt,
.jirei_features dl dd {
	margin-bottom: 13px;
}
.jirei_features dl dt {
	width: 20%;
	margin-right: 2%;
	padding: 0 10px;
	color: #fff;
    background: #2284c0;
	text-align: center;
}
.jirei_features dl dd {
	width: 78%;
}
.jirei_features dl dd p {
	padding: 0 0 3px 0;
	font-size: 100%;
}
.jirei_features dl dd.list p {
	text-indent: -14px;
	padding-left: 14px;
}
.jirei_point {
	display: flex;
	align-items: center;
	margin: 10px auto;
	padding: 10px;
	border: 1px solid #2284c0;
}
.jirei_point .txt01 {
	width: 10%;
	height: 60px;
	margin-right: 10px;
	padding: 0;
	color: #fff;
    background: #2284c0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 100%;
	font-weight: bold;
}
.jirei_point .txt02 {
	flex: 1;
	padding: 0 0 0 2%;
}

/* detail ご提案から実施 */
.add_detail {
	padding-bottom: 50px;
}
.add_detail p {
	font-size: 87.5%;
    line-height: 1.7;
}
.add_detail .l-conferenceBlock02-table {
	margin-bottom: 30px;
}
.add_detail .l-conferenceBlock02-list01 {
	padding-bottom: 13% !important;
}
.add_detail .l-conferenceBlock02-list02,
.add_detail .l-conferenceBlock02-list03,
.add_detail .l-conferenceBlock02-list04,
.add_detail .l-conferenceBlock02-list05,
.add_detail .l-conferenceBlock02-list06,
.add_detail .l-conferenceBlock02-list07 {
	padding-bottom: 14.5% !important;
}
.l-conferenceBlock02-table .l-conferenceBlock02-table-cell:last-child .p-step6 p {
    background-color: #0a82cc;
}
.l-conferenceBlock02-table .l-conferenceBlock02-table-cell:last-child .p-step7 p {
    background-color: #1c69a3;
}
.add_detail .l-conferenceBlock02-table-cell .p-text {
	padding: 4% 0 0;
}
.add_detail .text01 {
	margin-bottom: 20px;
}
.add_detail .title_style01 {
    font-weight: bold;
    font-size: 100%;
    margin-bottom: 1rem;
    padding-bottom: 5px;
    border-bottom: 2px dotted;
}
.add_detail .list_box p {
	text-indent: -10px;
	padding-left: 10px;
}

.add_detail .col_flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.add_detail .block01 .block_content {
	width: 55%;
	padding-right: 3%;
}
.add_detail .block01 .block_image {
	width: 45%;
}
.add_detail img {
	max-width: 100%;
}

/* list 通訳・運営実績 */
.l-planBlock table tr td:first-child{
	text-align: left;
}
.l-planBlock p {
	font-size: 87.5%;
    line-height: 1.7;
}
.l-planBlock .table02 tr th {
     width: 25%;
}
.l-planBlock .table02 tr th.col03 {
    width: 75%;
}

/* online パッケージプラン */
.l-onlineBlock-table .l-onlineBlock-table-in .ttl_area {
	display: flex;
	align-items: center;
}
.l-onlineBlock-table .l-onlineBlock-table-in .ttl_area .plan_ttl {
    font-size: 17px;
    text-align: center;
    line-height: 0.95em;
    font-weight: bold;
    color: transparent;
    background: linear-gradient( 180deg, #30cfd0 0%, #330867 100%);
    -webkit-background-clip: text;
    -webkit-box-reflect: below -24px -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0) 10%,rgba(0, 0, 0, 0.6));
    font-family: "游ゴシック", "ヒラギノ角ゴ ProN";
	padding: 10px 0;
    margin: 0 10px 0 0;
}
.l-onlineBlock-table .l-onlineBlock-table-in .ttl_area .plan_ttl span {
    font-size: 25px;
	color: inherit;
}

/* studio ISSスタジオ */
.studio_block{
    width: 100%;
    margin: 0 auto;
    font-size: 87.5%;
}
.studio_block a {
    border-bottom: 1px solid #0d55a6;
    color: #0d55a6;
    vertical-align: baseline;
}
.studio_block p {
	line-height: 1.7;
}
.studio_block01 .title_wrap {
    border-bottom: 5px solid #d0e5fd;
	margin-bottom: 30px;
}
.studio_title {
    border-bottom: 1px solid #99bbbb;
    text-align: left;
    padding-bottom: 10px;
    font-size: 137.5%;
    letter-spacing: .1em;
}
.studio_block02_01 {
	padding-bottom: 30px;
}
.studio_block02 {
	padding-bottom: 30px;
}
.studio_block02 p.text01 {
	padding-bottom: 30px;
}
.studio_block02_02 {
	background-color: #f0f0f0;
	margin-bottom: 30px;
    padding: 25px;
}
.studio_block02_02 .item {
	display: flex;
	justify-content: space-between;
}
.studio_block02_02 .item .p_title {
	font-weight: bold;
	font-size: 15px;
	margin-bottom: 10px;
}
.studio_block02_02 .item p {
	font-size: 100%;
}
.studio_block03 {
	padding-bottom: 50px;
}
.l-interpretationCommonBlock02-table-cell table {
    border-collapse: collapse;
    text-align: center;
    font-size: 87.5%;
}
.l-interpretationCommonBlock02-table-cell th {
    background-color: #0d55a6;
    font-weight: bold;
    color: #FFF;
}
.l-interpretationCommonBlock02-table-cell th,
.webinar_zisseki {
    padding: 5px 10px;
    border: 1px solid #fff;
    vertical-align: middle;
    text-align: left;
}
.l-interpretationCommonBlock02-table-cell .l-interpretationCommonBlock02-table-cell_ttl th {
    text-align: center;
}
.l-interpretationCommonBlock02-table-cell .achievement_list:nth-child(even) {
    background-color: #f0f0f0;
}
.achievement_list .webinar_zisseki:first-of-type {
	background-color: #e0efff;
}
.studio_block .col_flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.studio_block .block01 {
	padding: 0 0 15px;
}
.studio_block .block01 .block_content {
	width: 55%;
	padding-right: 3%;
}
.studio_block .block01 .block_image {
	width: 45%;
}
.studio_block img {
	max-width: 100%;
}


/*-------------------- ▲共通CSS▲ ------------------------*/

/*---------------- ▼PCのみCSS▼ --------------------*/
@media screen and (min-width:1001px){
	
	
	
	
}
/*---------------- ▲PCのみCSS▲ --------------------*/
/*---------------- ▼タブレット以降CSS▼ --------------------*/
@media screen and (max-width:1000px){
	.l-mainVisual{
		padding:3%;
	}	
	.l-interpretationBlock01{
		margin-top:5%;
		margin-bottom:3%;
	}
	.l-interpretationBlock02 p{
		padding:3% 3% 0;
	}
	.l-interpretationBlock02-table{
		display:block;
	}
	.l-interpretationBlock02-table div:nth-child(odd){
		width:49%;
		display:inline-block;
		padding-left:0;
		padding-right:1%;
	}
	.l-interpretationBlock02-table div:nth-child(even){
		width:49%;
		display:inline-block;
		padding-left:1%;
		padding-right:0;
	}
	.l-interpretationBlock02-table div img{
		width:100%;
	}
	
	.l-conventionlist-table .l-conventionlist-table-cell .l-inside .p-title a span:before{
		background:url("../../images/kokusai/ico_convention_01_sp.png") no-repeat;    
		background-size:13px 14px;
	}
	
	.l-inquiryBlock{
		padding-top:0;
		padding-bottom:3%;
	}
	.l-inquiryBlock .l-inquiryBlock-table{
		width: 100%;
		display:block;
	}
	.l-inquiryBlock .l-inquiryBlock-table .p-photo img{
		width: 100%;
	}
	.l-inquiryBlock .l-inquiryBlock-table > div{
		display:block;
	}
	.l-inquiryBlock .l-inquiryBlock-table .p-inquiry{
		padding-right:0;
	}
	
	.l-conferenceBlock{
		padding:3%;
	}
	.l-conferenceBlock .l-conferenceBlock01-table{
		width:100%;
		display:block;	
	}
	.l-conferenceBlock .l-conferenceBlock01-table{
		width:100%;
		display:block;	
	}
	.l-conferenceBlock .l-conferenceBlock01-table .l-conferenceBlock01-table-cell{
		width:100%;
		display:block;	
		vertical-align:top;
	}
	.l-conferenceBlock .l-conferenceBlock01-table .l-conferenceBlock01-table-cell img{
		width:100%;
	}
	.l-convention-button p a:nth-child(1) img{
		margin-right:0px;
	}
	.l-convention-button p a:nth-child(2) img{
		margin-left:0px;
	}
	
	.l-conferenceBlock02 > p{
		padding-bottom:0px;
	}
	.l-conferenceBlock02-table{
		width:100%;
		display:block;	
	}
	.l-conferenceBlock02-table .l-conferenceBlock02-table-cell{
		display:block;
		vertical-align:top;
	}
	.l-conferenceBlock02-table .l-conferenceBlock02-table-cell:first-child{
		display:none;
	}
	.l-conferenceBlock02-table .l-conferenceBlock02-table-cell:last-child{
		width:100%;
		padding:10px 0;
	}
	.l-conferenceBlock02-table .l-conferenceBlock02-table-cell:last-child .l-conferenceBlock02-list01,
	.l-conferenceBlock02-table .l-conferenceBlock02-table-cell:last-child .l-conferenceBlock02-list02,
	.l-conferenceBlock02-table .l-conferenceBlock02-table-cell:last-child .l-conferenceBlock02-list03,
	.l-conferenceBlock02-table .l-conferenceBlock02-table-cell:last-child .l-conferenceBlock02-list04,
	.l-conferenceBlock02-table .l-conferenceBlock02-table-cell:last-child .l-conferenceBlock02-list05{
		padding-bottom:10%;
	}
	.l-conferenceBlock02-table .l-conferenceBlock02-table-cell:last-child .p-step p{
		display:block;
		width:100%;
	}
	
	.l-conferenceBlock03 > p{
		padding:0 0 20px;
	}
	.l-conferenceBlock03 > p:last-child{
		padding:0;
	}
	
	.p-featuresblock > div {
		padding-top: 0px;
		padding-bottom: 30px;
		position: relative;
	}
	.p-featuresblock > div:first-child {
		margin-top: 30px;
	}
	.p-featuresblock > div:last-child {
		padding-bottom: 20px;
	}
	
	.l-conferenceBlock05{
		width:100%;
		display:block;
	}
	.l-conferenceBlock05 .l-conferenceBlock05-01{
		width:100%;
		padding:0px 0 50px;
	}
	.l-conferenceBlock05 .l-conferenceBlock05-01 > .p-photo{
		width:100%;
		text-align:center;
		margin-top:0;
	}
	.l-conferenceBlock05-01 .l-conferenceBlock05-01-table{
		display:block;
	}
	.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell{
		width:100%;
		display:block;
		padding-top:15px;
	}
	.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell th,
	.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell td{
		font-size:87.5%;
		line-height:2;
	}
	.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell th{
		/*width:60px;
		font-weight:normal;
		text-align:left;*/
	}
	.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell th.p-auto{
		width:auto;
	}
	.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell td{
		width:auto;
		padding-right:0px;
	}
	.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell td span{
		color:#b50202;
	}
	.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell .p-left {
		padding-right: 0px;
	}
	.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell .p-right{
		border:1px solid #dddddd;
		padding:15px;
		font-size:81.2%;
		color:#b50202;
		line-height:2;
	}
	
	.l-eventBlock-table .l-eventBlock-table-cell{
		width:100%;
	}
	.l-eventBlock-table.p-left .l-eventBlock-table-cell:first-child{
		padding-top:0;
		padding-right:0;
		float:none;
	}
	.l-eventBlock-table.p-left .l-eventBlock-table-cell:last-child{
		text-align:center;
		float:none;
	}
	.l-eventBlock-table.p-right .l-eventBlock-table-cell:first-child{
		padding-top:0;
		padding-right:0;
		float:none;
	}
	.l-eventBlock-table.p-right .l-eventBlock-table-cell:last-child{
		text-align:center;
		float:none;
	}
	
	.l-organizationBlock{
		width:100%;
		display:block;	
		margin:20px auto 0px;
		padding:0px 0 20px;
	}
	
	.l-organizationBlock .l-outside .l-inside{
		padding:3%;
	}
	.l-organizationBlock > p.p-arrow img{
		width:50%;
	}
	
	.l-planBlock{
		margin:0px auto 10%;
		padding:0;
	}
	.l-planBlock table{
		display:block;
	}
	.l-planBlock table tr th{
		display:block;
	}
	.l-planBlock table tr th.col01{
		display:none;
	}
	.l-planBlock table tr th.col02{
		width:100%;
	}
	.l-planBlock table tr th.col03{
		display:none;
	}
	.l-planBlock table tr th.col04{
		display:none;
	}
	.l-planBlock table tr td{
		display:block;
		border-top:none;
	}
	
	.l-planBlock table tr td:nth-child(3){
		display:none;
		border-top:none;
	}
	.l-planBlock table tr td:first-child{
		display:none;
	}
	.l-planBlock table tr td:nth-child(2){
		display:block;
	}
	.l-planBlock table tr td:last-child{
		display:none;
	}
    
    .l-onlineBlock-table .l-onlineBlock-table-cell{
        width:100%;
    }
    .l-onlineBlock-table .l-onlineBlock-table-cell .image02 {
        width: 35%;
        margin: 0 auto;
    }
    .l-onlineBlock-table.p-left .l-onlineBlock-table-cell:first-child{
        padding-top:0;
        padding-right:0;
        float:none;
    }
    .l-onlineBlock-table.p-left .l-onlineBlock-table-cell:last-child{
        text-align:center;
        float:none;
        width: 100%
    }
    .l-onlineBlock-table.p-right .l-onlineBlock-table-cell:first-child{
        padding-top:0;
        padding-right:0;
        float:none;
    }
    .l-onlineBlock-table.p-right .l-onlineBlock-table-cell:last-child{
        text-align:center;
        float:none;
    }
    
    .l-onlineBlock-table-in.planbox p .indent {
        padding-left: 0;
    }
    
    .l-onlineBlock-table .l-onlineBlock-table-cell.cell01:last-child {
        width: 100%;
        float: none;
        text-align: left;
    }
	
	.br-button{
		display:block;
	}


	/* 20240411 */
	
	/* list 通訳・運営実績 */
	.l-planBlock table tr th.col02 {
		display: none;
	}
	.l-planBlock table tr th.col03 {
		display: block;
		width: 100%;
	}
	.l-planBlock table tr td:last-child {
		display: block;
	}
	.l-planBlock .table01 tr td:nth-child(3) {
		display: none;
	}
	.l-planBlock .table02 tr td:first-child{
		/* display:none; */
		display:block;
	}
	.l-planBlock .table02 tr td:nth-child(2){
		display:block;
	}
	.l-planBlock .table02 tr th {
		width: 100%;
	}
	.l-planBlock .table02 tr th.col03 {
		width: 100%;
	}
	
	
}
/*---------------- ▲タブレット以降CSS▲ --------------------*/
/*---------------- ▼タブレットのみ（1024～641）CSS▼ --------------------*/
@media screen and (max-width:1000px) and (min-width:481px) {
	
}
/*---------------- ▲タブレットのみ（1024～641）CSS▲ --------------------*/
/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){
	
	.l-conventionlist-table{
		width:100%;
		display:block;	
		margin-top:10px;
	}
	.l-conventionlist-table .l-conventionlist-table-cell{
		width:100%;
		display:block;	
		margin-top:10px;
	}
	.l-conventionlist-table .l-conventionlist-table-cell:nth-child(odd) .l-outside{
		margin-left:0px;
		margin-right:0px;
	}
	.l-conventionlist-table .l-conventionlist-table-cell:nth-child(even) .l-outside{
		margin-left:0px;
		margin-right:0px;
	}
	.l-conventionlist-table .l-conventionlist-table-cell .l-inside{
		padding:3%;
	}
	.l-conferenceBlock .l-conferenceBlock01-table{
		width:100%;
		display:block;	
	}
	.l-conferenceBlock .l-conferenceBlock01-table .l-conferenceBlock01-table-cell{
		width:100%;
		display:block;	
		vertical-align:top;
	}
	.l-conferenceBlock .l-conferenceBlock01-table .l-conferenceBlock01-table-cell img{
		width:100%;
	}
	
	.p-featuresblock .p-featuresblock-00 {
		margin-top: 6px;
		padding: 15px 15px 20px 68px;
		background-color: #FFFFFF;
		box-shadow:0px 0px 4px 2px #e8e8e8;
		-moz-box-shadow:0px 0px 4px 2px #e8e8e8;
		-webkit-box-shadow:0px 0px 4px 2px #e8e8e8;
	}
	.p-featuresblock1 p.p-point {
		background: url(../../images/kokusai/img_conference_main_04_01_pc.png) left top no-repeat;
		background-size:50px auto;
		width: 50px;
		height: 70px;
		position: absolute;
		top: -6px;
		left: 10px;
	}
	.p-featuresblock2 p.p-point {
		background: url(../../images/kokusai/img_conference_main_04_02_pc.png) left top no-repeat;
		background-size:50px auto;
		width: 50px;
		height: 70px;
		position: absolute;
		top: -6px;
		left: 10px;
	}
	.p-featuresblock3 p.p-point {
		background: url(../../images/kokusai/img_conference_main_04_03_pc.png) left top no-repeat;
		background-size:50px auto;
		width: 50px;
		height: 70px;
		position: absolute;
		top: -6px;
		left: 10px;
	}
	.p-featuresblock4 p.p-point {
		background: url(../../images/kokusai/img_conference_main_04_04_pc.png) left top no-repeat;
		background-size:50px auto;
		width: 50px;
		height: 70px;
		position: absolute;
		top: -6px;
		left: 10px;
	}
	
	.l-conferenceBlock04-table{
		width:100%;
		display:block;
	}
	.l-conferenceBlock04-table .l-conferenceBlock04-table-cell{
		width:100%;
		display:block;
		vertical-align:top;
	}
	.l-conferenceBlock04-table .l-conferenceBlock04-table-cell .l-conferenceBlock04-outside .l-conferenceBlock04-inside p{
		background: url(../../images/kokusai/ico_convention_02_sp.png) right 10px center no-repeat;
		background-size:18px auto;
	}
	.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell img.p-type01,
	.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell img.p-type02,
	.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell img.p-type03,
	.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell img.p-type04,
	.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell img.p-type05,
	.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell img.p-type06
	{
		max-width:100%;
		width:100%;
	}
	.l-eventBlock > p.l-image{
		display:block;
		text-align:center;
		width:100%;
	}
	.l-eventBlock > p.l-image span{
		display:block;
	}
	.l-eventBlock > p.l-image img{
		max-width:371px;
		width:100%;
	}
    
    .l-onlineBlock > p.l-image{
        display:block;
        text-align:center;
        width:100%;
    }
    .l-onlineBlock > p.l-image span{
        display:block;
    }
    .l-onlineBlock > p.l-image img{
        max-width:371px;
        width:100%;
    }
    .l-onlineBlock-table .l-onlineBlock-table-cell .image02 {
        width: 65%;
        margin: 0 auto;
    }
    

    .l-onlineBlock-table-in .image img {
        width: 75%;
    }
	
	.br-button{
		display:none;
	}
	
	.p-padding{
		padding:0 0 !important;	
	}


	/* 20240411 ページ改修*/
	.add_kokusai {
		margin-bottom: 20px;
	}
	.add_kokusai .block {
		padding-bottom: 15px;
	}
	.add_kokusai p {
		font-size: 14px;
	}
	.add_kokusai .col_flex .block_item {
		width: 100%;
		margin-bottom: 20px;
	}
	.add_kokusai .col_flex .block_item .title {
		padding: 10px;
	}
	.add_kokusai .col_flex .block_item_in p {
		padding-bottom: 3px;
		line-height: 1.5;
	}
	.add_kokusai .col_flex .block_item_in .box {
		margin-top: 15px;
		padding: 10px;
	}
	.add_kokusai .col_flex .block_item_in .box p {
		font-size: 100%;
	}
	.add_kokusai .block01 .block_content {
		width: 100%;
		padding-right: 0;
	}
	.add_kokusai .block01 .block_image {
		width: 100%;
		margin-bottom: 15px;
	}
	.add_kokusai .title_style01 {
		font-size: 14px;
	}

	/* event 事例紹介 */
	.add_event {
		margin-bottom: 20px;
	}
	.add_event p {
		font-size: 14px;
	}
	.add_event .block01 {
		padding: 15px 0 0;
	}
	.add_event .block01_item {
		width: 80%;
		margin: 0 3% 15px;
	}
	.block01_item_more a {
		font-size: 14px;
		padding: 0;
	}
	.jirei_block {
		padding-top: 10%;
	}
	.jirei_block:last-of-type {
		padding-bottom: 20px;
	}
	.jirei_head {
		flex-direction: column;
	}
	.jirei_story {
		max-width: 220px;
		padding: 0 0 10px;
	}
	.jirei_title {
		width: 100%;
		flex: unset;
		padding: 0;
		font-size: 140%;
		margin-bottom: 15px;
	}
	.jirei_title p {
		font-size: 15px;
		padding-bottom: 5px;
	}
	.jirei_features dl {
		font-size: 14px;
		line-height: 1.7;
	}
	.jirei_features dl dt,
	.jirei_features dl dd {
		margin-bottom: 13px;
	}
	.jirei_features dl dt {
		width: 100%;
		margin-right: 0;
		padding: 0 10px;
	}
	.jirei_features dl dd {
		width: 100%;
	}
	.jirei_features dl dd p {
		padding: 0 0 5px;
		font-size: 100%;
		text-indent: 0;
	}
	.jirei_point {
		flex-direction: column;
		margin: 10px auto;
		padding: 10px;
	}
	.jirei_point .txt01 {
		width: 100%;
		height: auto;
		margin: 0 0 10px 0;
		padding: 5px;
		font-size: 15px;
	}
	.jirei_point .txt02 {
		flex: 1;
		padding: 0 0 0;
	}

	/* detail ご提案から実施 */
	.add_detail {
		padding-bottom: 20px;
	}
	.add_detail .l-conferenceBlock02-table {
		margin-bottom: 15px;
	}
	.add_detail .l-conferenceBlock02-list01,
	.add_detail .l-conferenceBlock02-list02,
	.add_detail .l-conferenceBlock02-list03,
	.add_detail .l-conferenceBlock02-list04,
	.add_detail .l-conferenceBlock02-list05,
	.add_detail .l-conferenceBlock02-list06,
	.add_detail .l-conferenceBlock02-list07 {
		padding-bottom: 6% !important;
	}

	.add_detail .block01 .block_content {
		width: 100%;
		padding-right: 0;
	}
	.add_detail .block01 .block_image {
		width: 100%;
		margin: 15px auto;
	}

	/* online ウェビナー・ハイブリッド パッケージプラン */
	.l-onlineBlock-table .l-onlineBlock-table-in .ttl_area {
		flex-direction: column;
	}
	.l-onlineBlock-table .l-onlineBlock-table-in .ttl_area .plan_ttl {
		margin: 0 10px 10px 0;
	}

	/* studio ISSスタジオ */
	.studio_block{
		font-size: 14px;
	}
	.studio_block01 .title_wrap {
		margin-bottom: 20px;
	}
	.studio_title {
		font-size: 120%;
	}
	.studio_block02_01 {
		padding-bottom: 20px;
	}
	.studio_block02 {
		padding-bottom: 30px;
	}
	.studio_block02 p.text01 {
		padding-bottom: 20px;
	}
	.studio_block02_02 {
		margin-bottom: 20px;
		padding: 20px 15px;
	}
	.studio_block02_02 .item {
		flex-direction: column;
	}
	.studio_block02_02 .item_in:first-of-type {
		margin-bottom: 10px;
	}
	.studio_block02_02 .item .p_title {
		font-weight: bold;
		font-size: 15px;
		margin-bottom: 10px;
	}
	.studio_block02_02 .item p {
		font-size: 100%;
	}
	.studio_block03 {
		padding-bottom: 50px;
	}

	.studio_block .block01 .block_content {
		width: 100%;
		padding-right: 0;
	}
	.studio_block .block01 .block_image {
		width: 100%;
		margin: 15px auto;
	}
	
}
/*---------------- ▲スマホ以降CSS▲ --------------------*/
/*---------------- ▲スマホ最小CSS▲ --------------------*/
@media screen and (max-width:320px){
	
	
}
/*---------------- ▲スマホ最小CSS▲ --------------------*/


/*---------------- 追加css ------------------*/

.l-planBlock table tr th.col04{
	width:120px;
}