                        						<table width="355" border="0" cellspacing="2" cellpadding="2">

                        								<tr>
                        										<td width="2" bgcolor="#AF1E3D"><img src="/images/share_space.gif" width="2" height="1"></td>
                        										<td width="353" class="font_staff"><a href="detailcolumn.cgi?__DETAIL__NO__">__QUESTION__TEXT__</a></td>
                        										</tr>
                        						</table>

