/*追加しました*/
@import url("add.css");


/*----------------------------------------------------------*/
/* TOP PAGE */
/*----------------------------------------------------------*/
/* Colum3 - Colum Left Layout */
#colum3 .leftBox {
	background-image:url(../images/columLeftBg_01.jpg);
	background-repeat:repeat-y;
}
#colum3 .leftBox .in {
	width:209px;
	margin-left:1px;
	background-image:url(../images/columLeftBg_02.jpg);
	background-position:1px top;
	background-repeat:repeat-x;
	background-color:#F6FBFE;
}
#colum3 .leftBox .in .cat {
	margin:0 0 2px 0;
}
#colum3 .leftBox .in .category {
	margin:4px 0 2px 0;
}
#colum3 .leftBox .in p {
	margin:1em;
}
#colum3 .leftBox .in li {
	margin-bottom:-4px;	/* Win IE Only */
	margin-bottom /**/:0;	/* Hide Win IE */
	padding-left:7px;
}
/*----------------------------------------------------------*/
/* Colum3 - Colum Center Layout */
#colum3 .centerBox {
	background-image:url(../images/columCenterBg.jpg);
	background-repeat:repeat-y;
		margin-left:3px;
}
#colum3 .centerBox .in {
	width:594px;
	margin-left:1px;
}
#colum3 .centerBox .in dl {
	margin:1.5em;
}
#colum3 .centerBox .in dt {
	padding-left:1.2em;
	background-image:url(images/cursor_red.gif);
	background-position:left 0.4em;
	background-repeat:no-repeat;
	float:left;
}
#colum3 .centerBox .in dd {
	padding-left:7em;
	padding-bottom:1em;
}
#colum3 .centerBox .in table {
	margin:0.5em 1.5em 0.5em 1.5em;
}
#colum3 .centerBox .in th {
	padding:0.5em 1.5em 0.5em 0;
}
#colum3 .centerBox .in td {
	padding:0.2em 0 0.2em 0;
}
#colum3 .centerBox .in .listArrowIcon li {
	padding:0.25em 0 0.25em 18px;
	background-image: url(images/iconRedArrow.gif);
	background-position:left 5px;
	background-repeat:no-repeat;
}
#colum3 .centerBox .in .btn {
	padding-left:1.2em;
	background-image:url(images/listIconArrow.gif);
	background-position:left 0.2em;
	background-repeat:no-repeat;
}
/*----------------------------------------------------------*/
/* Colum3 - Colum Wide Layout */
#colum3 .wideBox {
	width:800px;
	margin-left:3px;
	margin-bottom:3px;
}

/*----------------------------------------------------------*/
/* Colum3 - Colum Right Layout */
#colum3 .rightBox {
	background-image:url(../images/columRightBg.jpg);
	background-repeat:repeat-y;
	margin-bottom:6px;
}
#colum3 .rightBox .in {
	width:209px;
	margin-left:1px;
}
#colum3 .rightBox .in p {
	margin:1em;
}
#colum3 .rightBox .in ul {
	margin:6px 0px 8px 7px;
}
#colum3 #columRight li {
	margin-bottom:-4px;	/* Win IE Only */
	margin-bottom /**/:0px;	/* Hide Win IE */
}
/*----------------------------------------------------------*/
/* 2nd PAGE */
/*----------------------------------------------------------*/
/* Colum2 - Bread List Layout */
#colum2 #breadList {
	height:30px;
	background-image:url(images/breadListBg.jpg);
	background-repeat:no-repeat;
}
#colum2 #breadList td {
	vertical-align:middle;
}
#colum2 #breadList td p {
	text-indent:2em;
}
/* Colum2 - Colum Left Layout */
#colum2 #columLeft .sMenu {
	display:block;
	margin-bottom:1em;
	background-color:#FFFFFF;
}
#colum2 #columLeft .sMenu li {
	height:28px;
	margin-bottom:-4px;	/* Win IE Only */
	margin-bottom /**/:0;	/* Hide Win IE */
}
#colum2 #columLeft .sMenu li.second {
	height:18px;
	background-color:#FFFFFF;
}
#colum2 #columLeft .sMenu li.third {
	height:18px;
	background-color:#FFFFFF;
}
#colum2 #columLeft .sMenu li.space {
	height:8px;
	background-color:#FFFFFF;
	font-size: 8px;
	line-height: 8px;
}
#colum2 #columLeft .infoBox {
	width:193px;
	margin:0 auto 0 auto;
	background-color:#FFFFFF;
	border:1px solid #E6E6E6;
}
#colum2 #columLeft .infoBox .fix {
	width:100%;
	margin:0.25em 0 0.5em 0;
}
/* Colum2 - colum Right Layout */
#txtBody {
	width:525px;
	margin: 0 auto 0 auto;
}
/*----------------------------------------------------------*/
/* Set Layout Module Style */
/*----------------------------------------------------------*/
#txtBody h2 {
	display:block;
	margin:35px 0 15px 0;
}
#txtBody h3 {
	margin:0.5em 0 0.5em 0;
	background-color:#DCF0F9;
}
#txtBody h3 strong {
	display:block;
	color:#326698;
	font-size:medium;
	background-color:#DCF0F9;
	padding:0.75em;
	float:left;
}
#txtBody h3 .name {
	font-weight:bold;
	color:#326698;
	font-size:small;
	background-color:#DCF0F9;
	padding:1em 0.75em 0.75em 0.75em;
	float:right;
}
#txtBody h4 {
	padding:5px;
	border-bottom:1px solid #5D90B6;
}
#txtBody h4 strong {
	color:#336699;
	font-size:small;
	padding-left:4px;
	border-left:4px solid #336699;
}
#txtBody h5 {
	background-image:url(images/h4_bg.gif);
	background-position:1px top;		/* Win IE Only */
	background-position /**/:1px 1px;	/* Hide Win IE */
	background-repeat:no-repeat;
}
#txtBody h5 strong {
	color:#336699;
	font-size:small;
	padding-left:18px;
}
#txtBody .mainTxtImg {
	display:block;
	margin:0px 0 35px 0;
}
#txtBody p {
	margin:0.5em 0 0.5em 0;
}
/* -------------------- */
/* LIST                 */
/* -------------------- */
#txtBody .numberList {
    margin: 18px 0 18px 30px;
    padding: 0;
}
#txtBody .numberList li {
	list-style-type:decimal;
	margin: 0;
}
#txtBody .numberList li ul li {
	list-style-type:none;
}
#txtBody .listIconSquare {
	margin:0.75em 0 1.5em 0;
}
#txtBody .listIconSquare li {
	margin:0.25em 0 0.25em 0;
	padding:0 0 0 20px;
	background-image:url(images/listIconSquare.gif);
	background-position:9px 9px;
	background-repeat:no-repeat;
}
#txtBody .listIconArrow {
	margin:0.75em 0 1.5em 0;
}
#txtBody .listIconArrow li {
	margin:0.25em 0 0.25em 0;
	padding:0 0 0 20px;
	background-image:url(images/listIconArrow.gif);
	background-position:6px 6px;
	background-repeat:no-repeat;
}
#txtBody .listIconAttention {
	margin:0.75em 0 1.5em 0;
	color:#EC690D;
}
#txtBody .listIconAttention li {
	margin:0.25em 0 0.25em 0;
	padding:0 0 0 20px;
	background-image:url(images/listIconAttention.gif);
	background-position:3px 5px;
	background-repeat:no-repeat;
}
#txtBody .listIconPDF {
	margin:0.75em 0 1.5em 0;
}
#txtBody .listIconPDF li {
	margin:0.25em 0 0.25em 0;
	padding:0 0 0 20px;
	background-image:url(images/listIconPDF.gif);
	background-position:2px 3px;
	background-repeat:no-repeat;
}
#txtBody .listByTerm {
	margin:0.75em 0 1.5em 0;
}
#txtBody .listByTerm dt {
	font-weight:bold;
}
#txtBody .listByTerm dd {
	margin:0 0 0.75em 2em;
}
/* QandA */
#txtBody .q_and_a {
	margin:0.75em 0 1.5em 0;
}
#txtBody .q_and_a dt {
	margin:0.75em 0 1.5em 0;
}
#txtBody .q_and_a dt span {
	font-size:large;
	font-weight:bold;
	color:#F39800;
}
#txtBody .q_and_a dd {
	margin:0.75em 0 1.5em 0;
}
#txtBody .q_and_a dd th {
	font-size:large;
	font-weight:bold;
	color:#FF0000;
}
#txtBody .q_and_a dd td {
	padding:0.25em 0.5em 0.25em 0.5em;
}
/* -------------------- */
/* FORM                 */
/* -------------------- */
#txtBody .shortField {
	width:60px;
}
#txtBody .middleField {
	width:120px;
}
#txtBody .longField {
	width:250px;
}
/* -------------------- */
/* TABLE                */
/* -------------------- */
#txtBody .fix {
	width:100%;
}
#txtBody .dTable {
	margin:0.75em 0 1.5em 0;
	border-bottom:1px solid #B4DCF9;
	border-right:1px solid #B4DCF9;
}
#txtBody .dTable th {
	padding:0.25em 0.5em 0.25em 0.5em;
	border-top:1px solid #B4DCF9;
	border-left:1px solid #B4DCF9;
	background-color:#D7E9F5;
}
#txtBody .dTable td {
	padding:0.25em 0.5em 0.25em 0.5em;
	border-top:1px solid #B4DCF9;
	border-left:1px solid #B4DCF9;
}
#txtBody .rTable {
	margin:0.75em 0 1.5em 0.75em;
	border-bottom:1px solid #B4DCF9;
	border-right:1px solid #B4DCF9;
}
#txtBody .rTable th {
	padding:0.25em 0.5em 0.25em 0.5em;
	border-top:1px solid #B4DCF9;
	border-left:1px solid #B4DCF9;
	background-color:#D7E9F5;
}
#txtBody .rTable td {
	padding:0.25em 0.5em 0.25em 0.5em;
	border-top:1px solid #B4DCF9;
	border-left:1px solid #B4DCF9;
}
#txtBody .nTable {
	border-width:0px;
}
#txtBody .nTable th {
	padding:0 0 0 0;
	border-width:0px;
	background-color:none;
}
#txtBody .nTable td {
	padding:0 0 0 0;
	border-width:0px;
	background-color:none;
}
#txtBody .gTable {
	background-image:url(../corporation/images/gTableBg.jpg);
	background-position:left top;
	background-repeat:repeat-x;
}
#txtBody .gTable td {
	vertical-align:middle;
	padding:1em 0.5em 1em 0.5em;
}
#txtBody .formTable {
	width:100%;
	margin:0.75em 0 1.5em 0;
	border-bottom:1px solid #FFFFFF;
	border-right:1px solid #FFFFFF;
}
#txtBody .formTable th {
	padding:0.25em 0.5em 0.25em 0.5em;
	border-top:1px solid #FFFFFF;
	border-left:1px solid #FFFFFF;
	background-color:#EFEFEF;
}
#txtBody .formTable td {
	padding:0.25em 0.5em 0.25em 0.5em;
	border-top:1px solid #FFFFFF;
	border-left:1px solid #FFFFFF;
}
#txtBody .formTable .inc {
	border-left-width:0px;
}
#txtBody .formTable table td {
	padding:0.25em 0.5em 0.25em 0;
}
#txtBody .kokusaiTable {
	width:100%;
	margin:0.75em 1em 1.5em -1em;
	border:none;
}
#txtBody .kokusaiTable td {
	width:50%;
	padding:0 1em;
	}

/* history */
#txtBody .historyTable th {
	padding:6px;
	vertical-align:middle;
}
#txtBody .historyTable td {
	vertical-align:middle;
	background-image:url(../about/images/his_line.gif);
	background-position:center top;
	background-repeat:repeat-y;
}

/* eigyou */
.eigyo {
	font-weight:bold;
	color:#0062B1;
	background-image:url(../publishing/images/bookTitle.jpg);
	background-position:1px 1px;
	background-repeat:no-repeat;
	text-indent:20px;
}
.eigyoind{
padding-left:15px;
}

/* about */
.abouttable{
margin:20px 0;
border:none;
float:right;
}

/* honyaku */
.honyaku{
padding-left:1.2em;
}


/* service */
.service{
margin:30px 0 20px 0;
}
.sar_btn{
margin-bottom:20px;
}

/* NEWS */
#txtBody .newsList {
	padding:1em;
}
#txtBody .newsList dl {
	display:block;
}
#txtBody .newsList dt {
	background-image:url(images/cursor_red.gif);
	background-position:left 0.4em;
	background-repeat:no-repeat;
	padding-left:1.2em;
}
#txtBody .newsList dd {
	padding-left:1.2em;
}
#txtBody #news {
	margin:0.75em 0 1.5em 0;
}
#txtBody #news p {
	margin:0 0 1.5em 0;
	/* Hide Mac IE \*/
	margin:0.75em 0 1.5em 0;
	/*  */
}
#txtBody #news div {
	float:right;
	width:160px;
	margin:0 0 1.5em 1em;	/* Win IE Only */
	margin /**/:0 0 0 1em;	/* Hide Win IE */
}
#txtBody #news div img {
	margin-bottom:5px;
}
#txtBody .txtBorder {
	border:1px solid #dbdbdb;
	padding:1em 1em 1em 1em;
}
#txtBody .attFrame {
	border:2px solid #EC690D;
	margin:1em;
	padding:1em;
}
#txtBody .mapFrame {
	border:1px solid #CCCCCC;
	margin:1.5em 0.5em 2em 0.5em;
	padding:0px;
}

/* Split txtBody */
#txtBody .split2 {
	width:525px;
	margin:1em 0 0.25em 0;
}
#txtBody .split2 .cell_L {
	float:left;
	width:256px;
}
#txtBody .split2 .cell_R {
	float:right;
	width:256px;
}
#txtBody .split2 .listBox {
	width:256px;
}
#txtBody .split2 .listBox a.andTo {
	background-image:url(images/cursor_red.gif);
	background-position:left 3px;
	background-repeat:no-repeat;
	padding-left:15px;
}
#txtBody .split2 .listBox .imgTitle {
	display:block;
}
#txtBody .split2 .listBox .txtArea {
	padding:7px;
	border:1px solid #E5E5E5;
	border-top-width:0px;
}
#txtBody .split2 .listBox .txtArea p {
	margin:0 0 0 0.5em;
}
#txtBody .split2 .listBox .txtArea img {
	margin:     0 1em   1.8em 0;		/* Win IE Only */
	margin /**/:0 1.5em 0     0;		/* Hide Win IE */
	border:1px solid #E5E5E5;
}

#txtBody .split2 .listBox .info {
	border:1px solid #E5E5E5;
	padding:0.25em 0.75em 0.25em 0.75em;
}
#txtBody .split2 .listBox .info table td {
	padding-left:10px;
}

/* Text & Image Layout */
#txtBody .layout_TxtImg_L {
	margin:0.75em 0 1.5em 0;
}
#txtBody .layout_TxtImg_L p {
	margin:0 0 1.5em 0;	
	/* Hide Mac IE \*/
	margin:0.75em 0 1.5em 0;
	/*  */
}
#txtBody .layout_TxtImg_L div {
	float:right;
	width:160px;
	margin:0 0 1.5em 1em;	/* Win IE Only */
	margin /**/:0 0 0 1em;	/* Hide Win IE */
}
#txtBody .layout_TxtImg_L div p {
	margin:0.5em 0 0 0;
}
/* Text & Icon Layout */
#txtBody .layout_TxtIcon {
	margin:0.5em 0 0.5em 0;
}
#txtBody .layout_TxtIcon div {
	float:right;
	width:90px;
	margin:0 0 1.5em 1em;	/* Win IE Only */
	margin /**/:0 0 0 1em;	/* Hide Win IE */
}
#txtBody .layout_TxtIcon blockquote {
	margin:0 0 0 1em;	
	/* Hide Mac IE \*/
	margin:0.75em 0 0 1em;
	/*  */
}
#txtBody .layout_TxtIcon blockquote a {
	padding:0 0 0 20px;
	background-image:url(images/listIconArrow.gif);
	background-position:5px 4px;
	background-repeat:no-repeat;
}

/* Commend Book Layout */
#txtBody .bookInfo {
	margin:1em 0 1.5em 0;
}
#txtBody .bookInfo .cover {
	float:left;
	display:block;
	margin-right:20px;
}
#txtBody .bookInfo div {
	float:right;
	width:395px;
}
#txtBody .bookInfo div p.title {
	padding-left:20px;
	background-image:url(../publishing/images/bookTitle.jpg);
	background-position:1px 1px;
	background-repeat:no-repeat;
}
#txtBody .bookInfo div div p {
	float:left;
}
#txtBody .bookInfo div div p a {
	background-image:url(images/cursor_red.gif);
	background-position:left 3px;
	background-repeat:no-repeat;
	padding-left:15px;
}
#txtBody .bookInfo div div img {
	float:right;
}
/* Book List Layout */
#txtBody .bookList {
	margin:1em 0 1.5em 0;
}
#txtBody .bookList .cover {
	float:left;
	display:block;
	margin-right:18px;
}
#txtBody .bookList div {
	float:right;
	width:430px;
}
#txtBody .bookList div p {
	padding-left:20px;
}
#txtBody .bookList div p.title {
	font-weight:bold;
	background-image:url(../publishing/images/bookTitle.jpg);
	background-position:1px 1px;
	background-repeat:no-repeat;
}
#txtBody .bookList div div {
	text-align:right;
}

#txtBody img.pageTop {
	display:block;
	position:relative;
	left:435px;
	width:90px;
}
/*----------------------------------------------------------*/

/* kensaku */
#colum3 .Box {
	width:750px;
	margin-left:30px;
	padding:30px 0;
}
#colum3 .Box p {
	margin:1em;
}
