#colum2 #columLeft .formBox {
	width:195px;
	margin-top: 50;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}

#form_largebtn {
	width:525px;
	margin-top: 50;
	margin-right: auto;
	margin-bottom: 50;
	margin-left: auto;
	text-align: center;
}

.top_banner {
	display: block;
	margin: 15px 0;
}