* {
	margin:0;
	padding:0;
	font-size:100%;
	font-style:normal;
	font-weight:normal;
	text-decoration:none;
}

#globalNavi {
	background-image:url(images/gNaviBg.jpg);
	background-repeat:repeat-x;
}

#globalNavi .menuList {
	position:relative;
	width:816px;
	margin-bottom:-4px;	/* Win IE Only */
	margin-bottom /**/:0;	/* Hide Win IE */
}

.content00{
width:800px;
margin:0px auto;
}

.in{
width:750px;
margin:0px auto;
}