@charset "utf-8";
/* CSS Document */

#interpretation{
	color:#414848;
}

.l-mainVisual{
	width:100%;
	margin:0 auto;
	/*background-color:#fafafa;*/
	background-color:#FFFFFF;
}
.l-mainVisual-inner{
	max-width:1060px;
	width:100%;
	margin: 0px auto;
	padding: 0px 0;
	/*background-color:#fafafa;*/
	background-color:#FFFFFF;
}
.l-mainVisual-inner img{
	max-width:1060px;
	width:100%;
}

.l-interpretationBlock{
	width:100%;
	margin:0 auto;
}
.l-interpretationBlock01{
	margin-top:0px;
	margin-bottom:25px;
}

.l-interpretationBlock02{
	width:100%;
	margin:0 auto;
}
.l-interpretationBlock02 p{
	font-size:87.5%;
	line-height: 1.7;
}
.l-interpretationBlock02 .l-interpretationBlock02-table{
	width:100%;
	display:table;
}
.l-interpretationBlock02 .l-interpretationBlock02-table-cell{
	display:table-cell;
	vertical-align:top;
	font-size:87.5%;
	line-height:1.7;
}
.l-interpretationBlock02 .l-interpretationBlock02-table-cell.p-left{
	width:auto;
	text-align:left;
	padding-top:10px;
}
.l-interpretationBlock02 .l-interpretationBlock02-table-cell.p-right{
	width:328px;
	text-align:right;
}
.l-interpretationBlock02 .l-interpretationBlock02-table-cell.p-left .p-detail{	
	line-height:2;
}
.l-interpretationBlock02 .l-interpretationBlock02-table-cell.p-right .p-detail{	
	text-align:left;
}
.l-interpretationBlock02 .l-interpretationBlock02-table-cell.p-right .p-detail img{	
	max-width:284px;
	width:100%;
}

.l-interpretationBlock03 h4 {
    border-bottom: none;
    padding: 5px 15px;
    margin-top: 40px;
	margin-bottom: 20px;
    font-size: 112.5%;
}
.l-interpretationBlock03 h4.p-fast {
    margin-top: 50px;
}
.l-interpretationBlock03 h4 p {
    font-size: 125%;
    /*font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif;*/
    text-align: left;
    border-bottom: none;
    padding-bottom: 0px; 
     padding-left: 0px; 
}

.l-interpretationBlock04{
	width:100%;
	margin:0 auto;
	background-color:#f2f2f3;
}
.l-interpretationBlock04-table{
	width:100%;
	display:table;
	padding-left:20px;
	border:1px solid #dddddd;
	margin-bottom:20px;
}

.l-interpretationBlock04-table .l-interpretationBlock04-left{
	width:470px;
	display:table-cell;
	vertical-align:top;
	padding:0;
}
.l-interpretationBlock04-left p img{
	vertical-align:top;
}
.l-interpretationBlock04-left p.regist{
	font-size:100%;
	padding:0px 0px 0px 0px;
}
.l-interpretationBlock04-left p:nth-child(1){
	font-size:75%;
	padding:20px 0px 0px 0px;
	font-weight:bold;
	line-height:2;
}
.l-interpretationBlock04-left p:nth-child(2){
	padding:0 30px;
}
.l-interpretationBlock04-left p:nth-child(2) span{
	display:block;
	border-bottom:1px solid #d3d3d3;
	height:15px;
}
.l-interpretationBlock04-left p:nth-child(3){
	padding:20px 0px 0px 0px;
	font-weight:bold;
}
.l-interpretationBlock04-left p:nth-child(4){
	font-size:150%;
	font-weight:bold;
}
.l-interpretationBlock04-left p:nth-child(4) img.p-tel{
	position:relative;
	top:5px;
}
.l-interpretationBlock04-left p:nth-child(4) span{
	position:relative;
	left:10px;
}
.l-interpretationBlock04-left p:nth-child(4) a.p-btn_inquiry{
	position:relative;
	left:35px;
	top:-8px;
}

.l-interpretationBlock04-table .l-interpretationBlock04-left a{
	padding-left:0px;
}

.l-interpretationBlock04-table .l-interpretationBlock04-right{
	max-width:280px;
	display:table-cell;
	vertical-align:top;
	text-align:right;
	padding:0;
}
.l-interpretationBlock04-table .l-interpretationBlock04-right img{
	vertical-align:top;
	max-width:280px;
	width:100%;
}

.l-inquiryBlock{
	width: 100%;
	margin: 0px auto;
	padding-top:50px;
	padding-bottom:80px;
}
.l-inquiryBlock .l-inquiryBlock-table{
	width: 100%;
	display:table;
}
.l-inquiryBlock .l-inquiryBlock-table .p-photo img{
	width: 100%;
}
.l-inquiryBlock .l-inquiryBlock-table > div{
	display:table-cell;
	position:relative;
}
.l-inquiryBlock .l-inquiryBlock-table .p-inquiry{
	padding-right:18px;
}
.l-inquiryBlock .l-inquiryBlock-table .p-inquiry div{
	display:block;
}
.l-inquiryBlock .l-inquiryBlock-table .p-registration{
}
.l-inquiryBlock .l-inquiryBlock-table .p-registration div{
	display:block;
}
.l-inquiryBlock .l-inquiryBlock-table .p-button{
	position:absolute;
	top:66%;
	left:38%;
}

.p-featuresblock {
    width:100%;
	margin:0 auto;
}
.p-featuresblock.p-last {
    padding-bottom:100px;
}
.p-featuresblock .p-title {
    color:#2284c0;
	font-size:112.5%;
	font-weight:bold;
	border-bottom:1px solid #2284c0;
}
.p-featuresblock .p-title.p-fast {
    padding-top:20px;
}
.p-featuresblock .p-message {
    font-size:87.5%;
	line-height: 1.7;
	padding-bottom:20px;
}
.p-featuresblock .p-number .p-message {
    font-size:87.5%;
	line-height: 1.7;
	padding-bottom:20px;
	padding-left:1em;
}
.p-featuresblock .p-gray {
    background-color:#f0f0f0;
	padding:20px;
	font-size:87.5%;
	line-height: 1.7;
}
.p-featuresblock .p-message.p-number01:before {
    content:"1.";
	margin-left:-1.25em;
}
.p-featuresblock .p-message.p-number02:before {
    content:"2.";
	margin-left:-1.25em;
}
.p-featuresblock .p-message.p-number03:before {
    content:"3.";
	margin-left:-1.25em;
}
.p-featuresblock .p-message.p-number04:before {
    content:"4.";
	margin-left:-1.25em;
}
.p-featuresblock .p-message.p-last {
    padding-bottom:0px;
}
.p-featuresblock .p-message.p-fast {
    padding-top:0px;
}
.p-featuresblock .p-message span{
    font-weight:bold;
}
.p-featuresblock .p-message a{
    color:#1382c5;
	text-decoration:underline;
	position:relative;
	top:-2px;
}
.p-featuresblock .p-message2 {
    background-color:#f2f2f3;
	padding:15px;
	margin-top:15px;
	margin-bottom:10px;
	font-size: 87.5%;
}

.p-featuresblock .p-right {
    font-size:87.5%;
	line-height: 1.7;
	text-align:right;
	padding-top:20px;
	padding-bottom:20px;
}
.p-featuresblock .p-right a {
    color:#1382c5;
}
.p-featuresblock1 > p.p-arrow{
	text-align:center;
	padding:15px 0 0;
}
.p-featuresblock .p-featuresblock-00 {
    margin-top: 6px;
    padding: 20px 25px 20px 25px;
    background-color: #FFFFFF;
	box-shadow:0px 0px 4px 2px #e8e8e8;
	-moz-box-shadow:0px 0px 4px 2px #e8e8e8;
	-webkit-box-shadow:0px 0px 4px 2px #e8e8e8;
}

.p-featuresblock-table{
	display:table;
	width:100%;
	padding-top:20px;
}
.p-featuresblock-table p{
	display:table-cell;
	width:auto;
	vertical-align:top;
	font-size:87.5%;
	line-height: 1.7;
}
.p-featuresblock-table p:first-child{
	padding-right:20px;
}

.p-featuresblock4{
	padding-bottom:30px;
}
.p-featuresblock5{
	padding-bottom:30px;
}
.p-featuresblock-table02{
	display:table;
	width:100%;
	
}
.p-featuresblock-table02 p{
	display:table-cell;
	width:50%;
	vertical-align:top;
	font-size:87.5%;
	line-height: 1.7;
	border:1px solid #dddddd;
	padding:10px;
}
.p-featuresblock5 .p-featuresblock-table02 p{
	border-bottom:none;
}
.p-featuresblock5 .p-featuresblock-table02:last-child p{
	border-bottom:1px solid #dddddd;
}
.p-featuresblock-table02 p:last-child{
	border-left:none;
}

.p-featuresblock06{
	width:100%;
	margin:0 auto;
	padding-left:1em;	
}

.p-featuresblock > div {
    padding-top: 0px;
    padding-bottom: 20px;
    position: relative;
}
#flow .p-featuresblock > div {
    padding-bottom: 0px;
}

.p-featuresblock2{
	width:100%;
	display:table;
	padding-top:20px;
}
.p-featuresblock2 > p{
	display:table-cell;
	vertical-align:top;
	width:50%;
	font-size:87.5%;
	line-height:1.7;
}
.p-featuresblock2 > p:first-child{
	text-align:left;
	padding-right:10px;
}
.p-featuresblock2 > p:last-child{
	text-align:right;
	padding-left:10px;
}
.p-featuresblock2 > p.p-kizai1:first-child{
	text-align:left;
	padding-right:15px;
	width:auto;
}
.p-featuresblock2 > p.p-kizai1:last-child{
	text-align:right;
	padding-left:0px;
	width:358px;
}
.p-featuresblock2 > p.p-kizai2:first-child{
	text-align:left;
	padding-right:15px;
	padding-top:20px;
	width:auto;
}
.p-featuresblock2 > p.p-kizai2:last-child{
	text-align:center;
	padding-left:0px;
	padding-top:20px;
	width:358px;
}
.p-featuresblock2 > p.p-kizai2:last-child img{
	width:242px;
}

.p-featuresblock2 > p img{
	width:100%;
}

.p-featuresblock3{
	width:100%;
	padding-top:20px;
}
.p-featuresblock3 > p{
	font-size:87.5%;
	padding-top:20px;
	line-height:1.7;
}
.p-featuresblock3 table tr th{
	background-color:#0d55a6;
	color:#FFFFFF;
	font-size:87.5%;
	font-weight:normal;
	padding:10px 0;
	border:1px solid #dddddd;
	line-height:1.7;
}
.p-featuresblock3 table tr th.col01{
	width:20%;
}
.p-featuresblock3 table tr th.col02{
	width:35%;
}
.p-featuresblock3 table tr th.col03{
	width:20%;
}
.p-featuresblock3 table tr th.col04{
	width:25%;
}
.p-featuresblock3 table tr td{
	font-size:87.5%;
	padding:10px;
	border:1px solid #dddddd;
	line-height:1.7;
}
.p-featuresblock3 table tr td.col01{
	width:20%;
}
.p-featuresblock3 table tr td.col02{
	width:35%;
}
.p-featuresblock3 table tr td.col03{
	width:20%;
}
.p-featuresblock3 table tr td.col04{
	width:25%;
}

.l-flowBlock01{
	width:100%;
	margin:0 auto;	
}
.l-flowBlock01 > p{
	font-size:87.5%;
	padding-bottom:20px;	
	line-height: 1.7;
}

.l-faqBlock01{
	width:100%;
	margin:0 auto;	
}
.l-faqBlock01 .p-faq:first-of-type{
	padding:15px 0 20px;
	border-bottom:3px dotted #cdcfcf;
}
.l-faqBlock01 .p-faq:last-of-type{
	border-bottom:none;
}
.l-faqBlock01 .p-faq{
	padding:35px 0 20px;
	border-bottom:3px dotted #cdcfcf;
}
.l-faqBlock01 p{
	font-size:87.5%;
	line-height: 1.7;
	padding:20px 0;
}
.l-faqBlock01 p.p-faq_q:before{
	position: absolute;
	content: "";
	display: inline-block;
	background: url(../../images/about/ico_faq_01_pc.png) no-repeat;
	background-size: cover;
	width: 40px;
	height: 40px;
	left:0px;
	top:0px;
}
.l-faqBlock01 p.p-faq_q{
	padding-left:50px;
	padding-top:5px;
	position: relative;
	font-size:112.5%;
	color:#1382c5;
	font-weight:bold;
	margin-bottom:5px;
}
.l-faqBlock01 p.p-faq_a:before{
	position: absolute;
	content: "";
	display: inline-block;
	background: url(../../images/about/ico_faq_02_pc.png) no-repeat;
	background-size: cover;
	width: 40px;
	height: 40px;
	left:0px;
	top:0px;
}
.l-faqBlock01 p.p-faq_a{
	padding-left:50px;
	padding-top:5px;
	position: relative;
}

/*-------------------- ▲共通CSS▲ ------------------------*/

/*---------------- ▼PCのみCSS▼ --------------------*/
@media screen and (min-width:1001px){
	
	
	
	
}
/*---------------- ▲PCのみCSS▲ --------------------*/
/*---------------- ▼タブレット以降CSS▼ --------------------*/
@media screen and (max-width:1000px){
	.l-mainVisual{
		padding:3%;
	}	
	.l-interpretationBlock01{
		margin-top:5%;
		margin-bottom:3%;
	}
	
	.l-interpretationBlock02 .l-interpretationBlock02-table{
		width:100%;
		display:block;
	}
	.l-interpretationBlock02 .l-interpretationBlock02-table-cell{
		display:block;
	}
	.l-interpretationBlock02 .l-interpretationBlock02-table-cell.p-left{
		width:100%;
		text-align:left;
		padding-top:10px;
		padding-bottom:10px;
	}
	.l-interpretationBlock02 .l-interpretationBlock02-table-cell.p-right{
		width:100%;
		text-align:center;
	}
	.l-interpretationBlock02 .l-interpretationBlock02-table-cell.p-right .p-detail{	
		text-align:center;
	}
		
	.l-inquiryBlock{
		padding-top:0;
		padding-bottom:3%;
	}
	.l-inquiryBlock .l-inquiryBlock-table{
		width: 100%;
		display:block;
	}
	.l-inquiryBlock .l-inquiryBlock-table .p-photo img{
		width: 100%;
	}
	.l-inquiryBlock .l-inquiryBlock-table > div{
		display:block;
	}
	.l-inquiryBlock .l-inquiryBlock-table .p-inquiry{
		padding-right:0;
	}
	
	.p-featuresblock.p-last {
		padding-bottom: 50px;
	}
	
	.p-featuresblock > div {
		padding-top: 0px;
		padding-bottom: 20px;
		position: relative;
	}
	
	.p-featuresblock2 > p.p-kizai1:first-child{
		display:block;
		text-align:left;
		padding-right:0px;
		width:100%;
	}
	.p-featuresblock2 > p.p-kizai1:last-child{
		display:block;
		text-align:center;
		padding-left:0px;
		padding-top:20px;
		margin:0 auto;
		width:358px;
	}
	.p-featuresblock2 > p.p-kizai2:first-child{
		display:block;
		text-align:left;
		padding-left:0px;
		padding-top:20px;
		margin:0 auto;
		width:100%;
	}
	.p-featuresblock2 > p.p-kizai2:last-child{
		display:block;
		text-align:center;
		padding-left:0px;
		padding-top:20px;
		margin:0 auto;
		width:242px;
	}
	
	.p-featuresblock3 table tr th{
		padding:10px;
	}
	.p-featuresblock3 table tr th.col01{
		width:100%;
	}
	.p-featuresblock3 table tr th.col02{
		display:none;
	}
	.p-featuresblock3 table tr th.col03{
		display:none;
	}
	.p-featuresblock3 table tr th.col04{
		display:none;
	}
	.p-featuresblock3 table tr td.col01{
		width:100%;
	}
	.p-featuresblock3 table tr td.col02{
		display:none;
	}
	.p-featuresblock3 table tr td.col03{
		display:none;
	}
	.p-featuresblock3 table tr td.col04{
		display:none;
	}
		
}
/*---------------- ▲タブレット以降CSS▲ --------------------*/
/*---------------- ▼タブレットのみ（1024～641）CSS▼ --------------------*/
@media screen and (max-width:1000px) and (min-width:481px) {
	
}
/*---------------- ▲タブレットのみ（1024～641）CSS▲ --------------------*/
/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){
	
	.l-interpretationBlock02 .l-interpretationBlock02-table-cell.p-right img{
		width:100%;
	}

	.p-featuresblock .p-featuresblock-00 {
		margin-top: 6px;
		padding: 15px;
		background-color: #FFFFFF;
		box-shadow:0px 0px 4px 2px #e8e8e8;
		-moz-box-shadow:0px 0px 4px 2px #e8e8e8;
		-webkit-box-shadow:0px 0px 4px 2px #e8e8e8;
	}
	
	.p-featuresblock1 > p.p-arrow img{
		width:50%;
	}
	
	.p-featuresblock2{
		width:100%;
		display:block;
		padding-top:20px;
	}
	.p-featuresblock2 > p{
		display:block;
		width:100%;
	}
	.p-featuresblock2 > p:first-child{
		text-align:center;
		padding-right:0px;
	}
	.p-featuresblock2 > p:last-child{
		text-align:center;
		padding-left:0px;
		padding-top:10px;
	}
	.p-featuresblock2 > p.p-kizai1:first-child{
		display:block;
		text-align:left;
		padding-right:0px;
		width:100%;
	}
	.p-featuresblock2 > p.p-kizai1:last-child{
		display:block;
		text-align:center;
		padding-left:0px;
		padding-top:20px;
		margin:0 auto;
		width:100%;
	}
	.p-featuresblock2 > p.p-kizai2:first-child{
		display:block;
		text-align:left;
		padding-right:0px;
		width:100%;
	}
	.p-featuresblock2 > p.p-kizai2:last-child{
		display:block;
		text-align:center;
		padding-left:0px;
		padding-top:20px;
		margin:0 auto;
		width:100%;
	}
	
	.p-featuresblock2 > p img{
		width:100%;
	}
	
	.l-faqBlock01 p.p-faq_q:before{
		width: 20px;
		height: 20px;
	}
	.l-faqBlock01 p.p-faq_q{
		padding-left:30px;
		padding-top:0px;
	}
	.l-faqBlock01 p.p-faq_a:before{
		width: 20px;
		height: 20px;
	}
	.l-faqBlock01 p.p-faq_a{
		padding-left:30px;
		padding-top:0px;
	}
	
	.p-featuresblock-table{
		display:block;
		width:100%;
		padding-top:20px;
	}
	.p-featuresblock-table p{
		display:block;
		width:100%;
	}
	.p-featuresblock-table p:first-child{
		padding-right:0px;
		text-align:center;
	}
	
	.p-featuresblock-table02{
		display:block;
		width:100%;
		
	}
	.p-featuresblock-table02 p:first-child{
		display:block;
		width:100%;
		vertical-align:top;
		font-size:87.5%;
		line-height: 1.7;
		border:1px solid #dddddd;
		padding:10px;
	}
	.p-featuresblock-table02 p:last-child{
		display:none;
	}
	.p-featuresblock5 .p-featuresblock-table02 p{
		border-bottom:none;
	}
	.p-featuresblock5 .p-featuresblock-table02:last-child p{
		border-bottom:1px solid #dddddd;
	}
	.p-featuresblock-table02 p:last-child{
		border-left:none;
	}
	
}
/*---------------- ▲スマホ以降CSS▲ --------------------*/
/*---------------- ▲スマホ最小CSS▲ --------------------*/
@media screen and (max-width:320px){
	
	
}
/*---------------- ▲スマホ最小CSS▲ --------------------*/