						<table width="510" border="0" cellspacing="2" cellpadding="0">
                                		<tr>

                                				<td width="15"><img src="/client/images/client_faq_q.gif" width="12" height="16"></td>
                                				<td width="495" class="s3"> <a href="detailfaq.cgi?__DETAIL__NO__">__QUESTION__TEXT__ </a></td>
                           				</tr>
                                		<tr>
                                				<td height="1" colspan="2"><img src="/images/share_client_line510.gif" width="510" height="1"></td>
                           				</tr>

                                		</table>