@charset "utf-8";
/* CSS Document */

/*.p-mainVisual{

    width:100%;
    margin:0 auto;
}

.p-mainVisual-inner{

}
.p-mainVisual img{
    max-width:1060px;
    width:100%;
}*/


.l-slider{
    width:100%;
    margin:0 auto;
    /*background-color:#fafafa;*/
    background-color:#FFFFFF;
    padding-bottom:0px;
}

.l-slider-inner{
    max-width:1059px;
    width:100%;
    margin: 0px auto;
    padding: 20px 0 0;
    /*background-color:#fafafa;*/
    background-color:#FFFFFF;
}

.l-mainVisual{
    width:100%;
    margin:0 auto;
    /*background-color:#fafafa;*/
    background-color:#FFFFFF;
}
.l-mainVisual-inner{
    max-width:1060px;
    width:100%;
    margin: 0px auto;
    padding: 20px 0 0px;
    /*background-color:#fafafa;*/
    background-color:#FFFFFF;
}
.l-mainVisual-inner div{
    /*position:relative;*/
    line-height:1;
}
.l-mainVisual-inner div > img{
    width:100%;
}
.l-mainVisual-inner div p img{
    margin-right:0;
}
.p-mainVisual-inquiry{
    position:absolute;
    top:71%;
    left:13.5%;
}

.l-businessBlock{
    width: 100%;
    margin: 0px auto;
    padding-bottom:0px;
}
.l-businessBlock h2{
    text-align:center;
}
.l-businessBlock-table{
    width: 100%;
    display:table;
    padding-top:20px;
}
.l-businessBlock-table .l-businessBlock-cell{
    width: 50%;
    display:table-cell;
}
.l-businessBlock-table .l-businessBlock-cell .l-businessBlock-cell01{
    border:1px solid #e7e7e7;
    padding:20px;
}
.l-businessBlock-table .l-businessBlock-cell .l-businessBlock-cell01_1{
    padding:20px;
    border:1px solid #e7e7e7;
    display:table;
}
.l-businessBlock-table .l-businessBlock-cell .l-businessBlock-cell01_1 div{
    display:table-cell;
    vertical-align:top;
}
.l-businessBlock-table .l-businessBlock-cell .l-businessBlock-cell01_1 div.p-photo{
    width:180px;
}
.l-businessBlock-table .l-businessBlock-cell .l-businessBlock-cell01_1 div.p-photo img{
    border: 1px solid #e7e7e7;
}
.l-businessBlock-table .l-businessBlock-cell .l-businessBlock-cell01_1 div.p-message{
    width:auto;
    padding-left:20px;
    font-size:87.5%;
    position:relative;
}
.l-businessBlock-cell01_1 div.p-message p{
    line-height:1.7;
}
.l-businessBlock-cell01_1 div.p-message p.p-all{
    text-align:right;
    position:absolute;
    right:0px;
    bottom:2px;
}
.l-businessBlock-cell01_1 div.p-message p.p-all a{
    color:#0254b5;
}
.l-businessBlock-cell01_1 div.p-message p.p-all a:after{
    content:" ";
    display:inline-block;
    width:15px;
    height:15px;
    vertical-align:middle;
    background:url("../images/top/ico_arrow2_pc.png") no-repeat;
    padding-left:8px;
    position:relative;
    top:-2px;
    left:5px;
    background-size:contain;
}

.l-businessBlock-table .l-businessBlock-cell .l-businessBlock-cell01{
    margin-right:14px;
    background:#0048a8;
    color:#FFFFFF;
}
.l-businessBlock-table .l-businessBlock-cell .l-businessBlock-cell01 + div
{
    margin-right:14px;
    border-top:none;
    background-color:#FFFFFF;
}
.l-businessBlock-banner{
    width: 100%;
    margin: 30px auto 50px;
}
.l-businessBlock-banner img{
    border: 1px solid #e7e7e7;
}

.l-interpretationBlock{
    width:100%;
    margin:0 auto;
    padding-bottom:30px;
}
.l-interpretationBlock01{
    border-bottom:5px solid #d0e5fd;
    margin-bottom:5px;
}
.p-interpretationTitle {
    font-size: 150%;
    /*font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif;*/
    letter-spacing: .1em;
    text-align: left;
    border-bottom:1px solid #9bb8d8;
    padding-bottom:10px;
    color:#414848;
}

.l-interpretationBlock02{
    width:100%;
    margin:0 auto;
    padding:20px 0 0;
}
.l-interpretationBlock02 p{
    line-height:1.7;
    font-size:75%;
}
.l-interpretationBlock02-table{
    width:100%;
    display:table;
    padding:0px;
}
.l-interpretationBlock02-table .l-interpretationBlock02-cell{
    width:33.3%;
    display:table-cell;
    vertical-align:top;
}
.l-interpretationBlock02-table .l-interpretationBlock02-cell > div{
    padding:15px 20px 60px;
    background-color:#f2f2f3;
    position:relative;
}
.l-interpretationBlock02-table .l-interpretationBlock02-cell:nth-child(1) > div{
    margin-left:0px;
    margin-right:10px;
}
.l-interpretationBlock02-table .l-interpretationBlock02-cell:nth-child(2) > div{
    margin-left:5px;
    margin-right:5px;
}
.l-interpretationBlock02-table .l-interpretationBlock02-cell:nth-child(3) > div{
    margin-left:10px;
    margin-right:0px;
}
.l-interpretationBlock02 p.p-title{
    color:#0254b5;
    font-size:100%;
}
.l-interpretationBlock02 p.p-title a{
    color:#0254b5;
}
.l-interpretationBlock02 p.p-photo{
    padding:10px 0;
}
.l-interpretationBlock02 p.p-photo img{
    border:1px solid #dddddd;
    width:100%;
}
.l-interpretationBlock02 p.p-message{
    height:70px;
}
.l-interpretationBlock02 p.p-all{
    text-align:right;
    position:absolute;
    right:20px;
    bottom:15px;
}
.l-interpretationBlock02 p.p-all a{
    color:#0254b5;
}
.l-interpretationBlock02 p.p-all a.p-more:after{
    content:" ";
    display:inline-block;
    width:15px;
    height:15px;
    vertical-align:middle;
    background:url("../images/top/ico_arrow2_pc.png") no-repeat;
    padding-left:8px;
    position:relative;
    top:-2px;
    left:5px;
    background-size:contain;
}
.l-interpretationBlock02-table .l-interpretationBlock02-cell.p-middle{
    vertical-align:middle;
}
.l-interpretationBlock02-table .l-interpretationBlock02-cell .p-honyaku{
    text-align:center;
}
.l-interpretationBlock02-table .l-interpretationBlock02-cell .p-honyaku img{
    max-width:324px;
    width:100%;
    text-align:center;
}

.l-bannerBlock{
    width:100%;
    margin:0 auto;
    padding-bottom:50px;
}
.l-bannerBlock img{
    width:100%;
}

.l-newsBlock{
    width: 100%;
    margin: 0px auto;
    padding-bottom:0px;
}
.l-newsBlock01{
    width: 100%;
    background-color:#0048a8;
    padding:15px 20px;
    border:1px solid #f3f3f3;
}
.l-newsBlock01-table{
    width:100%;
    display:table;
}
.l-newsBlock01 p{
    color:#FFFFFF;
    display:table-cell;
    vertical-align:middle;
}
.l-newsBlock01 p img{
    padding-top:3px;
}
.l-newsBlock01 p + p{
    text-align:right;
}
.l-newsBlock02{
    width: 100%;
    background-color:#FFFFFF;
    border:1px solid #dddddd;
    border-top:none;
}
.l-newsBlock02-table{
    width: 100%;
    display:table;
}
.l-newsBlock02 a:last-child .l-newsBlock02-table{
    padding-bottom:30px;
}
.l-newsBlock02-table:hover{
    -webkit-transition:.3s;
    transition:.3s;
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity:.7;
}
.l-newsBlock02-table > div{
    display:table-cell;
    vertical-align:top;
}
/*.l-newsBlock02-table .p-photo{
    padding:15px 40px;
    width:400px;
}
.l-newsBlock02-table .p-photo img{
    vertical-align:middle;
}*/
.l-newsBlock02-table .p-date{
    text-align:left;
    width:120px;
    padding:30px 10px 0px 30px;
}
.l-newsBlock02-table .p-date p{
    font-size:100%;
}
.l-newsBlock02-table .p-date p span{
    font-size:75%;
}
.l-newsBlock02-table .p-category{
    padding-left:10px;
    width:150px;
    text-align:left;
    padding:30px 0px 0px 10px;
}
.l-newsBlock02-table .p-category img{
    max-width:140px;
    width:100%;
}
.l-newsBlock02-table .p-message{
    padding-left:10px;
    width:auto;
    text-align:left;
    padding:30px 30px 0px 20px;
}

.l-inquiryBlock{
    width: 100%;
    margin: 0px auto;
    padding-top:50px;
    padding-bottom:20px;
}
.l-inquiryBlock .l-inquiryBlock-table{
    width: 100%;
    display:table;
}
.l-inquiryBlock .l-inquiryBlock-table .p-photo img{
    width: 100%;
}
.l-inquiryBlock .l-inquiryBlock-table > div{
    display:table-cell;
    position:relative;
}
.l-inquiryBlock .l-inquiryBlock-table .p-inquiry{
    padding-right:18px;
}
.l-inquiryBlock .l-inquiryBlock-table .p-inquiry div{
    display:block;
}
.l-inquiryBlock .l-inquiryBlock-table .p-registration{
}
.l-inquiryBlock .l-inquiryBlock-table .p-registration div{
    display:block;
}
.l-inquiryBlock .l-inquiryBlock-table .p-button{
    position:absolute;
    top:57%;
    left:4%;
}

.l-inquiryBlock .p-honyaku img{
    max-width:324px;
    width:100%;
    text-align:center;
}


/* 20240411 */
.l-interpretationBlock02 p.p-title span {
    font-size: .8rem;
}


/*-------------------- ▲共通CSS▲ ------------------------*/

/*---------------- ▼PCのみCSS▼ --------------------*/
@media screen and (min-width:1001px){




}
/*---------------- ▲PCのみCSS▲ --------------------*/
/*---------------- ▼タブレット以降CSS▼ --------------------*/
@media screen and (max-width:1000px){

    .pickup_block{
        max-width:1200px;
        width:100%;
        margin:0 auto;
        background-color:#f2f2f2;
        padding:13px 0;
        text-align:center;
    }
    .pickup_block .pickup-table{
        max-width:940px;
        width:100%;
        margin:0 auto;
    }
    .pickup_block .pickup-table tr .col1{
        width:100%;
        display:block;

    }
    .pickup_block .pickup-table tr .col1 p{
        background-color:#fbbf00;
        padding:10px 0;
        text-align:center;
        font-size:14px;
        color:#FFFFFF;
    }
    .pickup_block .pickup-table tr .col2{
        width:100%;
        display:block;
    }
    .pickup_block .pickup-table tr .col2 a{
        text-decoration:underline;
    }
    .pickup_block .pickup-table tr .col2 p{
        background-color:#FFFFFF;
        padding:10px 5px;
        text-align:center;
        font-size:14px;
    }
    .pickup_block .pickup-table tr .col3{

        display:none;
    }

    .l-mainVisual-inner{
        max-width:1060px;
        width:100%;
        margin: 0px auto;
        padding:3%;
        /*background-color:#fafafa;*/
        background-color:#FFFFFF;
    }
    .l-mainVisual-inner div p{
        text-align:left;
        line-height: 1.7;
        font-size: 87.5%;
        margin-top:3%;
    }
    .l-interpretationBlock{
        padding-bottom:0px;
    }
    .l-interpretationBlock02{
        padding:0px 0 0;
    }
    .l-interpretationBlock02-table{
        display:block;
        padding:0px;
    }
    .l-interpretationBlock02-table .l-interpretationBlock02-cell{
        width:100%;
        display:block;
        margin:0% auto 3%;
    }
    .l-interpretationBlock02-table .l-interpretationBlock02-cell > div{
        padding:3% 3% 10%;
    }
    .l-interpretationBlock02-table .l-interpretationBlock02-cell:nth-child(1) > div{
        margin-left:0px;
        margin-right:0px;
        margin-top:3%;
    }
    .l-interpretationBlock02-table .l-interpretationBlock02-cell:nth-child(2) > div{
        margin-left:0px;
        margin-right:0px;
    }
    .l-interpretationBlock02-table .l-interpretationBlock02-cell:nth-child(3) > div{
        margin-left:0px;
        margin-right:0px;
    }
    .l-interpretationBlock02 p.p-photo{
        padding:0 0 3%;
    }
    .l-interpretationBlock02 p.p-message{
        height:70px;
    }
    .l-interpretationBlock02 p.p-all a:after{
        background:url("../images/top/ico_arrow2_sp.png") no-repeat;
        padding-left:0px;
        background-size:15px auto;
    }
    .l-interpretationBlock02-table .l-interpretationBlock02-cell .p-honyaku img{
        padding:0%;
    }

    .l-newsBlock01{
        padding:3%;
    }
    .l-newsBlock01 p{
        font-weight:bold;
    }
    .l-newsBlock01 img{
        max-width:97px;
        width:100%;
    }

    .l-newsBlock02{
    }
    .l-newsBlock02-table{
        width: 100%;
        display:block;
    }
    .l-newsBlock02 a:last-child .l-newsBlock02-table{
        padding-bottom:0px;
    }
    .l-newsBlock02-table > div{
        display:inline-block;
    }
    .l-newsBlock02-table .p-date{
        text-align:left;
        width:auto;
        padding:15px 10px 0px 3%;
    }
    .l-newsBlock02-table .p-date p{
        font-size:100%;
    }
    .l-newsBlock02-table .p-date p span{
        font-size:75%;
    }
    .l-newsBlock02-table .p-category{
        padding-left:10px;
        width:160px;
        text-align:left;
        padding:15px 3% 0px 10px;
    }
    .l-newsBlock02-table .p-category img{
        max-width:140px;
        width:100%;
    }
    .l-newsBlock02-table .p-message{
        padding-left:10px;
        width:100%;
        text-align:left;
        padding:10px 3% 10px 3%;
        display:block;
        border-bottom:1px solid #e7e7e7;
    }
    .l-newsBlock02 a:last-child .l-newsBlock02-table .p-message{
        border-bottom:none;
    }

    .l-inquiryBlock{
        padding-top:3%;
        padding-bottom:3%;
    }
    .l-inquiryBlock .l-inquiryBlock-table{
        width: 100%;
        display:block;
    }
    .l-inquiryBlock .l-inquiryBlock-table .p-photo img{
        width: 100%;
    }
    .l-inquiryBlock .l-inquiryBlock-table > div{
        display:block;
    }
    .l-inquiryBlock .l-inquiryBlock-table .p-inquiry{
        padding-right:0;
    }

    .l-mainVisual-inner div img {
        width: 100%;
    }

}
/*---------------- ▲タブレット以降CSS▲ --------------------*/
/*---------------- ▼タブレットのみ（1024～641）CSS▼ --------------------*/
@media screen and (max-width:1000px) and (min-width:481px) {

}
/*---------------- ▲タブレットのみ（1024～641）CSS▲ --------------------*/
/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){


    .l-mainVisual-inner div p{
        text-align:center;
        line-height: 1.7;
        font-size: 87.5%;
        width: 100%;
    }
    .l-interpretationBlock02 p.p-message{
        height:40px;
        overflow-y:hidden;
    }
    .l-newsBlock02-table .p-date{
        padding:17px 10px 0px 3%;
    }
    .l-interpretationBlock02-table .l-interpretationBlock02-cell > div{
        padding:3% 3% 15%;
    }

    .l-mainVisual-inner div img {
        width: 100%;
    }

}
/*---------------- ▲スマホ以降CSS▲ --------------------*/
/*---------------- ▲スマホ最小CSS▲ --------------------*/
@media screen and (max-width:320px){


}
/*---------------- ▲スマホ最小CSS▲ --------------------*/
