@charset "utf-8";
/* CSS Document */

#interpretation{
	color:#414848;
}

.l-mainVisual{
	width:100%;
	margin:0 auto;
	/*background-color:#fafafa;*/
	background-color:#FFFFFF;
}
.l-mainVisual-inner{
	max-width:1060px;
	width:100%;
	margin: 0px auto;
	padding: 0px 0;
	/*background-color:#fafafa;*/
	background-color:#FFFFFF;
}
.l-mainVisual-inner img{
	max-width:1060px;
	width:100%;
}

.l-interpretationBlock{
	width:100%;
	margin:0 auto;
	/*padding-bottom:200px;*/
}
.l-interpretationBlock01{
	/*border-bottom:5px solid #d0e5fd;*/
	margin-top:0px;
	margin-bottom:25px;
}
/*.p-interpretationTitle {
    font-size: 150%;
    font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
    letter-spacing: .1em;
    text-align: left;
	border-bottom:1px solid #9bb8d8;
	padding-bottom:10px;
}*/

.l-interpretationBlock02{
	width:100%;
	margin:0px auto 20px;
	background-color:#f2f2f3;
	padding-bottom:20px;
}
.l-interpretationBlock02 p{
	line-height:1.7;
	padding:20px 20px 0;
	font-size:87.5%;
}
.l-interpretationBlock02 p > img{
	width:100%;
}
.l-interpretationBlock02-table{
	width:100%;
	display:table;
	padding:20px;
}
.l-interpretationBlock02-table div{
	width:25%;
	display:table-cell;
}
.l-interpretationBlock02-table div:nth-child(1){
	padding-right:6px;
}
.l-interpretationBlock02-table div:nth-child(2){
	padding-left:3px;
	padding-right:3px;
}
.l-interpretationBlock02-table div:nth-child(3){
	padding-left:3px;
	padding-right:3px;
}
.l-interpretationBlock02-table div:nth-child(4){
	padding-left:6px;
}
.l-interpretationBlock02-table div a img{
	border:1px solid #dddddd;
	width:100%;
}
.l-interpretationBlock02-table div:last-child{
	padding-right:0px;
}

.l-interpretationBlock04{
	width:100%;
	margin:0 auto;
	background-color:#f2f2f3;
}
.l-interpretationBlock04-table{
	width:100%;
	display:table;
	/*background:url("../../images/tsuyaku/bg_inquiry_01_pc.png") no-repeat;
	background-size:100% auto;*/
	padding-left:20px;
	border:1px solid #dddddd;
	margin-bottom:20px;
}

.l-interpretationBlock04-table .l-interpretationBlock04-left{
	width:470px;
	display:table-cell;
	vertical-align:top;
	padding:0;
}
.l-interpretationBlock04-left p img{
	vertical-align:top;
}
.l-interpretationBlock04-left p.regist{
	font-size:100%;
	padding:0px 0px 0px 0px;
}
.l-interpretationBlock04-left p:nth-child(1){
	font-size:75%;
	padding:20px 0px 0px 0px;
	font-weight:bold;
	line-height:2;
}
.l-interpretationBlock04-left p:nth-child(2){
	padding:0 30px;
}
.l-interpretationBlock04-left p:nth-child(2) span{
	display:block;
	border-bottom:1px solid #d3d3d3;
	height:15px;
}
.l-interpretationBlock04-left p:nth-child(3){
	padding:20px 0px 0px 0px;
	font-weight:bold;
}
.l-interpretationBlock04-left p:nth-child(4){
	font-size:150%;
	font-weight:bold;
}
.l-interpretationBlock04-left p:nth-child(4) img.p-tel{
	position:relative;
	top:5px;
}
.l-interpretationBlock04-left p:nth-child(4) span{
	position:relative;
	left:10px;
}
.l-interpretationBlock04-left p:nth-child(4) a.p-btn_inquiry{
	position:relative;
	left:35px;
	top:-8px;
}
/*.l-interpretationBlock04-left p + p{
	font-size:112.5%;
	font-weight:bold;
	padding:0px 0px 0px 0px;
}
.l-interpretationBlock04-left p + p + p{
	font-size:187.5%;
	font-weight:bold;
	padding:0px 0px 0px 0px;
}*/

.l-interpretationBlock04-table .l-interpretationBlock04-left a{
	padding-left:0px;
}
/*.l-interpretationBlock04-table .l-interpretationBlock04-center{
	width:auto;
	display:table-cell;
	vertical-align:bottom;
	text-align:left;
	padding-bottom:20px;
}
.l-interpretationBlock04-table .l-interpretationBlock04-center a{
	position:relative;
	left:-20px;
}*/
.l-interpretationBlock04-table .l-interpretationBlock04-right{
	max-width:280px;
	display:table-cell;
	vertical-align:top;
	text-align:right;
	padding:0;
}
.l-interpretationBlock04-table .l-interpretationBlock04-right img{
	vertical-align:top;
	max-width:280px;
	width:100%;
}

.l-conventionlist-table{
	width:100%;
	display:table;	
	margin-top:10px;
}
.l-conventionlist-table .l-conventionlist-table-cell{
	width:50%;
	display:table-cell;
	vertical-align:top;
}
.l-conventionlist-table .l-conventionlist-table-cell .l-outside{
	border-radius:5px;
	border:1px solid #dddddd;
}
.l-conventionlist-table .l-conventionlist-table-cell:nth-child(odd) .l-outside{
	margin-left:0px;
	margin-right:5px;
}
.l-conventionlist-table .l-conventionlist-table-cell:nth-child(even) .l-outside{
	margin-left:5px;
	margin-right:0px;
}
.l-conventionlist-table .l-conventionlist-table-cell .l-inside{
	border-radius:5px;
	border:4px solid #f4f4f4;
	padding:15px 15px;
}
.l-conventionlist-table .l-conventionlist-table-cell .l-inside img{
	width:100%;
}


.l-conventionlist-table .l-conventionlist-table-cell .l-inside .p-title a{
	font-size:87.5%;
}
.l-conventionlist-table .l-conventionlist-table-cell .l-inside .p-title a span:before{
	content:"";
	display:inline-block;
    width:13px;
    height:14px;
    vertical-align:middle;
	position:relative;
	top:-1px;
	left:-5px;
	background:url("../../images/kokusai/ico_convention_01_pc.png") no-repeat;    
    background-size:contain;
}
.l-conventionlist-table .l-conventionlist-table-cell .l-inside .p-title a span{
	padding-left:1.2rem;
	text-indent:-0.75rem;
	display:inline-block;
}

.l-convention-button{
	width:100%;
	margin:20px auto;	
}
.l-convention-button p{
	text-align:center;
}
.l-convention-button p a img{
	max-width:375px;
	width:100%;
}
.l-convention-button p a:nth-child(1) img{
	margin-right:7px;
	margin-bottom:5px;
}
.l-convention-button p a:nth-child(2) img{
	margin-left:7px;
	margin-bottom:5px;
}

.l-inquiryBlock{
	width: 100%;
	margin: 0px auto;
	padding-top:50px;
	padding-bottom:80px;
}
.l-inquiryBlock .l-inquiryBlock-table{
	width: 100%;
	display:table;
}
.l-inquiryBlock .l-inquiryBlock-table .p-photo img{
	width: 100%;
}
.l-inquiryBlock .l-inquiryBlock-table > div{
	display:table-cell;
	position:relative;
}
.l-inquiryBlock .l-inquiryBlock-table .p-inquiry{
	padding-right:18px;
}
.l-inquiryBlock .l-inquiryBlock-table .p-inquiry div{
	display:block;
}
.l-inquiryBlock .l-inquiryBlock-table .p-registration{
}
.l-inquiryBlock .l-inquiryBlock-table .p-registration div{
	display:block;
}
.l-inquiryBlock .l-inquiryBlock-table .p-button{
	position:absolute;
	top:66%;
	left:38%;
}

.l-conferenceBlock{
	width:100%;
	display:block;	
	margin:0px auto 20px;
	background-color:#f2f2f3;
	padding:20px;
}
.l-conferenceBlock > p{
	font-size:87.5%;
	padding-bottom:20px;	
	line-height: 1.7;
}
.l-conferenceBlock > p img{
	width:100%;
}
.l-conferenceBlock .l-conferenceBlock01-table{
	width:100%;
	display:table;	
}
.l-conferenceBlock .l-conferenceBlock01-table .l-conferenceBlock01-table-cell{
	width:50%;
	display:table-cell;	
	vertical-align:middle;
}
.l-conferenceBlock .l-conferenceBlock01-table .l-conferenceBlock01-table-cell p{
	text-align:center;
	font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
	line-height:2.2;
	color:#205fb3;
	font-weight:bold;
}
.l-conferenceBlock .l-conferenceBlock01-table .l-conferenceBlock01-table-cell p span{
	display:block;
	text-align:left;
	font-size:125%;
	line-height:1.5;
}
.l-conferenceBlock .l-conferenceBlock01-table .l-conferenceBlock01-table-cell p span:last-child{
	text-align:right;
}

.l-conferenceBlock02{
	width:100%;
	display:block;	
	margin:0px auto 20px;
}
.l-conferenceBlock02 > p{
	font-size:87.5%;
	padding-bottom:0px;
	line-height: 1.7;
}
.l-conferenceBlock02-table{
	width:100%;
	display:table;	
}
.l-conferenceBlock02-table .l-conferenceBlock02-table-cell{
	display:table-cell;	
	vertical-align:top;
}
.l-conferenceBlock02-table .l-conferenceBlock02-table-cell:first-child{
	width:164px;
}
.l-conferenceBlock02-table .l-conferenceBlock02-table-cell:last-child{
	width:auto;
	padding:10px 25px;
}
.l-conferenceBlock02-table .l-conferenceBlock02-table-cell:last-child .l-conferenceBlock02-list01{
	padding-bottom:30px;
}
.l-conferenceBlock02-table .l-conferenceBlock02-table-cell:last-child .l-conferenceBlock02-list02{
	padding-bottom:30px;
}
.l-conferenceBlock02-table .l-conferenceBlock02-table-cell:last-child .l-conferenceBlock02-list03,
.l-conferenceBlock02-table .l-conferenceBlock02-table-cell:last-child .l-conferenceBlock02-list04,
.l-conferenceBlock02-table .l-conferenceBlock02-table-cell:last-child .l-conferenceBlock02-list05{
	padding-bottom:20px;
}
.l-conferenceBlock02-table .l-conferenceBlock02-table-cell:last-child .p-step p{
	padding:2% 3%;
	color:#FFFFFF;
	margin-bottom:10px;
	font-size:112.5%;
	display:none;
}
.l-conferenceBlock02-table .l-conferenceBlock02-table-cell:last-child .p-step1 p{
	background-color:#b8d5ee;
}
.l-conferenceBlock02-table .l-conferenceBlock02-table-cell:last-child .p-step2 p{
	background-color:#9bc7ec;
}
.l-conferenceBlock02-table .l-conferenceBlock02-table-cell:last-child .p-step3 p{
	background-color:#7bb4e5;
}
.l-conferenceBlock02-table .l-conferenceBlock02-table-cell:last-child .p-step4 p{
	background-color:#5ba2df;
}
.l-conferenceBlock02-table .l-conferenceBlock02-table-cell:last-child .p-step5 p{
	background-color:#398acf;
}
.l-conferenceBlock02-table .l-conferenceBlock02-table-cell:last-child .p-title{
	border-bottom: 2px solid #dae3f0;
}
.l-conferenceBlock02-table .l-conferenceBlock02-table-cell:last-child .p-title p{
	font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
	line-height:1.7;
	color:#205fb3;
	font-weight:bold;
	font-size:112.5%;
	border-bottom: 1px solid #9bb8d8;
	padding-bottom:10px;
}
.l-conferenceBlock02-table .l-conferenceBlock02-table-cell:last-child span{
	margin-right:10px;
	font-size:87.5%;
	display:inline-block;
	padding-top:8px;
}

.l-conferenceBlock03{
	width:100%;
	display:block;	
	margin:0px auto 40px;
}
.l-conferenceBlock03 > p{
	font-size:87.5%;
	padding:0 0 20px;
	line-height: 1.7;
}
.l-conferenceBlock03 > p:last-child{
	padding:0 0;
}

.p-featuresblock {
    width:100%;
	margin:0 auto;
}
.p-featuresblock .p-title {
    color:#2284c0;
	font-size:112.5%;
	font-weight:bold;
	border-bottom:1px solid #2284c0;
}
.p-featuresblock .p-message {
    padding-top:10px;
	font-size:87.5%;
	line-height: 1.7;
}
.p-featuresblock .p-featuresblock-00 {
    margin-top: 6px;
    padding: 20px 25px 30px 90px;
    background-color: #FFFFFF;
	box-shadow:0px 0px 4px 2px #e8e8e8;
	-moz-box-shadow:0px 0px 4px 2px #e8e8e8;
	-webkit-box-shadow:0px 0px 4px 2px #e8e8e8;
}

.p-featuresblock > div {
    padding-top: 0px;
    padding-bottom: 30px;
    position: relative;
}
/*.p-featuresblock > div:last-child {
    padding-bottom: 0px;
}*/
.p-featuresblock1 p.p-point {
    background: url(../../images/kokusai/img_conference_main_04_01_pc.png) left top no-repeat;
    width: 70px;
    height: 87px;
    position: absolute;
    top: -6px;
    left: 10px;
}
.p-featuresblock2 p.p-point {
    background: url(../../images/kokusai/img_conference_main_04_02_pc.png) left top no-repeat;
    width: 70px;
    height: 87px;
    position: absolute;
    top: -6px;
    left: 10px;
}
.p-featuresblock3 p.p-point {
    background: url(../../images/kokusai/img_conference_main_04_03_pc.png) left top no-repeat;
    width: 70px;
    height: 87px;
    position: absolute;
    top: -6px;
    left: 10px;
}
.p-featuresblock4 p.p-point {
    background: url(../../images/kokusai/img_conference_main_04_04_pc.png) left top no-repeat;
    width: 70px;
    height: 87px;
    position: absolute;
    top: -6px;
    left: 10px;
}

.l-conferenceBlock04{
	width:100%;
	display:block;	
	margin:0px auto 20px;
}
.l-conferenceBlock04-table{
	width:100%;
	display:table;
}
.l-conferenceBlock04-table .l-conferenceBlock04-table-cell{
	width:50%;
	display:table-cell;
	vertical-align:top;
}
.l-conferenceBlock04-table .l-conferenceBlock04-table-cell .l-conferenceBlock04-outside{
	background-color:#c5c5c5;
	padding:2px;
	margin:5px;
}
.l-conferenceBlock04-table .l-conferenceBlock04-table-cell .l-conferenceBlock04-outside:hover{
	-webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
	opacity: .7;
}
.l-conferenceBlock04-table .l-conferenceBlock04-table-cell .l-conferenceBlock04-outside .l-conferenceBlock04-inside{
	border-radius:5px;
	background: rgb(254,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(254,255,255,1) 0%, rgba(252,252,252,1) 87%, rgba(242,242,242,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(254,255,255,1) 0%,rgba(252,252,252,1) 87%,rgba(242,242,242,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(254,255,255,1) 0%,rgba(252,252,252,1) 87%,rgba(242,242,242,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */	
}
.l-conferenceBlock04-table .l-conferenceBlock04-table-cell .l-conferenceBlock04-outside .l-conferenceBlock04-inside p{
	color:#414848;
	font-size:100%;
	font-weight:bold;
	background: url(../../images/kokusai/ico_convention_02_pc.png) right 20px center no-repeat;
	width:100%;
	display:inline-block;
	padding:20px 0;
	text-align:center;
	vertical-align:middle;
}
.l-conferenceBlock04-table .l-conferenceBlock04-table-cell .l-conferenceBlock04-outside .l-conferenceBlock04-inside p span{
	display:inline-block;
	/*vertical-align: -50%;*/
	padding:0 38px;
}
.l-conferenceBlock04-table .l-conferenceBlock04-table-cell .l-conferenceBlock04-outside .l-conferenceBlock04-inside p span.p-button{
	font-size:75%;
	text-align:left;
}

.l-conferenceBlock05{
	width:100%;
	display:block;
}
.l-conferenceBlock05 .l-conferenceBlock05-01{
	width:100%;
	padding:0px 20px 50px;
}
.l-conferenceBlock05 .l-conferenceBlock05-01 > .p-photo{
	width:100%;
	text-align:right;
	margin-top:-172px;
}
.l-conferenceBlock05 .l-conferenceBlock05-01 > .p-photo img{
	max-width:718px;
	width:100%;
}
.l-conferenceBlock05 .l-conferenceBlock05-01 > .p-title{
	color:#0254b5;
	font-size:112.5%;
	padding:10px;
	border-top:1px solid #0254b5;
	border-bottom:1px solid #0254b5;
}
.l-conferenceBlock05-01 .p-box{
	border:1px solid #dddddd;
	padding:15px;
	font-size:81.2%;
	color:#b50202;
	text-align:center;
	margin-top:10px;
	margin-bottom:15px;
}
.l-conferenceBlock05-01 .p-image{
	text-align:center;
	margin-top:10px;
}
.l-conferenceBlock05-01 .p-image2{
	text-align:center;
}
.l-conferenceBlock05-01 .p-image img{
	width:100%;
}
.l-conferenceBlock05-01 .p-image2 img{
	max-width:550px;
	width:100%;
}
.l-conferenceBlock05-01 .p-ft12,
.l-conferenceBlock05-01 .p-ft12{
	font-size:87.5%;
	line-height: 2;
}
.l-conferenceBlock05-01 .l-conferenceBlock05-01-table{
	width:100%;
	display:table;
}
.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell{
	width:50%;
	display:table-cell;
	vertical-align:top;
	padding-top:15px;
}
.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell th,
.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell td{
	font-size:87.5%;
	line-height:2;
}
.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell th{
	width:72px;
	font-weight:normal;
	text-align:left;
}
.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell th.p-auto{
	width:auto;
}
.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell td{
	width:auto;
	padding-right:10px;
}
.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell td.p-photo{
	text-align:center;
	padding-top:15px;
}
.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell img.p-type01{
	max-width:235px;
	width:100%;
}
.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell img.p-type02{
	max-width:385px;
	width:100%;
}
.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell img.p-type03{
	max-width:355px;
	width:100%;
}
.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell img.p-type04{
	max-width:305px;
	width:100%;
}
.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell img.p-type05{
	max-width:316px;
	width:100%;
}
.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell img.p-type06{
	max-width:385px;
	width:100%;
	margin-top:10px;
}
.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell th span,
.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell td span{
	color:#b50202;
}
.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell .p-right{
	border:1px solid #dddddd;
	padding:15px;
	font-size:81.2%;
	color:#b50202;
	line-height:2;
}
.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell .p-left{
	padding-top:15px;
	padding-right:10px;
	font-size:87.5%;
	text-align:center;
}
.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell .p-left span{
	color:#b50202;
}
.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell .p-right2{
	text-align:center;
}

.l-eventBlock{
	width:100%;
	display:block;	
	margin:0px auto 0px;
}
.l-eventBlock > p{
	font-size:87.5%;
	padding-bottom:20px;
	line-height: 1.7;
}
.l-eventBlock > p.l-image{
	text-align:center;
	display:table;
}
.l-eventBlock > p.l-image span{
	display:table-cell;
}
.l-eventBlock > p.l-image img{
	max-width:371px;
	width:100%;
}
.l-eventBlock > p span.p-ft12{
	font-size:87.5%;
}
.l-eventBlock > p span.p-bold{
	font-weight:bold;
}
.l-eventBlock > p.p-last{
	text-align:right;
	padding-bottom:10px;
}
.l-eventBlock-table{
	width:100%;
	display:block;	
}
.l-eventBlock-table .l-eventBlock-table-cell{
	vertical-align:top;
	width:50%;
}
.l-eventBlock-table .l-eventBlock-table-cell img{
	max-width:371px;
	width:100%;
}
.l-eventBlock-table .l-eventBlock-table-cell p{
	font-size:87.5%;
	padding-bottom:20px;
	line-height: 1.7;
}
.l-eventBlock-table .l-eventBlock-table-cell p span{
	font-weight:bold;
}
.l-eventBlock-table.p-left .l-eventBlock-table-cell:first-child{
	padding-top:15px;
	padding-right:10px;
	float:left;
}
.l-eventBlock-table.p-left .l-eventBlock-table-cell:last-child{
	float:right;
	text-align:center;
}
.l-eventBlock-table.p-right .l-eventBlock-table-cell:first-child{
	padding-top:15px;
	padding-right:10px;
	float:right;
}
.l-eventBlock-table.p-right .l-eventBlock-table-cell:last-child{
	float:left;
	text-align:center;
}

.l-eventBlock2{
	width:100%;
	display:block;	
	margin:20px auto 0px;
}
.l-eventBlock2 > p{
	font-size:87.5%;
	padding-bottom:20px;
	line-height: 1.7;
	text-align:center;
}
.l-eventBlock2 img.p-type01{
	max-width:462px;
	width:100%;
}
.l-eventBlock2 img.p-type02{
	max-width:730px;
	width:100%;
}

.l-organizationBlock{
	width:100%;
	display:block;	
	margin:20px auto 30px;
	padding:0px 0px 20px;
}
.l-organizationBlock h4{
	border-bottom:none;
	padding:5px 15px;
	margin-top:20px;
}
.l-organizationBlock p{
	font-size:87.5%;
	padding-bottom:20px;
	line-height: 1.7;
	text-align:left;
}
.l-organizationBlock p.p-title{
	font-size:112.5%;
	color:#0d55a6;
	padding-bottom:0px;
	margin-bottom:10px;
	border-bottom:1px solid #0d55a6;
}
.l-organizationBlock p.p-last{
	padding-bottom:0px;
}
.l-organizationBlock p.p-last.p-center{
	text-align:center;
}
.l-organizationBlock > p img{
	width:100%;
	margin-top:10px;
}
.l-organizationBlock > p.p-arrow{
	text-align:center;
	padding-bottom:0;
}
.l-organizationBlock > p.p-arrow img{
	max-width:276px;
	width:100%;
	margin-top:30px;
}
.l-organizationBlock > p span{
	font-size:78.5%;
}

.l-organizationBlock .l-outside{
	border-radius:5px;
	border:1px solid #dddddd;
	margin-top:20px;
}
.l-organizationBlock .l-outside .l-inside{
	border-radius:5px;
	border:4px solid #f4f4f4;
	padding:15px 15px;
}

.l-planBlock{
	width:100%;
	display:block;	
	margin:0px auto 100px;
	padding:0;
}
.l-planBlock > p{
	font-size:87.5%;
	padding-bottom:20px;
	line-height: 1.7;
}
.l-planBlock > p.p-year{
	padding-bottom:5px;
}
.l-planBlock span.p-brackets{
	display:inline-block;
	text-indent:-8px;
}
.l-planBlock a{
	color:#1382c5;
	margin-right:10px;
}
.l-planBlock a span.p-arrow{
	font-size:75%;
	display:inline-block;
	transform: rotate(90deg);
	margin-right:5px;
}
.l-planBlock table{
	width:100%;
	margin-bottom:30px;
}
.l-planBlock table tr th{
	background-color:#0d55a6;
	text-align:center;
	color:#FFFFFF;
	font-size:87.5%;
	padding:5px 10px;
	font-weight:normal;
	border:1px solid #dddddd;
}
.l-planBlock table tr th.col01{
	width:80px;
}
.l-planBlock table tr th.col02{
	width:auto;
}
.l-planBlock table tr th.col03{
	width:120px;
}
.l-planBlock table tr td{
	text-align:left;
	font-size:87.5%;
	padding:5px 10px;
	border:1px solid #dddddd;
	vertical-align:middle;
}
.l-planBlock table tr td:first-child{
	text-align:center;
}

.br-button{
	display:block;
}

/*-------------------- ▲共通CSS▲ ------------------------*/

/*---------------- ▼PCのみCSS▼ --------------------*/
@media screen and (min-width:1001px){
	
	
	
	
}
/*---------------- ▲PCのみCSS▲ --------------------*/
/*---------------- ▼タブレット以降CSS▼ --------------------*/
@media screen and (max-width:1000px){
	.l-mainVisual{
		padding:3%;
	}	
	.l-interpretationBlock01{
		margin-top:5%;
		margin-bottom:3%;
	}
	.l-interpretationBlock02 p{
		padding:3% 3% 0;
	}
	.l-interpretationBlock02-table{
		display:block;
	}
	.l-interpretationBlock02-table div:nth-child(odd){
		width:49%;
		display:inline-block;
		padding-left:0;
		padding-right:1%;
	}
	.l-interpretationBlock02-table div:nth-child(even){
		width:49%;
		display:inline-block;
		padding-left:1%;
		padding-right:0;
	}
	.l-interpretationBlock02-table div img{
		width:100%;
	}
	
	.l-conventionlist-table .l-conventionlist-table-cell .l-inside .p-title a span:before{
		background:url("../../images/kokusai/ico_convention_01_sp.png") no-repeat;    
		background-size:13px 14px;
	}
	
	.l-inquiryBlock{
		padding-top:0;
		padding-bottom:3%;
	}
	.l-inquiryBlock .l-inquiryBlock-table{
		width: 100%;
		display:block;
	}
	.l-inquiryBlock .l-inquiryBlock-table .p-photo img{
		width: 100%;
	}
	.l-inquiryBlock .l-inquiryBlock-table > div{
		display:block;
	}
	.l-inquiryBlock .l-inquiryBlock-table .p-inquiry{
		padding-right:0;
	}
	
	.l-conferenceBlock{
		padding:3%;
	}
	.l-conferenceBlock .l-conferenceBlock01-table{
		width:100%;
		display:block;	
	}
	.l-conferenceBlock .l-conferenceBlock01-table{
		width:100%;
		display:block;	
	}
	.l-conferenceBlock .l-conferenceBlock01-table .l-conferenceBlock01-table-cell{
		width:100%;
		display:block;	
		vertical-align:top;
	}
	.l-conferenceBlock .l-conferenceBlock01-table .l-conferenceBlock01-table-cell img{
		width:100%;
	}
	.l-convention-button p a:nth-child(1) img{
		margin-right:0px;
	}
	.l-convention-button p a:nth-child(2) img{
		margin-left:0px;
	}
	
	.l-conferenceBlock02 > p{
		padding-bottom:0px;
	}
	.l-conferenceBlock02-table{
		width:100%;
		display:block;	
	}
	.l-conferenceBlock02-table .l-conferenceBlock02-table-cell{
		display:block;
		vertical-align:top;
	}
	.l-conferenceBlock02-table .l-conferenceBlock02-table-cell:first-child{
		display:none;
	}
	.l-conferenceBlock02-table .l-conferenceBlock02-table-cell:last-child{
		width:100%;
		padding:10px 0;
	}
	.l-conferenceBlock02-table .l-conferenceBlock02-table-cell:last-child .l-conferenceBlock02-list01,
	.l-conferenceBlock02-table .l-conferenceBlock02-table-cell:last-child .l-conferenceBlock02-list02,
	.l-conferenceBlock02-table .l-conferenceBlock02-table-cell:last-child .l-conferenceBlock02-list03,
	.l-conferenceBlock02-table .l-conferenceBlock02-table-cell:last-child .l-conferenceBlock02-list04,
	.l-conferenceBlock02-table .l-conferenceBlock02-table-cell:last-child .l-conferenceBlock02-list05{
		padding-bottom:10%;
	}
	.l-conferenceBlock02-table .l-conferenceBlock02-table-cell:last-child .p-step p{
		display:block;
		width:100%;
	}
	
	.l-conferenceBlock03 > p{
		padding:0 0 20px;
	}
	.l-conferenceBlock03 > p:last-child{
		padding:0;
	}
	
	.p-featuresblock > div {
		padding-top: 0px;
		padding-bottom: 30px;
		position: relative;
	}
	.p-featuresblock > div:first-child {
		margin-top: 30px;
	}
	.p-featuresblock > div:last-child {
		padding-bottom: 20px;
	}
	
	.l-conferenceBlock05{
		width:100%;
		display:block;
	}
	.l-conferenceBlock05 .l-conferenceBlock05-01{
		width:100%;
		padding:0px 0 50px;
	}
	.l-conferenceBlock05 .l-conferenceBlock05-01 > .p-photo{
		width:100%;
		text-align:center;
		margin-top:0;
	}
	.l-conferenceBlock05-01 .l-conferenceBlock05-01-table{
		display:block;
	}
	.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell{
		width:100%;
		display:block;
		padding-top:15px;
	}
	.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell th,
	.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell td{
		font-size:87.5%;
		line-height:2;
	}
	.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell th{
		/*width:60px;
		font-weight:normal;
		text-align:left;*/
	}
	.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell th.p-auto{
		width:auto;
	}
	.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell td{
		width:auto;
		padding-right:0px;
	}
	.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell td span{
		color:#b50202;
	}
	.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell .p-left {
		padding-right: 0px;
	}
	.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell .p-right{
		border:1px solid #dddddd;
		padding:15px;
		font-size:81.2%;
		color:#b50202;
		line-height:2;
	}
	
	.l-eventBlock-table .l-eventBlock-table-cell{
		width:100%;
	}
	.l-eventBlock-table.p-left .l-eventBlock-table-cell:first-child{
		padding-top:0;
		padding-right:0;
		float:none;
	}
	.l-eventBlock-table.p-left .l-eventBlock-table-cell:last-child{
		text-align:center;
		float:none;
	}
	.l-eventBlock-table.p-right .l-eventBlock-table-cell:first-child{
		padding-top:0;
		padding-right:0;
		float:none;
	}
	.l-eventBlock-table.p-right .l-eventBlock-table-cell:last-child{
		text-align:center;
		float:none;
	}
	
	.l-organizationBlock{
		width:100%;
		display:block;	
		margin:20px auto 0px;
		padding:0px 0 20px;
	}
	
	.l-organizationBlock .l-outside .l-inside{
		padding:3%;
	}
	.l-organizationBlock > p.p-arrow img{
		width:50%;
	}
	
	.l-planBlock{
		margin:0px auto 10%;
		padding:0;
	}
	.l-planBlock table{
		display:block;
	}
	.l-planBlock table tr th{
		display:block;
	}
	.l-planBlock table tr th.col01{
		display:none;
	}
	.l-planBlock table tr th.col02{
		width:100%;
	}
	.l-planBlock table tr th.col03{
		display:none;
	}
	.l-planBlock table tr td{
		display:block;
		border-top:none;
	}
	.l-planBlock table tr td:first-child{
		display:none;
	}
	.l-planBlock table tr td:nth-child(2){
		display:block;
	}
	.l-planBlock table tr td:last-child{
		display:none;
	}
	
	.br-button{
		display:block;
	}
	
}
/*---------------- ▲タブレット以降CSS▲ --------------------*/
/*---------------- ▼タブレットのみ（1024～641）CSS▼ --------------------*/
@media screen and (max-width:1000px) and (min-width:481px) {
	
}
/*---------------- ▲タブレットのみ（1024～641）CSS▲ --------------------*/
/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){
	
	.l-conventionlist-table{
		width:100%;
		display:block;	
		margin-top:10px;
	}
	.l-conventionlist-table .l-conventionlist-table-cell{
		width:100%;
		display:block;	
		margin-top:10px;
	}
	.l-conventionlist-table .l-conventionlist-table-cell:nth-child(odd) .l-outside{
		margin-left:0px;
		margin-right:0px;
	}
	.l-conventionlist-table .l-conventionlist-table-cell:nth-child(even) .l-outside{
		margin-left:0px;
		margin-right:0px;
	}
	.l-conventionlist-table .l-conventionlist-table-cell .l-inside{
		padding:3%;
	}
	.l-conferenceBlock .l-conferenceBlock01-table{
		width:100%;
		display:block;	
	}
	.l-conferenceBlock .l-conferenceBlock01-table .l-conferenceBlock01-table-cell{
		width:100%;
		display:block;	
		vertical-align:top;
	}
	.l-conferenceBlock .l-conferenceBlock01-table .l-conferenceBlock01-table-cell img{
		width:100%;
	}
	
	.p-featuresblock .p-featuresblock-00 {
		margin-top: 6px;
		padding: 15px 15px 20px 68px;
		background-color: #FFFFFF;
		box-shadow:0px 0px 4px 2px #e8e8e8;
		-moz-box-shadow:0px 0px 4px 2px #e8e8e8;
		-webkit-box-shadow:0px 0px 4px 2px #e8e8e8;
	}
	.p-featuresblock1 p.p-point {
		background: url(../../images/kokusai/img_conference_main_04_01_pc.png) left top no-repeat;
		background-size:50px auto;
		width: 50px;
		height: 70px;
		position: absolute;
		top: -6px;
		left: 10px;
	}
	.p-featuresblock2 p.p-point {
		background: url(../../images/kokusai/img_conference_main_04_02_pc.png) left top no-repeat;
		background-size:50px auto;
		width: 50px;
		height: 70px;
		position: absolute;
		top: -6px;
		left: 10px;
	}
	.p-featuresblock3 p.p-point {
		background: url(../../images/kokusai/img_conference_main_04_03_pc.png) left top no-repeat;
		background-size:50px auto;
		width: 50px;
		height: 70px;
		position: absolute;
		top: -6px;
		left: 10px;
	}
	.p-featuresblock4 p.p-point {
		background: url(../../images/kokusai/img_conference_main_04_04_pc.png) left top no-repeat;
		background-size:50px auto;
		width: 50px;
		height: 70px;
		position: absolute;
		top: -6px;
		left: 10px;
	}
	
	.l-conferenceBlock04-table{
		width:100%;
		display:block;
	}
	.l-conferenceBlock04-table .l-conferenceBlock04-table-cell{
		width:100%;
		display:block;
		vertical-align:top;
	}
	.l-conferenceBlock04-table .l-conferenceBlock04-table-cell .l-conferenceBlock04-outside .l-conferenceBlock04-inside p{
		background: url(../../images/kokusai/ico_convention_02_sp.png) right 10px center no-repeat;
		background-size:18px auto;
	}
	.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell img.p-type01,
	.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell img.p-type02,
	.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell img.p-type03,
	.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell img.p-type04,
	.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell img.p-type05,
	.l-conferenceBlock05-01 .l-conferenceBlock05-01-table .l-conferenceBlock05-01-table-cell img.p-type06
	{
		max-width:100%;
		width:100%;
	}
	.l-eventBlock > p.l-image{
		display:block;
		text-align:center;
		width:100%;
	}
	.l-eventBlock > p.l-image span{
		display:block;
	}
	.l-eventBlock > p.l-image img{
		max-width:371px;
		width:100%;
	}
	
	.br-button{
		display:none;
	}
	
}
/*---------------- ▲スマホ以降CSS▲ --------------------*/
/*---------------- ▲スマホ最小CSS▲ --------------------*/
@media screen and (max-width:320px){
	
	
}
/*---------------- ▲スマホ最小CSS▲ --------------------*/