@charset "utf-8";
/* CSS Document */
.l-headerMenu {
    width: 100%;
    padding: 20px 0px 20px;
    line-height: 1;
}
.l-headerMenu-right{
	display:none !important;
}
.l-globalMenu {
    display:none !important;
}
.l-pankuzu p {
    visibility: hidden !important;
}
.l-container{
	padding-bottom:80px !important;	
}
footer .l-footerBlock {
    display:none !important;
}
footer{
	border: none !important;
}

/*-------------------- ▲共通CSS▲ ------------------------*/

/*---------------- ▼PCのみCSS▼ --------------------*/
@media screen and (min-width:1001px){
		
}
/*---------------- ▲PCのみCSS▲ --------------------*/
/*---------------- ▼タブレット以降CSS▼ --------------------*/
@media screen and (max-width:1000px){
	.l-headerMenu-inner .l-headerMenu-left .l-headerMenu-left-table .l-headerMenu-left-table-cell:last-child {
		display: none !important;
	}
}
/*---------------- ▲タブレット以降CSS▲ --------------------*/
/*---------------- ▼タブレットのみ（1024～641）CSS▼ --------------------*/
@media screen and (max-width:1000px) and (min-width:481px) {
	
}
/*---------------- ▲タブレットのみ（1024～641）CSS▲ --------------------*/
/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){
	
}
/*---------------- ▲スマホ以降CSS▲ --------------------*/
/*---------------- ▲スマホ最小CSS▲ --------------------*/
@media screen and (max-width:320px){
	
	
}
/*---------------- ▲スマホ最小CSS▲ --------------------*/