 	                      						<table width="355" border="0" cellspacing="2" cellpadding="2">

                        						<tr>
                        							<td width="15" valign="top"><img src="/staff/images/staff_faq_q.gif" width="13" height="16"></td>
                        							<td width="340" class="font_staff">__QUESTION__TEXT__</td>
                        						</tr>
                        						<tr><td height="1" colspan="2"><img src="/images/share_staff_line355.gif" width="355" height="1"></td></tr>
                        						</table>
                        						<table width="355" border="0" cellspacing="2" cellpadding="2">
                        						<tr>
                        							<td width="15" valign="top"><img src="/staff/images/staff_faq_a.gif" width="12" height="14"></td>
                        							<td width="340" class="s3">__ANSWER__TEXT__</td>
                        						</tr>
                        						<tr><td height="1" colspan="2"><img src="/images/share_staff_line355.gif" width="355" height="1"></td></tr>
                        						</table>

