@charset "utf-8";
/* CSS Document */

#interpretation{
	color:#414848;
}

.l-mainVisual{
	width:100%;
	margin:0 auto;
	/*background-color:#fafafa;*/
	background-color:#FFFFFF;
}
.l-mainVisual-inner{
	max-width:1060px;
	width:100%;
	margin: 0px auto;
	padding: 0px 0;
	/*background-color:#fafafa;*/
	background-color:#FFFFFF;
}
.l-mainVisual-inner img{
	max-width:1060px;
	width:100%;
}

.l-interpretationBlock{
	width:100%;
	margin:0 auto;
	/*padding-bottom:200px;*/
}
.l-interpretationBlock01{
	/*border-bottom:5px solid #d0e5fd;*/
	margin-top:0px;
	margin-bottom:25px;
}
/*.p-interpretationTitle {
    font-size: 150%;
    font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
    letter-spacing: .1em;
    text-align: left;
	border-bottom:1px solid #9bb8d8;
	padding-bottom:10px;
}*/

.l-interpretationBlock02{
	width:100%;
	margin:0 auto;
	background-color:#f2f2f3;
}
.l-interpretationBlock02 p{
	line-height:1.7;
	padding:20px;
	font-size:87.5%;
}
.l-interpretationBlock02-table{
	width:100%;
	display:table;
	padding:20px;
}
.l-interpretationBlock02-table div{
	width:25%;
	display:table-cell;
}
.l-interpretationBlock02-table div:nth-child(1){
	padding-right:6px;
}
.l-interpretationBlock02-table div:nth-child(2){
	padding-left:3px;
	padding-right:3px;
}
.l-interpretationBlock02-table div:nth-child(3){
	padding-left:3px;
	padding-right:3px;
}
.l-interpretationBlock02-table div:nth-child(4){
	padding-left:6px;
}
.l-interpretationBlock02-table div a img{
	border:1px solid #dddddd;
	width:100%;
}
.l-interpretationBlock02-table div:last-child{
	padding-right:0px;
}

.l-interpretationBlock04{
	width:100%;
	margin:0 auto;
	background-color:#f2f2f3;
}
.l-interpretationBlock04-table{
	width:100%;
	display:table;
	/*background:url("../../images/tsuyaku/bg_inquiry_01_pc.png") no-repeat;
	background-size:100% auto;*/
	padding-left:20px;
	border:1px solid #dddddd;
	margin-bottom:20px;
}

.l-interpretationBlock04-table .l-interpretationBlock04-left{
	width:470px;
	display:table-cell;
	vertical-align:top;
	padding:0;
}
.l-interpretationBlock04-left p img{
	vertical-align:top;
}
.l-interpretationBlock04-left p.regist{
	font-size:100%;
	padding:0px 0px 0px 0px;
}
.l-interpretationBlock04-left p:nth-child(1){
	font-size:75%;
	padding:20px 0px 0px 0px;
	font-weight:bold;
	line-height:2;
}
.l-interpretationBlock04-left p:nth-child(2){
	padding:0 30px;
}
.l-interpretationBlock04-left p:nth-child(2) span{
	display:block;
	border-bottom:1px solid #d3d3d3;
	height:15px;
}
.l-interpretationBlock04-left p:nth-child(3){
	padding:20px 0px 0px 0px;
	font-weight:bold;
}
.l-interpretationBlock04-left p:nth-child(4){
	font-size:150%;
	font-weight:bold;
}
.l-interpretationBlock04-left p:nth-child(4) img.p-tel{
	position:relative;
	top:5px;
}
.l-interpretationBlock04-left p:nth-child(4) span{
	position:relative;
	left:10px;
}
.l-interpretationBlock04-left p:nth-child(4) a.p-btn_inquiry{
	position:relative;
	left:35px;
	top:-8px;
}
/*.l-interpretationBlock04-left p + p{
	font-size:112.5%;
	font-weight:bold;
	padding:0px 0px 0px 0px;
}
.l-interpretationBlock04-left p + p + p{
	font-size:187.5%;
	font-weight:bold;
	padding:0px 0px 0px 0px;
}*/

.l-interpretationBlock04-table .l-interpretationBlock04-left a{
	padding-left:0px;
}
/*.l-interpretationBlock04-table .l-interpretationBlock04-center{
	width:auto;
	display:table-cell;
	vertical-align:bottom;
	text-align:left;
	padding-bottom:20px;
}
.l-interpretationBlock04-table .l-interpretationBlock04-center a{
	position:relative;
	left:-20px;
}*/
.l-interpretationBlock04-table .l-interpretationBlock04-right{
	max-width:280px;
	display:table-cell;
	vertical-align:top;
	text-align:right;
	padding:0;
}
.l-interpretationBlock04-table .l-interpretationBlock04-right img{
	vertical-align:top;
	max-width:280px;
	width:100%;
}

.l-inquiryBlock{
	width: 100%;
	margin: 0px auto;
	padding-top:50px;
	padding-bottom:80px;
}
.l-inquiryBlock .l-inquiryBlock-table{
	width: 100%;
	display:table;
}
.l-inquiryBlock .l-inquiryBlock-table .p-photo img{
	width: 100%;
}
.l-inquiryBlock .l-inquiryBlock-table > div{
	display:table-cell;
	position:relative;
}
.l-inquiryBlock .l-inquiryBlock-table .p-inquiry{
	padding-right:18px;
}
.l-inquiryBlock .l-inquiryBlock-table .p-inquiry div{
	display:block;
}
.l-inquiryBlock .l-inquiryBlock-table .p-registration{
}
.l-inquiryBlock .l-inquiryBlock-table .p-registration div{
	display:block;
}
.l-inquiryBlock .l-inquiryBlock-table .p-button{
	position:absolute;
	top:66%;
	left:38%;
}

/*-------------------- ▲共通CSS▲ ------------------------*/

/*---------------- ▼PCのみCSS▼ --------------------*/
@media screen and (min-width:1001px){
	
	
	
	
}
/*---------------- ▲PCのみCSS▲ --------------------*/
/*---------------- ▼タブレット以降CSS▼ --------------------*/
@media screen and (max-width:1000px){
	.l-mainVisual{
		padding:3%;
	}	
	.l-interpretationBlock01{
		margin-top:5%;
		margin-bottom:3%;
	}
	.l-interpretationBlock02-table{
		display:block;
	}
	.l-interpretationBlock02-table div:nth-child(odd){
		width:49%;
		display:inline-block;
		padding-left:0;
		padding-right:1%;
	}
	.l-interpretationBlock02-table div:nth-child(even){
		width:49%;
		display:inline-block;
		padding-left:1%;
		padding-right:0;
	}
	.l-interpretationBlock02-table div img{
		width:100%;
	}
	
	.l-inquiryBlock{
		padding-top:0;
		padding-bottom:3%;
	}
	.l-inquiryBlock .l-inquiryBlock-table{
		width: 100%;
		display:block;
	}
	.l-inquiryBlock .l-inquiryBlock-table .p-photo img{
		width: 100%;
	}
	.l-inquiryBlock .l-inquiryBlock-table > div{
		display:block;
	}
	.l-inquiryBlock .l-inquiryBlock-table .p-inquiry{
		padding-right:0;
	}
	
}
/*---------------- ▲タブレット以降CSS▲ --------------------*/
/*---------------- ▼タブレットのみ（1024～641）CSS▼ --------------------*/
@media screen and (max-width:1000px) and (min-width:481px) {
	
}
/*---------------- ▲タブレットのみ（1024～641）CSS▲ --------------------*/
/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){
	
	
	
}
/*---------------- ▲スマホ以降CSS▲ --------------------*/
/*---------------- ▲スマホ最小CSS▲ --------------------*/
@media screen and (max-width:320px){
	
	
}
/*---------------- ▲スマホ最小CSS▲ --------------------*/