@charset "utf-8";
/* CSS Document */

#interpretation{
	color:#414848;
}

.l-mainVisual{
	width:100%;
	margin:0 auto;
	/*background-color:#fafafa;*/
	background-color:#FFFFFF;
}
.l-mainVisual-inner{
	max-width:1060px;
	width:100%;
	margin: 0px auto;
	padding: 0px 0;
	/*background-color:#fafafa;*/
	background-color:#FFFFFF;
}
.l-mainVisual-inner img{
	max-width:1060px;
	width:100%;
}

.l-recruitBlock{
	
}
.l-recruitBlock01{
	width:100%;
	margin:0 auto;
	padding:20px 0px;
}
.l-recruitBlock01 > p{
	font-size:87.5%;
	padding-bottom:20px;	
	line-height: 1.7;
}

.l-recruitBlock02{
	width:100%;
	margin:0 auto;
	padding:20px 0px;
}
.l-recruitBlock02 img{
	width:100%;
}

.l-recruit-button{
	width:100%;
	margin:20px auto 0;
	display:block;
}
.l-recruit-button p{
	text-align:center;
}
.l-recruit-button p a{
	display:inline-block;
	width:50%;
}
.l-recruit-button p a img{
	max-width:375px;
	width:100%;
}
.l-recruit-button p a:nth-child(odd) img{
	margin-right:7px;
	margin-bottom:5px;
}
.l-recruit-button p a:nth-child(even) img{
	margin-left:7px;
	margin-bottom:5px;
}

.l-recruitBlock03 h4 {
    border-bottom: none;
    padding: 0px 15px;
    margin-top: 30px;
    font-size: 112.5%;
}
.l-recruitBlock03 .l-recruitBlock03-list a {
    display:block;
	color:#1382c5;
	padding-top:10px;
	font-size:87.5%;
}

.l-recruitBlock04{
	width:100%;
	margin:20px auto;
	padding:20px;
	background-color:#f2f2f3;
}
.l-recruitBlock04 .p-title{
	color:#1382c5;
	font-weight:bold;
}
.l-recruitBlock04 table{
	width:100%;
	margin:10px auto;
}
.l-recruitBlock04 table tr th{
	width:100%;
	padding:10px;
	background-color:#0d55a6;
	vertical-align:top;
	color:#FFFFFF;
	font-size:87.5%;
	width:160px;
	font-weight:normal;
	text-align:left;
	border:1px solid #dddddd;
}
.l-recruitBlock04 table tr td{
	width:100%;
	padding:10px;
	background-color:#FFFFFF;
	vertical-align:top;
	font-size:87.5%;
	width:auto;
	border:1px solid #dddddd;
}
.l-recruitBlock04 table tr td a{
	color:#1382c5;
	text-decoration:underline;
}

/*-------------------- ▲共通CSS▲ ------------------------*/

/*---------------- ▼PCのみCSS▼ --------------------*/
@media screen and (min-width:1001px){
	
	
	
	
}
/*---------------- ▲PCのみCSS▲ --------------------*/
/*---------------- ▼タブレット以降CSS▼ --------------------*/
@media screen and (max-width:1000px){
	.l-mainVisual{
		padding:3%;
	}	
	.l-recruitBlock01{
		margin-bottom:3%;
		padding:3% 0;
	}
	
	
	
	
}
/*---------------- ▲タブレット以降CSS▲ --------------------*/
/*---------------- ▼タブレットのみ（1024～641）CSS▼ --------------------*/
@media screen and (max-width:1000px) and (min-width:481px) {
	
}
/*---------------- ▲タブレットのみ（1024～641）CSS▲ --------------------*/
/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){
	
	.l-recruit-button p a{
		display:block;
		width:100%;
	}
	
	.l-recruit-button p a:nth-child(odd) img{
		margin-right:0px;
	}
	.l-recruit-button p a:nth-child(even) img{
		margin-left:0px;
	}
	
}
/*---------------- ▲スマホ以降CSS▲ --------------------*/
/*---------------- ▲スマホ最小CSS▲ --------------------*/
@media screen and (max-width:320px){
	
	
}
/*---------------- ▲スマホ最小CSS▲ --------------------*/