@charset "Shift_JIS";
/* --------------------------------------------------------------------------- */

/* トップページ用 CSS                                                          */
/* --------------------------------------------------------------------------- */

/* まわりこみ解除 */
#clear{clear:both;}

/* --------------------------------------------------------------------------- */
/* ページ構造                                                                  */
/* --------------------------------------------------------------------------- */
/* フォント・背景などの指定 -------------------------------------------------- */
body{
font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
color:#666666;
padding:0px;
margin:0px;
text-align:center;
font-size:0.83em;
background-color:#FFFFFF;
}
body a:link{ color: #666666; text-decoration:underline; }
body a:visited{ color: #666666; text-decoration:underline; }
body a:active{ color: #666666; text-decoration:underline; }
body a:hover{ color: #666666; text-decoration:underline; }
body strong{ color:#666666; }

h1, h2, h3, h4, p, dl, dt, dd, li, ul, ol, div, form, map, area, hr, img, span {
margin: 0;
padding: 0;
}

form { margin: 0;}

input, select, textarea, button, text {
margin: 0;
padding: 0;
vertical-align: middle;
}
hr{ display: none; }
img{ vertical-align:middle; border:0px; }


a img{
border:none;
color:#FFFFFF;
background: transparent;
}


/* マーク別スタイルの指定 ---------------------------------------------------- */
h1 {
font-size:0.8em;
font-weight:normal;
padding:3px 0px 0px 0px;
}

/*h3 {
margin:20px 0px 5px 0px;
}*/

h4 {
padding:10px 0px 15px 8px;
}

/* エリアの指定 -------------------------------------------------------------- */
/*（全体のエリア）*/
#wrapper{ 
width:676px;
text-align:left;
margin:0px auto 0px auto;
padding-right:126px;
}

/*（ヘッダー）*/
#top_header {
width:676px;
height:65px;
display:block;
margin-bottom:15px;
background:url(../img/header_back.gif) left bottom repeat-x;
}

/*（コンテンツエリア）*/
#main {
width:676px;
float:left;
}

#menu {
width:126px;
float:left;
border:none;
margin:0;
padding:0;
font-size:1px;
line-height:0px;
}

#menu img {
vertical-align:bottom;
/*margin:0 0 0 0;*/
}

#contents {
width:550px;
float:right;
}

/*（フッダー）*/
#top_fooder {
clear:both;
width:676px;
height:53px;
display:block;
margin:0px 0px 0px 0px;
padding:2px 0px 0px 0px;
text-align:center;
font-size:0.75em;
color:#009C8C;
border-top:1px solid #009C8C;
background:url(../../images/top_footer_space.gif) top left repeat-x;
}

/* --------------------------------------------------------------------------- */
/* ヘッダー                                                                    */
/* --------------------------------------------------------------------------- */
#logo {
float:left;
}

#btn_online {
	float:right;
}


/* --------------------------------------------------------------------------- */
/* メニュー下のバナー部分                                                      */
/* --------------------------------------------------------------------------- */
#bnr_style01 {
margin:18px 0px 0px 0px;
}

.bnr_style02 {
margin:8px 0px 0px 0px;
}

#bnr_style03 {
margin:20px 0px 8px 0px;
}

.bnr_style04 {
margin:10px 0px 0px 0px;
}

#bnr_style05 {
margin:10px 0px 0px 0px;
padding:0px 0px 20px 0px;
border-bottom:1px solid #D9D9D9;
}

#mrk_privacy {
margin:18px 0px 10px 0px;
}



/* --------------------------------------------------------------------------- */
/* 写真下のコンテンツ部分                                                      */
/* --------------------------------------------------------------------------- */
#contents2 {
padding:0px 0px 0px 20px;
}

/* 最新お仕事情報 */
#joblist {
width:530px;
}

/* ISSからのお知らせ */
#newslist {
width:530px;
}

/* 最新お仕事情報・ISSからのお知らせ データ表示テーブル */
.list_tbl{
width:530px;
margin:0px 0px 0px 0px;
border:none;
}

.list_tbl h3 {
margin:20px 0px 5px 0px;
}

.list_tbl td{
margin:5px 0px 5px 0px;
padding:5px 0px 5px 0px;
}

.list_tbl .left{
width:10px;
}

.list_tbl .data_pink{
width:510px;
line-height:150%;
background:url(../img/list_pink.gif) repeat-x bottom;
}

.list_tbl .data_green{
width:510px;
line-height:150%;
background:url(../img/list_green.gif) repeat-x bottom;
}


.list_tbl .right{
width:10px;
}

/* ポイント */
.point_area {
width:530px;
float:left;
background:url(../img/point_back.gif) repeat-y top;
margin:20px 0px 0px 0px;
}

.point_area p {
line-height:135%;
padding:0px 10px 10px 10px;
}

.point_left {
width:260px;
float:left;
}

.point_right {
width:260px;
float:right;
}

.point_line {
clear:both;
margin:0;
padding:0;
font-size:1px;
line-height:0px;
}

/* ページの先頭へ */
#pagetop {
width:530px;
margin:30px 0px 20px 0px;
font-size:0.8em;
text-align:right;
}

/* --------------------------------------------------------------------------- */
/* フッダー                                                                    */
/* --------------------------------------------------------------------------- */

#top_fooder .fooder_menu {
padding:3px 0px 0px 0px;
}

#top_fooder a{
color:#009C8C;
}
#top_fooder a:hover{
color:#009C8C;
}

address {
padding:3px 0px 0px 0px;
font-style:normal;
}
