@charset "utf-8";
/* CSS Document */

#interpretation{
	color:#414848;
}

.l-mainVisual{
	width:100%;
	margin:0 auto;
	/*background-color:#fafafa;*/
	background-color:#FFFFFF;
}
.l-mainVisual-inner{
	max-width:1060px;
	width:100%;
	margin: 0px auto;
	padding: 0px 0;
	/*background-color:#fafafa;*/
	background-color:#FFFFFF;
}
.l-mainVisual-inner img{
	max-width:1060px;
	width:100%;
}

.l-interpretationBlock{
	width:100%;
	margin:0 auto;
	/*padding-bottom:200px;*/
}
.l-interpretationBlock01{
	/*border-bottom:5px solid #d0e5fd;*/
	margin-top:0px;
	margin-bottom:25px;
}
/*.p-interpretationTitle {
    font-size: 150%;
    /*font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif;*/
    letter-spacing: .1em;
    text-align: left;
	border-bottom:1px solid #9bb8d8;
	padding-bottom:10px;
}*/


.l-accessBlock{
	width:100%;
	margin:0 auto;
}
.l-accessBlock p{
	font-size:87.5%;
	line-height:1.7;
	padding-bottom:20px;
}
.l-accessBlock .p-title{
	font-weight:bold;
	font-size:112.5%;
	padding-bottom:0;
}
.l-accessBlock .p-midashi{
	padding:20px 5px 5px;
	font-weight:bold;
	font-size:100%;
}
.l-accessBlock .p-midashi-line{
	width:80%;
	display:table;
}
.l-accessBlock .p-midashi-line p:first-child{
	border-top:3px solid #0d55a6;
	width:50px;
	display:table-cell;
}
.l-accessBlock .p-midashi-line p:last-child{
	border-top:3px solid #e9e9e9;
	width:auto;
	display:table-cell;
}

.l-map_area{
	width: 100%; overflow: hidden; height: 300px;
}

.l-accessBlock .p-right{
	text-align:right;
}
.l-accessBlock .p-right a{
	color:#1382c5;
}
/*.l-accessBlock .p-right a:after{
	content: " ";
	background:url("../../images/access/ico_link.png") no-repeat;
	width:14px;
	height:13px;
	display:inline-block;
	position:relative;
	left:5px;
	top:1px;
}*/
.l-accessBlock .p-right a img{
	position:relative;
	left:0px;
	top:1px;
}





/*-------------------- ▲共通CSS▲ ------------------------*/

/*---------------- ▼PCのみCSS▼ --------------------*/
@media screen and (min-width:1001px){
	
	
	
	
}
/*---------------- ▲PCのみCSS▲ --------------------*/
/*---------------- ▼タブレット以降CSS▼ --------------------*/
@media screen and (max-width:1000px){
	.l-mainVisual{
		padding:3%;
	}	
	.l-interpretationBlock01{
		margin-top:5%;
		margin-bottom:3%;
	}
	
	
}
/*---------------- ▲タブレット以降CSS▲ --------------------*/
/*---------------- ▼タブレットのみ（1024～641）CSS▼ --------------------*/
@media screen and (max-width:1000px) and (min-width:481px) {
	
}
/*---------------- ▲タブレットのみ（1024～641）CSS▲ --------------------*/
/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){
	
	
	
}
/*---------------- ▲スマホ以降CSS▲ --------------------*/
/*---------------- ▲スマホ最小CSS▲ --------------------*/
@media screen and (max-width:320px){
	
	
}
/*---------------- ▲スマホ最小CSS▲ --------------------*/