@charset "utf-8";
/* Copyright (c) 2008, Microwave.,Co ltd. */

html{
filter: expression(document.execCommand("BackgroundImageCache", false, true));
margin:0px;
padding:0px;
overflow-y:scroll;
}

body{
background:url(/commonimg/common_bg_01.png) repeat-x 0px 0px;
text-align:center;
margin:0px;
padding:0px;
}

#wrapper{
width:900px;
padding:0px;
background:#fff;
margin:0px auto;
text-align:left;
}

#top_header {
width:auto;
height:auto;
background:none;
padding:0px;
margin:0px;
/* --- --- --- */
margin-top:9px;
padding-bottom:10px;
background:#e3e3e3;
}

#top_header *{
background:none;
padding:0px;
margin:0px;
}

#top_header img{
vertical-align:bottom;
}

/* グローバルナビゲーション */
#gnavi{
background:none;
padding:0px;
margin:0px;
width:900px;
z-index:1000;
position:relative;
font-size:12px;
}

#gnavi *{
padding:0px;
margin:0px;
}

#gnavi ul{
list-style:none;
}

#gnavi{
width:900px;
height:41px;
background:url(/commonimg/gnavi_bg_01.png) no-repeat left bottom;
}

#gnavi div{
width:900px;
}

#gnavi div ul.ul01{
padding-left:18px;
}

#gnavi div ul.ul01 li.ul01{
float:left;
position:relative;
padding-top:3px;
}

#gnavi div ul.ul01 li.ul01 a{
display:block;
height:38px;
background:url(/commonimg/gnavi_bg_03.png) no-repeat;
}

#gnavi div ul.ul01 li.li01 a{
width:63px;
background-position:0px 0px;
}

#gnavi div ul.ul01 li.li02 a{
width:110px;
background-position:-63px 0px;
}

#gnavi div ul.ul01 li.li03 a{
width:168px;
background-position:-173px 0px;
}

#gnavi div ul.ul01 li.li04 a{
width:146px;
background-position:-341px 0px;
}

#gnavi div ul.ul01 li.li05 a{
width:156px;
background-position:-487px 0px;
}

#gnavi div ul.ul01 li.li06 a{
width:109px;
background-position:-643px 0px;
}

#gnavi div ul.ul01 li.li07 a{
width:112px;
background-position:-752px 0px;
}

#gnavi div ul.ul01 li.li01 a:hover{
background-position:0px -40px;
}

#gnavi div ul.ul01 li.li02 a:hover{
background-position:-63px -40px;
}

#gnavi div ul.ul01 li.li03 a:hover{
background-position:-173px -40px;
}

#gnavi div ul.ul01 li.li04 a:hover{
background-position:-341px -40px;
}

#gnavi div ul.ul01 li.li05 a:hover{
background-position:-487px -40px;
}

#gnavi div ul.ul01 li.li06 a:hover{
background-position:-643px -40px;
}

#gnavi div ul.ul01 li.li07 a:hover{
background-position:-752px -40px;
}

#gnavi div ul.ul01 li.li01 a.rolloveron{
background-position:0px -80px !important;
}

#gnavi div ul.ul01 li.li02 a.rolloveron{
background-position:-63px -80px !important;
}

#gnavi div ul.ul01 li.li03 a.rolloveron{
background-position:-173px -80px !important;
}

#gnavi div ul.ul01 li.li04 a.rolloveron{
background-position:-341px -80px !important;
}

#gnavi div ul.ul01 li.li05 a.rolloveron{
background-position:-487px -80px !important;
}

#gnavi div ul.ul01 li.li06 a.rolloveron{
background-position:-643px -80px !important;
}

#gnavi div ul.ul01 li.li07 a.rolloveron{
background-position:-752px -80px !important;
}

/* グローバルナビゲーション ロールオーバー */
#gnavi div ul.ul01 li.ul01 ul.ul02{
position:absolute;
left:0px;
top:41px;
display:none;
}

#gnavi div ul.ul01 li.ul01 ul.ul02 li.ul02 a{
display:block;
width:140px;
padding:0px 10px;
height:28px;
line-height:28px;
background:#f0f0f0;
border:1px solid #f0f0f0;
border-color:#def #abc #abc #def;
text-decoration:none;
}

#gnavi div ul.ul01 li.ul01 ul.ul02 li.ul02 a:hover {
background:#e0e7f0;
}

/* パンくず */
#bread{
width:900px;
height:40px;
border-bottom:1px solid #ccc;
background:#fff;
position:relative;
margin-bottom:20px;
font-size:12px;
}

#bread ul{
list-style:none;
line-height:40px;
}

#bread ul li{
float:left;
padding-left:10px;
background:url(/commonimg/bread_bg_01.png) no-repeat 3px 50%;
}

#bread ul li.home{
background:none;
}

#bread ul li a{
color:#0033CC;
}

#bread .button{
position:absolute;
right:10px;
bottom:0px;
}

/* サイドバー */
.sidebar *{
list-style:none;
padding:0px;
margin:0px;
vertical-align:bottom
}

.sidebar{
margin-bottom:10px;
padding-right:20px;
}

/* フッター */
#top_fooder{
width:auto;
height:50px;
background:none;
padding:20px 0px 20px;
margin:0px;
text-align:left;
position:relative;
border:none;
color:#666666;
}

#top_fooder *{
background:none;
padding:0px;
margin:0px;
list-style:none;
font-size:10px;
text-decoration:none;
font-style:normal;
}

#top_fooder ul{
height:20px;
}

#top_fooder ul li{
float:left;
margin-right:10px;
}

#top_fooder p{
clear:both;
float:none;
}

#top_fooder p.logo{
position:absolute;
right:0px;
top:20px;
}

#top_fooder p.t_right{
position:absolute;
right:0px;
top:0px;
}

#top_fooder p.group {
margin: 0.5em 0 1em 0;
font-family: Verdana, sans-serif;
}


#top_fooder a:link,a:visited{
	text-decoration: none;
	color: #004695;
}

#top_fooder a:hover{
	text-decoration: underline;
	color: #a0022b;
}


#top_fooder p.copyright {
color: #8d8d8d;
font-family: Verdana, sans-serif;
}

/*  */
#main{
float:none;
margin:0px auto;
}


/* 回り込み解除 */
br.clear{
clear:both;
line-height:0px;
height:0px;
font-size:0px;
margin:0px;
padding:0px;
border:none;
}

/* テキスト飛ばし */
.fir{
text-indent:-1000%;
overflow:hidden;
font-size:0px;
}

/* block右寄せ */
.f_right{
float:right;
}

/* block左寄せ */
.f_left{
float:left;
}

/* inline右寄せ */
.t_right{
text-align:right;
}

/* inline左寄せ */
.t_left{
text-align:left;
}

/* inline中央 */
.t_center{
text-align:center;
}

/* inline均等 */
.t_just{
text-justify:inter-ideograph;
text-align:justify;
}


