@charset "UTF-8";

/* global */

*{
 margin:0px;
 padding:0px;
 font-size:x-small;
}

body{
 font-family: Arial, Helvetica, sans-serif;
 background:url('http://res.tagen.tohoku.ac.jp/~earth07/wallppr066.gif');
}

#wrapper{
width:750px;
text-align:left;
color:#000;
background:#fff;
}

.must {
 color:#f00;
 margin-left:3px;
}

.Total{
color:#FFF;
font-size:small;
font-weight:bold;
background-color:#666;
}

.ssl{
border-top:1px dotted #CCC;
padding:10px 0 5px 0;
text-align:center;
color:#F00;
}

h1{
 width:750px;
 margin:0px;
 padding:10px 0px;
 background-color:#066;
 color:#FFF;
 font-size:medium;
 line-height:160%;
}

h1 span{
 display:block;
 margin-top:10px;
 font-size:large;
 font-weight:normal;
}

input {
 ime-mode:disabled;
 color:#000;
}

/* contents */
#contents {
 width:550px;
 margin:30px;
 padding-bottom:30px;
}

#contents h3 {
 text-decoration: underline;
}

#contents ol {
 margin-left:3em;
 margin-bottom:1em;
}

#contents li {
 margin-bottom:0.5em;
}

#contents h3 {
 font-weight:bold;
 margin-bottom:1em;
}

#contents h4,
#contents p {
 margin-bottom:1em;
}

#contents p {
 margin-left:1em;
}

#contents .button,
.home {
 margin-left:100px;
}

#contents .button a,
.home {
 display:block;
 width:100px;
 height:25px;
 vertical-align:middle;
 text-align:center;
 background:#ccc;
 padding:10px 0px;
 float:left;
 margin-right:30px;
 border-right:1px solid #666;
 border-bottom:1px solid #666;
 margin-top:10px;
}

/* form */

#Form_title{
 margin:0px;
 padding:0px;
 text-align:center;
 width:740px;
 display:block;
}

form {
 width:730px;
 margin-left:10px;
 padding-bottom:50px;
 display:block;
}

#Form_detail{
margin:20px 10px 0 10px;
}

#Form_detail h2{
 padding:5px;
 margin:20px 0px;
 border-left:10px solid #60A89B;
 border-bottom:1px solid #60A89B;
 padding-left:1.3em;
 text-indent:-0.8em;
}

#Form_detail table{
 font-size:small!important;
padding:0;
 margin-left:20px;
}

#Form_detail th{
 color:#000;
 text-align:left;
 vertical-align:top;
 line-height:1.5em;
 background-color:#FFF;
 white-space:nowrap;
}

#Form_detail th span{
 font-weight:normal;
}

#Form_detail td{
 padding:5px;
 vertical-align:top;
}

select {
 width:3em;
}

#ap01,
#ap02 {
 border:1px solid #60A89B;
 margin:10px 0px;
 padding:5px;
}

#tour {
 width:650px;
 border:solid;
}

#tour,
#tour th,
#tour td {
 border:1px solid #999;
 border-collapse:collapse;
}

#tour td {
 white-space:nowrap;
}

#tour th,
#tour td {
 padding:3px;
}

#tour .before {
 color:#ccc!important;
}

#payment,
#contact,
#note {
 margin-left:20px;
 line-height:160%;
}

#payment p {
 margin-bottom:0.3em;
}

#payment table {
 margin-top:1em;
}

#payment table,
#payment th,
#payment td {
 border:1px solid #999;
 border-collapse:collapse;
 text-align:left;
 vertical-align:middle;
}

#payment th {
 font-weight:normal;
 padding:3px;
}

#payment ul {
 margin-left:20px;
 margin-top:1em;
}

.payment {
 background:#fff;
 color:#00c;
 border:none;
 width:4em;
 text-align:right;
 font-weight:bold;
}

#note input {
 padding:3px 5px;
 margin:5px;
}

.preview {
 text-align:center;
 margin-top:50px;
}

/* error */
.error h3 {
 text-decoration:none!important;
}

.error ul {
 margin-bottom:20px;
}

.error li {
 color:#f00;
 margin-left:2em;
}

.error input {
 padding:3px 5px;
}

span.error {
 color:#f00;
} 

/* previewlist */
.previewlist h3 {
 text-decoration:none!important;
 font-weight:normal;
}

.previewlist h3 span {
 font-weight:bold;
}

.previewlist dl {
 margin-left:30px;
}

.previewlist dt {
 margin-top:1em;
}

.previewlist dd {
 margin-left:1em;
 font-weight:bold;
}

.previewlist dd span {
 font-weight:normal;
}

.faxnum {
 font-size:large;
 border-bottom:1px solid;
}

.back input,
.forward input {
 padding:3px 5px;
 margin:30px 5px;
}

.back,
.forward {
 width:auto;
 float:left;
 text-align:center;
 margin-right:10px;
}