@charset "UTF-8";
/* CSS Document */

/* --------------------------------------------------------- */
/* Reset */
/* --------------------------------------------------------- */
html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6, pre, code, address, caption, cite, code, em, strong, th {
	font-size: 1em;
	font-weight: normal;
	font-style: normal;
}
ul, ol {
	list-style: none;
}
fieldset, img {
	border: none;
}
caption, th {
	text-align: left;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	line-height:160%;
	color:#333;
	background:#FFFFFF repeat left top;
}
body, td, th {
	font: 80% 'Lucida Grande', 'ヒラギノ丸ゴ Pro W4', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', sans-serif;
}
table#confirm {
	width:700px;
}
table#confirm td, th {
	font-size: 12px!important;
}
table#confirm2 {
	width:700px;
}
table#confirm2 td, th {
	font-size:12px!important;
	padding-top:20px;
	padding-bottom:20px;
}
ul#m15{
 margin:15px!important;
 }
/* --------------------------------------------------------- */
/* wrap */
/* --------------------------------------------------------- */
div#wrap {
	width:880px;
	height:607px;
	margin:10px auto;
}
/**/

/* --------------------------------------------------------- */
/* header */
/* --------------------------------------------------------- */
div#wrap div#header {
	background: url(/_common/img/bgGlbHead.gif) no-repeat left top;
	height:106px;
}
/* titleBlock --------------------*/
div#header div#titleBlock {
}
/*--- floatClearHack ---*/
div#wrap div#titleBlock:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
div#wrap div#titleBlock {
	height:1%;/* for ie6 */
	min-height:1%;/* for ie7 */
}
html>body div#wrap div#titleBlock {
	height:auto;/* for ie7 and modernbrowser*/
}
/**/

div#titleBlock h1 {
	padding-top:34px;
	padding-left:25px;
	padding-bottom:19px;
	float:left
}
div#titleBlock h1 a {
	display: block;
	border: none ! important;
	font-size: 1px;
	font-weight:normal;
	line-height:1;
	text-indent: -99999px;
	text-decoration: none ! important;
	background:url(/_common/img/h1.gif) top left no-repeat;
	width: 485px;
	height: 23px;
}
/* titleBlock --------------------*/
div#titleBlock div#bannerHead {
	float:right;
	margin-right:20px;
	margin-top:35px;
}
*html div#titleBlock div#bannerHead {
	margin-right:0px;
	padding-left:20px;
}
/* floatClearHack */
div#titleBlock dl:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
div#titleBlock dl {
	height:1%;/* for ie6 */
	min-height:1%;/* for ie7 */
}
html>body div#titleBlock dl {
	height:auto;/* for ie7 and modernbrowser*/
}
/**/
*html div#titleBlock dl {
	margin-bottom:5px;
}
*:first-child+html div#titleBlock dl {
	margin-bottom:5px;
}
div#titleBlock dl dt, div#titleBlock dl dd, div#titleBlock ul li {
	float:left;
}
div#titleBlock dt {
	height:20px;
	width:40px;
	background:url(/_common/img/bnrTitleSyu.gif) center center no-repeat;
	border: none ! important;
	font-size: 1px;
	font-weight:normal;
	line-height:1;
	text-indent: -99999px;
	text-decoration: none ! important;
}
div#titleBlock dl dd ul li {
	margin-bottom:4px;
}
div#titleBlock ul li a {
	display:block;
	border: none ! important;
	font-size: 1px;
	font-weight:normal;
	line-height:1;
	text-indent: -99999px;
	text-decoration: none ! important;
	height:20px;
	margin-right:10px;
}
div#titleBlock ul li a.mainichi {
	width:118px;
	background: url(/_common/img/bnrMainichi.gif) 0px 0px no-repeat;
	margin-right:0;
}
div#titleBlock ul li a.mainichiS {
	width:67px;
	background: url(/_common/img/bnrMainichiS.gif) 0px 0px no-repeat;
}
div#titleBlock ul li a.tbs {
	width:71px;
	background: url(/_common/img/bnrTbs.gif) 0px 0px no-repeat;
	margin-right:0;
}
/* glbNavi --------------------*/
div#header div#glbNavi {
}
/* floatClearHack */
div#glbNavi ul:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
div#glbNavi ul {
	height:1%;/* for ie6 */
	min-height:1%;/* for ie7 */
}
html>body div#glbNavi ul {
	height:auto;/* for ie7 and modernbrowser*/
}
/**/

div#glbNavi ul {
	background:url(/_common/img/glbNavi.gif) 0 0 no-repeat;
	width:860px;
	height:30px;
	margin-left:10px;
}
div#glbNavi ul li {
	float: left;
}
div#glbNavi ul li a {
	display:block;
	height:30px;
	width:122px;
	border: none ! important;
	font-size: 1px;
	font-weight:normal;
	line-height:1;
	text-indent: -99999px;
	text-decoration: none ! important;
}
div#glbNavi ul li#home {
	margin-left:10px;
}
*html div#glbNavi ul li#home {
	margin-left:0px;
	padding-left:10px;
}
div#glbNavi ul li#home a:hover, div#glbNavi ul li#home a.stay {
	background:url(/_common/img/glbNavi.gif) -10px -30px no-repeat;
}
div#glbNavi ul li#start a:hover, div#glbNavi ul li#start a.stay {
	background:url(/_common/img/glbNavi.gif) -132px -30px no-repeat;
}
div#glbNavi ul li#intro a:hover, div#glbNavi ul li#intro a.stay {
	background:url(/_common/img/glbNavi.gif) -254px -30px no-repeat;
}
div#glbNavi ul li#flow a:hover, div#glbNavi ul li#flow a.stay {
	background:url(/_common/img/glbNavi.gif) -376px -30px no-repeat;
}
div#glbNavi ul li#applocatin a:hover, div#glbNavi ul li#applocatin a.stay {
	background:url(/_common/img/glbNavi.gif) -498px -30px no-repeat;
}
div#glbNavi ul li#inquiry a:hover, div#glbNavi ul li#inquiry a.stay {
	background:url(/_common/img/glbNavi.gif) -620px -30px no-repeat;
}
div#glbNavi ul li#press a {
	width:118px;
	/*
	margin-left:122px;
	*/
}
div#glbNavi ul li#press a:hover, div#glbNavi ul li#press a.stay {
	background:url(/_common/img/glbNavi.gif) -742px -30px no-repeat;
}


/* subMenu --------------------*/
div#glbNavi ul li ul.subMenu {
	background:url(/_common/img/glbDropNavi.gif) 0px 0px no-repeat;
	width:123px;
	height:187px;
	visibility: hidden;
	position: absolute;
	z-index: 3;
	margin:0;
}
div#glbNavi ul li ul.subMenu li a {
	display: block;
	height:31px;
	width:123px;
	border: none ! important;
	font-size: 1px;
	font-weight:normal;
	line-height:31px;
	text-indent: -99999px;
	text-decoration: none ! important;
}
div#glbNavi ul li ul.subMenu li {
	float:none;
}
div#glbNavi ul li ul.subMenu li#sub12 a:hover, div#glbNavi ul li ul.subMenu li#sub12 a.stay {
	background:url(/_common/img/glbDropNavi.gif) -123px 0px no-repeat;
}
div#glbNavi ul li ul.subMenu li#sub34 a:hover, div#glbNavi ul li ul.subMenu li#sub34 a.stay {
	background:url(/_common/img/glbDropNavi.gif) -123px -31px no-repeat;
}
div#glbNavi ul li ul.subMenu li#sub56 a:hover, div#glbNavi ul li ul.subMenu li#sub56 a.stay {
	background:url(/_common/img/glbDropNavi.gif) -123px -62px no-repeat;
}

div#glbNavi ul li ul.subMenu li#subOne a:hover, div#glbNavi ul li ul.subMenu li#subOne a.stay {
	background:url(/_common/img/glbDropNavi.gif) -123px -93px no-repeat;
}
div#glbNavi ul li ul.subMenu li#subBangai a:hover, div#glbNavi ul li ul.subMenu li#subBangai a.stay {
	background:url(/_common/img/glbDropNavi.gif) -123px -124px no-repeat;
}
div#glbNavi ul li ul.subMenu li#subDl a:hover, div#glbNavi ul li ul.subMenu li#subDL a.stay {
	background:url(/_common/img/glbDropNavi.gif) -123px -155px no-repeat;
}


/* サブメニューの半透明処理
--------------------*/
div#glbNavi ul li ul.subMenu {
	filter: alpha(Opacity=90);
	opacity: 0.9;
}


/* --------------------------------------------------------- */
/* main */
/* --------------------------------------------------------- */
div#main {
	background:url(/_common/img/bgMain.gif) repeat top left;
	line-height:140%;
}
/* floatClearHack */
div#wrap div#main:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
div#wrap div#main {
	height:1%;/* for ie6 */
	min-height:1%;/* for ie7 */
}
html>body div#wrap div#main {
	height:auto;/* for ie7 and modernbrowser*/
}
/**/

/* --------------------------------------------------------- */
/* cont BASE */
/* --------------------------------------------------------- */

div#main div#contIndex /*
div#main div#contIntro,
div#main div#contFlow,
div#main div#contApplocation,
div#main div#contInquiry,
div#main div#contViewhope,
div#main div#contPress */{
	float:left;
	width:500px;
	margin-left:35px;
}
div#main div#contIntro, div#main div#contFlow, div#main div#contApplocation, div#main div#contInquiry, div#main div#contViewhope, div#main div#contPress,div#main div#contPrize {
	width:700px;
	margin:0 auto;
	padding-top:20px;
}
/*
*html div#main div#contIntro,
*html div#main div#contFlow,
*html div#main div#contApplocation,
*html div#main div#contInquiry,
*html div#main div#contViewhope,
*html div#main div#contPress {
	width:490px;
	margin-left:0px;
	padding-left:35px;
}
*/
/*
div#main div#contIntro,
div#main div#contFlow,
div#main div#contApplocation,
div#main div#contInquiry,
div#main div#contViewhope,
div#main div#contPress {
	margin-top:20px;
	height:405px;
	overflow:auto;
	padding-right:10px;
}
*/
div#main div#contIntro h2, div#main div#contFlow h2, div#main div#contGuide h2, div#main div#contConvention h2, div#main div#contApplocation h2, div#main div#contInquiry h2, div#main div#contViewhope h2, div#main div#contPress h2, div#main div#contPage h2.privacy, div#main div#contPage h2.about, div#main div#contPage div#site h2, div#main div#contPrize h2 {
	border: none ! important;
	font-size: 1px;
	font-weight:normal;
	line-height:1;
	text-indent: -99999px;
	text-decoration: none ! important;
	height:28px;
}
div#main div#contIntro h3, div#main div#contFlow h3, div#main div#contGuide h3, div#main div#contConvention h3, div#main div#contApplocation h3, div#main div#contInquiry h3, div#main div#contViewhope h3, div#main div#contPress h3, div#main div#contPage div#site h3 {
	font-size:110%;
	margin-top:1.5em;
	letter-spacing:0.1em;
	font-weight:bold;
}
div#main div#contIntro p, div#main div#contFlow p, div#main div#contGuide p, div#main div#contConvention p, div#main div#contApplocation p, div#main div#contInquiry p, div#main div#contViewhope p, div#main div#contPress p {
	margin-top:0.8em;
	letter-spacing:0.1em;
}
/* contFoot --------------------*/
div#main div#contFooter {
	padding-top:20px;
	padding-bottom:20px;
	margin-top:10px;
}
/* floatClearHack */
div#main div#contFooter:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
div#main div#contFooter {
	height:1%;/* for ie6 */
	min-height:1%;/* for ie7 */
}
html>body div#main div#contFooter {
	height:auto;/* for ie7 and modernbrowser*/
}
/**/
div#contFooter ul li#prev {
	float:left;
}
div#contFooter ul li#tohead {
	float:right;
}
div#contFooter ul li a {
	display:block;
}
div#contFooter ul li#prev a {
	background:url(/_common/img/arrowPrev.gif) left center no-repeat;
	padding-left:1.5em;
}
div#contFooter ul li#tohead a {
	background:url(/_common/img/arrowTohead.gif) right center no-repeat;
	padding-right:1.5em;
}
div#contFooter ul li a:link, div#contFooter ul li a:visited {
	font-size:80%;
	color:#FF0033;
}
div#contFooter ul li a:hover {
	text-decoration:underline;
}
/* contIndex --------------------*/
*html div#main div#contIndex {
	margin-left:0px;
	padding-left:25px;
	position:relative;
}
div#wrap div#contIndex h2, div#wrap div#contIndex p {
	width:498px;
	border: none ! important;
	font-size: 1px;
	font-weight:normal;
	line-height:1;
	text-indent: -99999em;
	text-decoration: none ! important;
}
div#wrap div#main div#contIndex h2 {
	background:url(/_common/img/titleIndex.gif) no-repeat left top;
	height:197px;
	margin-top:20px;
}
div#wrap div#main div#contIndex p {
	background:url(/_common/img/detailIndex.gif) no-repeat left top;
	height:209px;
	
}

div#main div#contIndex ul li.prize {
	position:absolute;
	top:390px;
	left:280px;
}
*html div#main div#contIndex ul li.prize {
	left:310px;
}
div#main div#contIndex ul li.local {
	position:absolute;
	top:325px;
	left:373px;
}
*html div#main div#contIndex ul li.local {
	left:398px;
}
div#main div#contIndex ul li.prize a,
div#main div#contIndex ul li.local a{
	display:block;
	border: none ! important;
	font-size: 1px;
	font-weight:normal;
	line-height:1;
	text-indent: -99999px;
	text-decoration: none ! important;
}
div#main div#contIndex ul li.prize a {
	width:110px;
	height:19px;
}
div#main div#contIndex ul li.local a {
	width:111px;
	height:28px;
}

/*div#main div#contIndex ul li {
	position:absolute;
	top:390px;
	left:280px;
}
*html div#main div#contIndex ul li {
	left:310px;
}
div#main div#contIndex ul li a {
	display:block;
	border: none ! important;
	font-size: 1px;
	font-weight:normal;
	line-height:1;
	text-indent: -99999px;
	text-decoration: none ! important;
	width:110px;
	height:19px;
}*/



/* contIntro --------------------*/
div#main div#contIntro h2 {
	background:url(/_common/img/h2Intro.gif) no-repeat left top;
	width:164px;
}
div#main div#contIntro ol {
	margin-left:2em;
}
div#main div#contIntro ol li {
	list-style:decimal;
	margin-top:0.5em;
}
/* contFlow --------------------*/
div#main div#contFlow h2 {
	background:url(/_common/img/h2Flow.gif) no-repeat left top;
	width:160px;
}
/* contDvd --------------------*/
div#main div#contApplocation h2 {
	background:url(/_common/img/h2Applocation.gif) no-repeat left top;
	width:122px;
}
/* contInquiry & Press --------------------*/
div#main div#contInquiry h2 {
	background:url(/_common/img/h2Inquiry.gif) no-repeat left top;
	width:124px;
}
div#main div#contViewhope h2 {
	background:url(/_common/img/h2Viewhope.gif) no-repeat left top;
	width:320px;
	height: 48px;
}
div#main div#contPress h2 {
	background:url(/_common/img/h2Press.gif) no-repeat left top;
	width:199px;
}

div#main div#contViewhope ul li {
	margin-top: 5px;
}

div#contInquiry table, div#contViewhope table, div#contPress table {
	margin:15px auto 0 auto;
	width:80%;
}
div#contInquiry table th.thead, div#contViewhope table th.thead, div#contPress table th.thead {
	text-align:center;
	color:#FFFFFF;
	font-size:120%;
}
div#contInquiry table th.thead, div#contViewhope table th.thead {
	background-color:#FF3300;
}

div#contViewhope table th.thead {
	background-color:#C37BB1;
}

div#contPress table th.thead {
	background-color:#8ec31f;
}
div#contInquiry table th, div#contViewhope table th, div#contPress table th {
	text-align:right;
	padding-right:5px;
	font-size:100%;
}
div#contInquiry table th, div#contInquiry table td, div#contViewhope table th, div#contViewhope table td, div#contPress table th, div#contPress table td {
	padding-top:8px;
	padding-bottom:8px;
}
div#contInquiry table th, div#contInquiry table td  {
	border-top:#FF9900 solid 1px;
}
div#contViewhope table th, div#contViewhope table td  {
	border-top:#E8CCE1 solid 1px;
}
div#contPress table th, div#contPress table td {
	border-top:#b8db6e solid 1px;
}
div#contInquiry table td #comment, div#contViewhope table td #comment, div#contPress table td #comment {
	width:330px;
	height:100px;
}
div#contInquiry table tr td.btnForm, div#contViewhope table tr td.btnForm, div#contPress table tr td.btnForm {
	text-align:center;
}
div#contInquiry table td.hisu, div#contViewhope table td.hisu, div#contPress table td.hisu {
	text-align:right;
	padding-top:3px;
	padding-bottom:3px;
	background-color:#E5E5E5;
}
/* finish */
div#contInquiry table#finish th, div#contViewhope table#finish th, div#contPress table#finish th {
	background-color:#00a0e9;
}
div#contInquiry table#finish th, div#contViewhope table#finish th, div#contPress table#finish th, div#contInquiry table#finish td, div#contViewhope table#finish td, div#contPress table#finish td {
	border-color:#00a0e9;
}




/* contPrize --------------------*/


div#main div#contPrize h2.localT { 
background:url(/_common/img/h2Local.gif) no-repeat left top; 
width:163px; 
} 
div#main div#contPrize h2.localT2 { 
background:url(/_common/img/h2Local2.gif) no-repeat left top; 
width:253px; 
} 
div#main div#contPrize h2.localT3 { 
background:url(/_common/img/h2Local3.gif) no-repeat left top; 
width:222px; 
} 



div#main div#contPrize h2.t1 {
	background:url(/_common/img/h2Prize01.gif) no-repeat left top;
	width:128px;
}
div#main div#contPrize h2.t2 {
	background:url(/_common/img/h2Prize02.gif) no-repeat left top;
	width:287px;
}


/* --------------------------------------------------------- */
/* sidebar */
/* --------------------------------------------------------- */
div#main div#sidebar {
	float:right;
	width:320px;
	margin-right:10px;
}
*html div#main div#sidebar {
	margin-right:0px;
	padding-right:10px;
}
/*  sideNavi--------------------*/
div#sidebar div#sideNavi {
	background:url(/_common/img/sidebar.gif) no-repeat left top;
	width:320px;
	height:214px;
	position:relative;
}
div#sideNavi ul li {
	position:absolute;
}
div#sideNavi ul li#lite {
	top:62px;
	left:167px;
}
div#sideNavi ul li#cmBox {
	top:156px;
	left:143px;
}
div#sideNavi ul li a {
	display:block;
	border: none ! important;
	font-size: 1px;
	font-weight:normal;
	line-height:1;
	text-indent: -99999px;
	text-decoration: none ! important;
}
div#sideNavi ul li#lite a {
	width:124px;
	height:19px;
}
div#sideNavi ul li#cmBox a {
	width:80px;
	height:28px;
}
/*  updateInfo--------------------*/
div#sidebar div#update {
	background:url(/_common/img/bgUpdate.gif) no-repeat left top;
	width:305px;
	height:170px;
	padding-top:32px;
}
div#update div#updateC {
	width:300px;
	height:162px;
	overflow:auto;
	margin:0 auto;
}
div#updateC dl {
	width:270px;
	margin:10px auto 0 auto;
}
div#updateC dt {
	background:url(/_common/img/iconUpdate.gif) left center no-repeat;
	padding-top:0.1em;
	padding-bottom:0.1em;
	line-height:1em;
	color:#FF3300;
	font-size:80%;
}
div#updateC dt, div#updateC dd {
	padding-left:1.6em;
}
div#updateC dd {
	margin-bottom:0.3em;
	font-size:90%;
}
div#sidebar div#updateF {
	background:url(/_common/img/updateFoot.gif) no-repeat left top;
	width:305px;
	height:10px;
}
/* --------------------------------------------------------- */
/* footer */
/* --------------------------------------------------------- */
div#wrap div#footer {
	background:url(/_common/img/bgMain.gif) repeat top left;
	padding-top:10px;
}
/*  banner--------------------*/
div#footer div#banner {
	width:815px;
	margin:0 auto;
}
*html div#footer div#banner {
	width:820px;
}
/* floatClearHack */
div#footer div#banner:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
div#footer div#banner {
	height:1%;/* for ie6 */
	min-height:1%;/* for ie7 */
}
html>body div#footer div#banner {
	height:auto;/* for ie7 and modernbrowser*/
}
/**/
div#banner dl, div#banner dl dt, div#banner dl dd, div#banner dl ul li {
	float:left;
}
div#banner dl dt, div#banner ul li a {
	height:19px;
	float:left;
	border: none ! important;
	font-size: 1px;
	font-weight:normal;
	line-height:1;
	text-indent: -99999px;
	text-decoration: none ! important;
}
div#titleBlock ul li a {
	display:block;
}
div#banner dl, div#banner dl dd ul li {
	margin-right:6px;
}
*html div#banner dl, *html div#banner dl dd ul li {
	margin-right:5px;
}
div#banner dl#tokubetsu, div#banner dl#tokubetsu dd ul li {
	margin-right:0px;
}
div#banner dl#kyosan dt {
	width:38px;
	background:url(/_common/img/bnrTitleKyou.gif) left center no-repeat;
}
dl#kyosan dd ul li a.auskan {
	width:58px;
	background: url(/_common/img/bnrAuskan.gif) 0px 0px no-repeat;
}
dl#kyosan dd ul li a.ito {
	width:119px;
	background: url(/_common/img/bnrIto.gif) 0px 0px no-repeat;
}
dl#kyosan dd ul li a.oki {
	width:54px;
	background: url(/_common/img/bnrOki.gif) 0px 0px no-repeat;
}
dl#kyosan dd ul li a.kawai {
	width:61px;
	background: url(/_common/img/bnrKawai.gif) 0px 0px no-repeat;
}
dl#kyosan dd ul li a.jtb {
	width:32px;
	background: url(/_common/img/bnrJtb.gif) 0px 0px no-repeat;
}
dl#kyosan dd ul li a.takara {
	width:35px;
	background: url(/_common/img/bnrTakara.gif) 0px 0px no-repeat;
}
dl#kyosan ul li a.yamato {
	width:92px;
	background: url(/_common/img/bnrYamato.gif) 0px 0px no-repeat;
}
div#banner dl#kyoryoku dt {
	width:38px;
	background:url(/_common/img/bnrTitleRyoku.gif) left center no-repeat;
}
dl#kyoryoku dd ul li a.yahoo {
	width:85px;
	background: url(/_common/img/bnrYahoo.gif) 0px 0px no-repeat;
}
div#banner dl#tokubetsu dt {
	width:64px;
	background:url(/_common/img/bnrTitleToku.gif) left center no-repeat;
}
dl#tokubetsu dd ul li a.minerva {
	width:65px;
	background: url(/_common/img/bnrMinerva.gif) 0px 0px no-repeat;
}
div#banner dl#koen {
	margin-bottom:2px;
}
div#banner dl#koen dd ul li {
	margin-right:5px;
}
div#banner dl#koen dt {
	height:12px;
}
/*
*:first-child+html div#subBlock dt {
	margin-top:32px;
}
*html div#subBlock dt {
	margin-top:32px;
}
*/
div#banner dl#koen dt {
	width:40px;
	background:url(/_common/img/bnrTitlekou.gif) center center no-repeat;
}
dl#koen dd ul li.monka, dl#koen dd ul li.gaimu {
	display:block;
	border: none ! important;
	font-size: 1px;
	font-weight:normal;
	line-height:1;
	text-indent: -99999px;
	text-decoration: none ! important;
	height:12px;
}
div#titleBlock dl#koen dt {
	width:40px;
	background:url(/_common/img/bnrTitlekou.gif) center center no-repeat;
}
dl#koen dd ul li.monka {
	width:64px;
	background: url(/_common/img/bnrMonka.gif) 0px 0px no-repeat;
}
dl#koen dd ul li.gaimu {
	width:38px;
	background: url(/_common/img/bnrGaimu.gif) 0px 0px no-repeat;
}
dl#koen dd ul li a.australia {
	width:174px;
	background: url(/_common/img/bnrAustralia.gif) 0px 0px no-repeat;
}
dl#koen dd ul li a.mizuho {
	width:63px;
	background: url(/_common/img/bnrMizuho.gif) 0px 0px no-repeat;
}
dl#koen dd ul li a.bstbs {
	width:50px;
	background: url(/_common/img/bnrBstbs.gif) 0px 0px no-repeat;
}
dl#koen dd ul li a.hbc {
	width:59px;
	background: url(/_common/img/bnrHbc.gif) 0px 0px no-repeat;
}
dl#koen dd ul li a.tbc {
	width:76px;
	background: url(/_common/img/bnrTbc.gif) 0px 0px no-repeat;
}
dl#koen dd ul li a.cbc {
	width:71px;
	background: url(/_common/img/bnrCbc.gif) 0px 0px no-repeat;
}
dl#koen dd ul li a.mbs {
	width:48px;
	background: url(/_common/img/bnrMbs.gif) 0px 0px no-repeat;
}
dl#koen dd ul li a.rkb {
	width:74px;
	background: url(/_common/img/bnrRkb.gif) 0px 0px no-repeat;
	margin-right:0;
}
/*  bottomBlock--------------------*/
div#footer div#bottomBlock {
	width:860px;
	margin:10px auto;
	padding-bottom:5px;
	padding-top:5px;
	background-color:#ea5350;
	font-size:60%;
	color:#FFFFFF;
}
/* floatClearHack */
div#footer div#bottomBlock:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
div#footer div#bottomBlock {
	height:1%;/* for ie6 */
	min-height:1%;/* for ie7 */
}
html>body div#footer div#bottomBlock {
	height:auto;/* for ie7 and modernbrowser*/
}
/**/

div#bottomBlock div#subNavi {
	float:left;
	margin-left:10px;
}
*html div#bottomBlock div#subNavi {
	margin-left:0px;
	padding-left:10px;
}
div#bottomBlock address {
	float:right;
	margin-right:10px;
}
*html div#bottomBlock address {
	margin-right:0px;
	padding-right:10px;
}
div#bottomBlock div#subNavi ul li {
	float:left;
	margin-right:5px;
}
div#bottomBlock div#subNavi ul li a, div#bottomBlock div#subNavi ul li a:visited {
	color:#FFFFFF;
}
div#bottomBlock div#subNavi ul li a:hover {
	color:#FFFFFF;
	text-decoration:underline;
}
/* --------------------------------------------------------- */
/* contPage */
/* --------------------------------------------------------- */
div#contPage {
	padding-top:20px;
	width:860px;
	padding-right:10px;
	text-align:center;
}
*html div#contPage {
	height:409px;
}
div#contPage p {
	margin-top:1em;
}
div#contPage img {
	display:block;
	float:right;
}
div#contPage div#contFooter {
	width:500px;
	margin:0 auto;
}
div#contPage div.contBox {
	background-color:#FFFFFF;
	padding:15px 10px;
	width:480px;
	margin:0 auto;
	text-align:left;
	line-height:160%;
}
/* privacy */
div#main div#contPage div.contBox h2.privacy {
	background:url(/_common/img/h2Pri.gif) no-repeat left top;
	width:480px;
	height:34px;
}
/* site */
div#main div#contPage div#site h2 {
	background:url(/_common/img/h2site.gif) no-repeat left top;
	width:480px;
	height:34px;
}
/* about */
div#main div#contPage div.contBox h2.about {
	background:url(/_common/img/h2Abo.gif) no-repeat left top;
	width:480px;
	height:34px;
}
div#contPage h3.about {
	font-size:120%;
	font-weight:bold;
	color:#FF3300;
	text-align:center;
	line-height:180%;
	margin-top:1.5em;
	margin-bottom:1em;
}
div#contPage div.contBox dl.about {
}
div#contPage div.contBox dl.about dt {
	margin-top:1em;
	font-weight:bold;
}
div#contPage div.contBox dl dd a:link, div#contPage div.contBox dl dd a:visited {
	color:#0099FF;
}
div#contPage div.contBox dl dd a:hover {
	color:#009900;
}
/* --------------------------------------------------------- */
/* General Setting */
/* --------------------------------------------------------- */
.txtInd {
	border: none ! important;
	font-size: 1px;
	font-weight:normal;
	line-height:1;
	text-indent: -99999px;
	text-decoration: none ! important;
}
.left {
	float:left;
}
.right {
	float:right;
}
/* --------------------------------------------------------- */
/* floatClearHack */
/* --------------------------------------------------------- */

.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.clearfix {
	height:1%;/* for ie6 */
	min-height:1%;/* for ie7 */
}
html>body .clearfix {
	height:auto;/* for ie7 and modernbrowser*/
}
/**/
a.arrowR {
	background:url(/_common/img/arrowR1.gif) left center no-repeat;
	padding-left:1em;
}
a.arrowL {
	background:url(/_common/img/arrowPrev.gif) left center no-repeat;
	padding-left:1em;
}
.pdficon {
	background:url(../_common/img/pdficon_small.gif) left center no-repeat;
	padding:0.5em 0 0.5em 1.5em;
}
div#contOnepoint div.contBox strong {
	font-weight:bold;
	color:#79b300;
}
.error {
	color:#FF0000;
	font-size:120%;
	font-weight:bold;
	padding:5px;
}
.importance {
	color:#FF0000;
	font-weight:bold;
}
p.caption {
	font-size:80%;
	color:#666666;
	text-align:left;
}
.signature {
	text-align:right;
	font-size:80%;
}
.gnrWrapO {
	border:#FF6600 solid 1px;
	background-color:#FFFFCC;
	padding:1em;
	margin-top:2.5em;
}
div#main div.gnrWrapO h3, div#main div#contInquiry div.gnrWrapO h3, div#main div#contViewhope div.gnrWrapO h3, div#main div#contPress div.gnrWrapO h3 {
	margin-top:0;
	text-align:center;
	color:#FF6600;
}

div.gnrWrapO dl {
	margin-top:5px;
}
div.gnrWrapO dl dt {
	margin-right:5px;
}
div.gnrWrapO dl dt, div.gnrWrapO dl dd {
	float:left;
}
div.gnrWrapO dl dd {
	margin-right:10px;
}
/* floatClearHack */
div.gnrWrapO dl:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
div.gnrWrapO dl {
	height:1%;/* for ie6 */
	min-height:1%;/* for ie7 */
}
html>body div.gnrWrapO dl {
	height:auto;/* for ie7 and modernbrowser*/
}
/**/
