@charset "utf-8";
/* CSS Document */

.l-mainVisual{
	width:100%;
	margin:0 auto;
	/*background-color:#fafafa;*/
	background-color:#FFFFFF;
}
.l-mainVisual-inner{
	max-width:1060px;
	width:100%;
	margin: 0px auto;
	padding: 0px 0;
	/*background-color:#fafafa;*/
	background-color:#FFFFFF;
}
.l-mainVisual-inner img{
	max-width:1060px;
	width:100%;
}

.l-detailBlock h3 {
    border-bottom: 5px solid #d0e5fd;
}
.l-detailBlock h3 > p {
    font-size: 150%;
    /*font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif;*/
    letter-spacing: .1em;
    text-align: left;
    border-bottom: 1px solid #9bb8d8;
    padding-bottom: 10px;
}

.l-newsBlock{
	width: 100%;
	margin: 0px auto;
	padding-bottom:0px;
}
.l-newsBlock01{
	width: 100%;
	background-color:#0048a8;
	padding:15px 20px;
	border:1px solid #f3f3f3;
}
.l-newsBlock01-table{
	width:100%;
	display:table;
}
.l-newsBlock01 p{
	color:#FFFFFF;
	display:table-cell;
	vertical-align:middle;
}
.l-newsBlock01 p img{
	padding-top:3px;
}
.l-newsBlock01 p + p{
	text-align:right;
}
.l-newsBlock02{
	width: 100%;
	background-color:#FFFFFF;
	border:1px solid #dddddd;
	border-top:none;
	margin-bottom:50px;
}
.l-newsBlock02-table{
	width: 100%;
	display:table;
}
.l-newsBlock02 a:last-child .l-newsBlock02-table{
	padding-bottom:30px;
}
.l-newsBlock02-table:hover{
	-webkit-transition:.3s;
	-moz-transition:.3s;
	transition:.3s;
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	opacity:.7;
}
.l-newsBlock02-table > div{
	display:table-cell;
	vertical-align:top;
}
/*.l-newsBlock02-table .p-photo{
	padding:15px 40px;
	width:400px;
}
.l-newsBlock02-table .p-photo img{
	vertical-align:middle;
}*/
.l-newsBlock02-table .p-date{
	text-align:left;
	width:120px;
	padding:30px 10px 0px 30px;
}
.l-newsBlock02-table .p-date p{
	font-size:100%;
}
.l-newsBlock02-table .p-date p span{
	font-size:75%;
}
.l-newsBlock02-table .p-category{
	padding-left:10px;
	width:150px;
	text-align:left;
	padding:30px 0px 0px 10px;
}
.l-newsBlock02-table .p-category img{
	max-width:140px;
	width:100%;
}
.l-newsBlock02-table .p-message{
	padding-left:10px;
	width:auto;
	text-align:left;
	padding:30px 30px 0px 20px;
}


.p-page {
    text-align: center;
    margin-top: 25px;
}
.p-page span {
    position: relative;
    top: 1px;
}
.p-page .page-numbers {
    font-size: 87.5%;
    padding: 10px 12px;
    background-color: #FFFFFF;
    color: #040000;
    text-decoration: none;
    border: 1px solid #040000;
    border-radius: 3px;
    margin-right: 5px;
}
.p-page .current {
    background-color: #00afec;
    color: #FFFFFF;
    border: 1px solid #00afec;
}
.p-page .prevdisable {
    background-color: #d5d5d5;
    color: #FFFFFF;
    border: 1px solid #d5d5d5;
}
.p-page .nextdisable {
    background-color: #d5d5d5;
    color: #FFFFFF;
    border: 1px solid #d5d5d5;
    margin-left: 3px;
}

.p-newsTop a {
    display: block;
    width: 80%;
    padding: 15px 0;
    text-align: center;
    margin: 0 auto 10px;
    background: #bbbbbb url(../../images/news/ico_arrow01_pc.png) left 3% center no-repeat;
    background-size: 18px auto;
    margin-top: 30px;
    cursor: pointer;
    border: none;
    color: #FFFFFF;
    text-decoration: none;
}

.activity-nav{
	width:100%;
	margin:50px auto;
	text-align:center;
}
.activity-nav .page-numbers {
    font-size: 87.5%;
    padding: 10px 12px;
    background-color: #FFFFFF;
    color: #040000;
    text-decoration: none;
    border: 1px solid #040000;
    border-radius: 3px;
    margin-right: 5px;
}
.activity-nav .page-numbers.current {
    background-color: #5eb1fb;
    color: #FFFFFF;
    border: 1px solid #5eb1fb;
	position:relative;
	top:1px;
}





.l-detailBlock{
	margin-top:30px;
}
.l-detailBlock01{
	width:100%;
	margin:0 auto;
	padding:20px 0px;
}
.l-detailBlock01 > p{
	font-size:87.5%;
	padding-bottom:20px;	
	line-height: 1.7;
}
.l-detailBlock01 > p a{
	color:#1382c5;
	position:relative;
	top:-1px;
}
.l-detailBlock01 > p.p-right{
	text-align:right;
	padding-top:10px;
}
.l-detailBlock01 > p.p-image{
	text-align:center;
	padding-top:10px;
}
.l-detailBlock01 > p.p-image img{
	max-width:100%;
	width:auto;
}
.l-detailBlock01_2{
	width:100%;
	margin:0 auto 20px;
	padding:0px;
	display:table;
	/*background-color:#f2f2f3;*/
}
.l-detailBlock01_2 .p-title{
	font-weight:bold;
}
.l-detailBlock01_2 > div{
	font-size:87.5%;
	padding-bottom:0px;	
	line-height: 2;
	display:table-cell;
	padding-left:4px;
	padding-right:4px;
}
.l-detailBlock01_2 > div:first-child{
	padding-left:0px;
	padding-right:8px;
}
.l-detailBlock01_2 > div:last-child{
	padding-left:8px;
	padding-right:0px;
}
.l-detailBlock01_2 > div img{
	width:100%;
}
.l-detailBlock01_2 > div a{
	display:block;
}
.l-detailBlock01_2 p:before {
    content:" ";
    display: inline-block;
    width:13px;
    height:15px;    
    background-size:contain;
    vertical-align:middle;
	background:url("../../images/about/ico_main_01_pc.png") top -2px left no-repeat;
	padding-left:5px;
}

.l-conferenceBlock04{
	width:100%;
	display:block;	
	margin:0px auto 20px;
}
.l-conferenceBlock04-table{
	width:100%;
	display:block;
}
.l-conferenceBlock04-table .l-conferenceBlock04-table-cell{
	width:100%;
	display:block;
	vertical-align:top;
	margin:0 auto;
	text-align:center;
}
.l-conferenceBlock04-table .l-conferenceBlock04-table-cell a{
	display:inline-block;
}
.l-conferenceBlock04-table .l-conferenceBlock04-table-cell .l-conferenceBlock04-outside{
	background-color:#c5c5c5;
	padding:2px;
	margin:5px auto;
	width:400px;
	text-align:center;
}
.l-conferenceBlock04-table .l-conferenceBlock04-table-cell .l-conferenceBlock04-outside:hover{
	-webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
	opacity: .7;
}
.l-conferenceBlock04-table .l-conferenceBlock04-table-cell .l-conferenceBlock04-outside .l-conferenceBlock04-inside{
	border-radius:5px;
	background: rgb(254,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(254,255,255,1) 0%, rgba(252,252,252,1) 87%, rgba(242,242,242,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(254,255,255,1) 0%,rgba(252,252,252,1) 87%,rgba(242,242,242,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(254,255,255,1) 0%,rgba(252,252,252,1) 87%,rgba(242,242,242,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */	
}
.l-conferenceBlock04-table .l-conferenceBlock04-table-cell .l-conferenceBlock04-outside .l-conferenceBlock04-inside p{
	color:#414848;
	font-size:100%;
	font-weight:bold;
	background: url(../../images/news/ico_news_01_pc.png) left 20px center no-repeat;
	width:100%;
	display:inline-block;
	padding:20px 0;
	text-align:center;
	vertical-align:middle;
}
.l-conferenceBlock04-table .l-conferenceBlock04-table-cell .l-conferenceBlock04-outside .l-conferenceBlock04-inside p span{
	display:inline-block;
	/*vertical-align: -50%;*/
	padding:0 38px;
}
.l-conferenceBlock04-table .l-conferenceBlock04-table-cell .l-conferenceBlock04-outside .l-conferenceBlock04-inside p span.p-button{
	font-size:75%;
	text-align:left;
}

/*-------------------- ▲共通CSS▲ ------------------------*/

/*---------------- ▼PCのみCSS▼ --------------------*/
@media screen and (min-width:1001px){
	
	
	
	
}
/*---------------- ▲PCのみCSS▲ --------------------*/
/*---------------- ▼タブレット以降CSS▼ --------------------*/
@media screen and (max-width:1000px){
	
	.l-newsBlock01{
		padding:3%;
	}
	.l-newsBlock01 p{
		font-weight:bold;
	}
	.l-newsBlock01 img{
		max-width:97px;
		width:100%;
	}
	
	.l-newsBlock02{
	}
	.l-newsBlock02-table{
		width: 100%;
		display:block;
	}
	.l-newsBlock02 a:last-child .l-newsBlock02-table{
		padding-bottom:0px;
	}
	.l-newsBlock02-table > div{
		display:inline-block;
	}
	.l-newsBlock02-table .p-date{
		text-align:left;
		width:auto;
		padding:15px 10px 0px 3%;
	}
	.l-newsBlock02-table .p-date p{
		font-size:100%;
	}
	.l-newsBlock02-table .p-date p span{
		font-size:75%;
	}
	.l-newsBlock02-table .p-category{
		padding-left:10px;
		width:160px;
		text-align:left;
		padding:15px 3% 0px 10px;
	}
	.l-newsBlock02-table .p-category img{
		max-width:140px;
		width:100%;
	}
	.l-newsBlock02-table .p-message{
		padding-left:10px;
		width:100%;
		text-align:left;
		padding:10px 3% 10px 3%;
		display:block;
		border-bottom:1px solid #e7e7e7;
	}
	.l-newsBlock02 a:last-child .l-newsBlock02-table .p-message{
		border-bottom:none;
	}
	
	.l-detailBlock01{
		margin-bottom:3%;
		padding:3% 0;
	}
	.l-detailBlock01_2{
		padding:3%;
	}
	
}
/*---------------- ▲タブレット以降CSS▲ --------------------*/
/*---------------- ▼タブレットのみ（1024～641）CSS▼ --------------------*/
@media screen and (max-width:1000px) and (min-width:481px) {
	
}
/*---------------- ▲タブレットのみ（1024～641）CSS▲ --------------------*/
/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){
	
	.l-newsBlock02-table .p-date{
		padding:17px 10px 0px 3%;
	}
	
	.l-detailBlock01_2{
		width:100%;
		margin:0 auto 20px;
		padding:0px;
		display:block;
		/*background-color:#f2f2f3;*/
	}
	.l-detailBlock01_2 > div{
		font-size:87.5%;
		padding-bottom:0px;	
		line-height: 2;
		display:block;
		padding-left:0px;
		padding-right:0px;
		margin-bottom:20px;
	}
	.l-detailBlock01_2 > div:first-child{
		padding-left:0px;
		padding-right:0px;
	}
	.l-detailBlock01_2 > div:last-child{
		padding-left:0px;
		padding-right:0px;
	}
	.l-detailBlock01_2 > div img{
		width:100%;
	}
	.l-detailBlock01_2 > div a{
		display:block;
	}
	.l-detailBlock01_2 p:before {
		content:" ";
		display: inline-block;
		width:13px;
		height:15px;    
		
		vertical-align:middle;
		background:url("../../images/about/ico_main_01_sp.png") top -2px left no-repeat;
		background-size:12px auto;
		padding-left:5px;
	}
	
	.l-conferenceBlock04-table{
		width:100%;
		display:block;
	}
	.l-conferenceBlock04-table .l-conferenceBlock04-table-cell{
		width:100%;
		display:block;
		vertical-align:top;
	}
	.l-conferenceBlock04-table .l-conferenceBlock04-table-cell .l-conferenceBlock04-outside{
		background-color:#c5c5c5;
		padding:2px;
		margin:5px auto;
		width:100%;
		text-align:center;
	}
	.l-conferenceBlock04-table .l-conferenceBlock04-table-cell .l-conferenceBlock04-outside .l-conferenceBlock04-inside p{
		background: url(../../images/news/ico_news_01_sp.png) left 10px center no-repeat;
		background-size:18px auto;
	}
	
}
/*---------------- ▲スマホ以降CSS▲ --------------------*/
/*---------------- ▲スマホ最小CSS▲ --------------------*/
@media screen and (max-width:320px){
	
	
}
/*---------------- ▲スマホ最小CSS▲ --------------------*/