@charset "utf-8";
/* CSS Document */

#interpretation{
	color:#414848;
}

.l-mainVisual{
	width:100%;
	margin:0 auto;
	/*background-color:#fafafa;*/
	background-color:#FFFFFF;
}
.l-mainVisual-inner{
	max-width:1060px;
	width:100%;
	margin: 0px auto;
	padding: 0px 0;
	/*background-color:#fafafa;*/
	background-color:#FFFFFF;
}
.l-mainVisual-inner img{
	max-width:1060px;
	width:100%;
}

.l-recruitBlock{
	
}
.l-recruitBlock01{
	width:100%;
	margin:0 auto;
	padding:20px 0px;
}
#registration .l-recruitBlock01{
	width:100%;
	margin:0 auto 100px;
	padding:20px 0px;
}
.l-recruitBlock01 > p{
	font-size:87.5%;
	padding-bottom:20px;	
	line-height: 1.7;
}

.l-recruitBlock01 h4 {
    border-bottom: none;
    padding: 0px 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.l-recruitBlock01 h4 p {
    font-size: 125%;
    /*font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif;*/
    text-align: left;
    border-bottom: none;
    padding-bottom: 0px;
    padding-left: 0px;
	color:#1382c5;
	font-size:112.5%;
}
.l-recruitBlock01 h4 p.p-black {
    color:#414848;
}
.l-recruitBlock01 h4 p span {
    font-size:77.7%;
}

.l-recruitBlock02{
	width:100%;
	margin:0 auto;
	padding:20px 0px;
}
.l-recruitBlock02 img{
	width:100%;
}

.l-recruit-button{
	width:100%;
	margin:0px auto 20px;
	display:block;
}
.l-recruit-button p{
	text-align:left;
}
.l-recruit-button p.p-left{
	text-align:left;
}

.l-recruit-button p a{
	display:inline-block;
	width:50%;
}
.l-recruit-button p a img{
	max-width:375px;
	width:100%;
}
.l-recruit-button p a:nth-child(odd) img{
	margin-right:7px;
	margin-bottom:5px;
}
.l-recruit-button p a:nth-child(even) img{
	margin-left:7px;
	margin-bottom:5px;
}

.l-recruitBlock03 h4 {
    border-bottom: none;
    padding: 0px 15px;
    font-size: 112.5%;
}
.l-recruitBlock03-list2{
	border-top:2px dotted #dddddd;
	border-bottom:2px dotted #dddddd;
	margin:15px 0;
}
.l-recruitBlock03 .l-recruitBlock03-list a,
.l-recruitBlock03 .l-recruitBlock03-list2 a {
    display:block;
	color:#1382c5;
	padding-top:10px;
	font-size:87.5%;
}
.l-recruitBlock03 .l-recruitBlock03-list2 a {
    padding-bottom:10px;
}

.l-recruitBlock04{
	width:100%;
	margin:20px auto;
	padding:20px;
	background-color:#f2f2f3;
}
.l-recruitBlock04 .p-title{
	color:#1382c5;
	font-weight:bold;
}
.l-recruitBlock04 table{
	width:100%;
	margin:10px auto;
}
.l-recruitBlock04 table tr th{
	padding:10px;
	background-color:#0d55a6;
	vertical-align:top;
	color:#FFFFFF;
	font-size:87.5%;
	width:160px;
	font-weight:normal;
	text-align:left;
	border:1px solid #dddddd;
	line-height:1.7;
}
.l-recruitBlock04 table tr td{
	padding:10px;
	background-color:#FFFFFF;
	vertical-align:top;
	font-size:87.5%;
	width:auto;
	border:1px solid #dddddd;
	line-height:1.7;
}
.l-recruitBlock04 table tr td img{
	position:relative;
	top:3px;
}
.l-recruitBlock04 table tr td a{
	color:#1382c5;
	text-decoration:underline;
}

.p-featuresblock {
    width:100%;
	margin:0 auto 30px;
	-webkit-transition: .3s;
    transition: .3s;
}
#staff .p-featuresblock {
    width:100%;
	margin:30px auto 30px;
	-webkit-transition: .3s;
    transition: .3s;
}
.p-featuresblock .p-featuresblock-00 {
    margin-top: 6px;
    background-color: #FFFFFF;
	padding: 25px 25px 20px 25px;
	box-shadow:0px 0px 4px 2px #e8e8e8;
	-moz-box-shadow:0px 0px 4px 2px #e8e8e8;
	-webkit-box-shadow:0px 0px 4px 2px #e8e8e8;
}
.p-featuresblock .p-featuresblock-00-table {
    display:table;
	width:100%;
}
.p-featuresblock .p-featuresblock-00 div {
    display:table-cell;
	vertical-align:top;
}
.p-featuresblock .p-featuresblock-00 div.p-featuresblock-00-left {
    width:196px;
	padding-right:25px;
}
.p-featuresblock .p-featuresblock-00 div.p-featuresblock-00-right {
    width:auto;
}
.p-featuresblock .p-featuresblock-00 .p-title {
    color:#2284c0;
	font-size:100%;
	font-weight:bold;
	padding-top:17px;
}
.p-featuresblock .p-featuresblock-00 .p-name {
    font-size:100%;
	font-weight:bold;
	padding-top:17px;
}
.p-featuresblock .p-featuresblock-00 .p-question {
    font-size:87.5%;
	font-weight:bold;
	padding-top:17px;
}
.p-featuresblock .p-featuresblock-00 p {
    padding-top:15px;
	font-size:87.5%;
	line-height: 1.7;
}
#staff .p-featuresblock .p-featuresblock-00 p {
    padding-top:25px;
	font-size:87.5%;
	line-height: 1.7;
}
#staff .p-featuresblock .p-featuresblock-00 p.p-fast {
    padding-top:0px;
}

a.p-interview-link .p-featuresblock:hover{	
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: .7;
}

.p-featuresblock1 .p-button {
    text-align: center;
    padding: 10px 0;
}
.p-featuresblock1 .p-button img {
    max-width:397px;
	width:100%;
}

.interpretersBlock {
	border:2px solid #9ebbdb;
	padding:15px;
}
.interpretersBlock p {
	font-size: 87.5%;
    line-height: 1.7;
}
.interpretersBlock p a {
	color:#1382c5;
}
.p-link{
	text-decoration:underline;	
}

.l-recruitlist-table{
	width:100%;
	display:table;	
	margin-top:10px;
}
.l-recruitlist-table .l-recruitlist-table-cell{
	display:table-cell;
	vertical-align:top;
}
.l-recruitlist-table .l-recruitlist-table-cell:nth-child(1){
	width:auto;
}
.l-recruitlist-table .l-recruitlist-table-cell:nth-child(2){
	width:70px;
}
.l-recruitlist-table .l-recruitlist-table-cell:nth-child(3){
	width:360px;
}
.l-recruitlist-table .l-recruitlist-table-cell.p-icon01{
	background:url("../../images/recruit/ico_recruit_01_pc.png") center center no-repeat;    
	width:70px;
	min-height:63px;
    background-size:40px auto;
}
.l-recruitlist-table .l-recruitlist-table-cell.p-icon02{
	background:url("../../images/recruit/ico_recruit_03_pc.png") center center no-repeat;    
	width:70px;
	min-height:2px;
    background-size:39px auto;
}
.l-recruitlist-table .l-recruitlist-table-cell .l-outside{
	border-radius:5px;
	border:1px solid #dddddd;
	margin-bottom:10px;
}
.l-recruitlist-table .l-recruitlist-table-cell:nth-child(1) .l-outside{
	margin-left:0px;
	margin-right:5px;
}
.l-recruitlist-table .l-recruitlist-table-cell:nth-child(1) .l-outside:last-child{
	margin-bottom:0px;
}
.l-recruitlist-table .l-recruitlist-table-cell:nth-child(3) .l-outside{
	margin-left:5px;
	margin-right:0px;
}
.l-recruitlist-table .l-recruitlist-table-cell .l-inside{
	border-radius:5px;
	border:4px solid #f4f4f4;
	padding:25px 15px;
}
.l-recruitlist-table .l-recruitlist-table-cell.p-blue .l-inside{
	border-radius:5px;
	border:4px solid #3569a3;
	padding:10px;
}
.l-recruitlist-table .l-recruitlist-table-cell.p-blue2 .l-inside{
	background-color:#3569a3;
}
.l-recruitlist-table .l-recruitlist-table-cell.p-red .l-inside{
	border-radius:5px;
	border:4px solid #d5525b;	
	padding:39px 15px;
}
.l-recruitlist-table .l-recruitlist-table-cell.p-red2 .l-inside{
	background-color:#d5525b;
}

.l-recruitlist-table .l-recruitlist-table-cell.p-orange .l-inside{
	border-radius:5px;
	border:4px solid #e5940f;	
	padding:50px 15px;
}
.l-recruitlist-table .l-recruitlist-table-cell.p-orange2 .l-inside{
	background-color:#e5940f;
}
.l-recruitlist-table .l-recruitlist-table-cell .l-inside p{
	font-size:87.5%;
	line-height: 1.7;
}
.l-recruitlist-table .l-recruitlist-table-cell .l-inside p.p-center{
	text-align:center;
	color:#FFFFFF;
}
.l-recruitlist-table .l-recruitlist-table-cell .l-inside p.p-center a{
	color:#FFFFFF;
}
.l-recruitlist-table .l-recruitlist-table-cell.p-blue2 .l-inside p.p-center a:after{
	content:"";
	display:inline-block;
    width:15px;
    height:15px;
    vertical-align:middle;
	position:relative;
	top:-2px;
	left:7px;
	background:url("../../images/recruit/ico_recruit_02_pc.png") center center no-repeat;    
    background-size:contain;
}
.l-recruitlist-table .l-recruitlist-table-cell.p-orange2 .l-inside p.p-center a:after{
	content:"";
	display:inline-block;
    width:15px;
    height:15px;
    vertical-align:middle;
	position:relative;
	top:-10px;
	left:7px;
	background:url("../../images/recruit/ico_recruit_02_pc.png") center center no-repeat;    
    background-size:contain;
}
.l-recruitlist-table .l-recruitlist-table-cell .l-inside .p-title{
	font-size:112.5%;
}
.l-recruitlist-table .l-recruitlist-table-cell .l-inside .p-message{
	font-size:75%;
}
.l-recruitlist-table .l-recruitlist-table-cell .l-inside img{
	width:100%;
}

.l-recruitlist-table .l-recruitlist-table-cell .l-inside .p-title a{
	font-size:87.5%;
}
.l-recruitlist-table .l-recruitlist-table-cell .l-inside .p-title a span:before{
	content:"";
	display:inline-block;
    width:13px;
    height:14px;
    vertical-align:middle;
	position:relative;
	top:-1px;
	left:-5px;
	background:url("../../images/kokusai/ico_convention_01_pc.png") no-repeat;    
    background-size:contain;
}
.l-recruitlist-table .l-recruitlist-table-cell .l-inside .p-title a span{
	padding-left:1.2rem;
	text-indent:-0.75rem;
	display:inline-block;
}

/*-------------------- ▲共通CSS▲ ------------------------*/

/*---------------- ▼PCのみCSS▼ --------------------*/
@media screen and (min-width:1001px){
	
	
	
	
}
/*---------------- ▲PCのみCSS▲ --------------------*/
/*---------------- ▼タブレット以降CSS▼ --------------------*/
@media screen and (max-width:1000px){
	.l-mainVisual{
		padding:3%;
	}	
	.l-recruitBlock01{
		margin-bottom:3%;
		padding:3% 0;
	}
	
	.l-recruitBlock04{
		padding:3%;
	}
	.l-recruitBlock04 table{
		display:block;
	}
	.l-recruitBlock04 table tr th{
		display:block;
		width:100%;
		padding:10px;
		border-bottom:none;
	}
	.l-recruitBlock04 table tr td{
		display:block;
		width:100%;
		border-bottom:none;
	}
	.l-recruitBlock04 table tr:last-child td{
		border-bottom:1px solid #dddddd;
	}
	
	.l-recruitlist-table{
		width:100%;
		display:block;
		margin-top:10px;
	}
	.l-recruitlist-table .l-recruitlist-table-cell{
		display:block;
		vertical-align:top;
	}
	.l-recruitlist-table .l-recruitlist-table-cell:nth-child(1){
		width:100%;
		display:table;
	}
	.l-recruitlist-table .l-recruitlist-table-cell:nth-child(2){
		/*width:100%;*/
	}
	.l-recruitlist-table .l-recruitlist-table-cell:nth-child(3){
		width:100%;
	}
	
	.l-recruitlist-table .l-recruitlist-table-cell:nth-child(1) .l-outside{
		margin-left:0px;
		margin-right:0px;
	}
	.l-recruitlist-table .l-recruitlist-table-cell.p-blue:nth-child(1) .l-outside{
		display:table-cell;
		width:50%;
	}
	.l-recruitlist-table .l-recruitlist-table-cell:nth-child(1) .l-outside:last-child{
		margin-bottom:0px;
	}
	
	.l-recruitlist-table .l-recruitlist-table-cell.p-blue .l-inside{
		border-radius:5px;
		border:4px solid #3569a3;
		padding:10px;
	}
	.l-recruitlist-table .l-recruitlist-table-cell.p-red .l-inside{
		border-radius:5px;
		border:4px solid #d5525b;	
		padding:10px;
	}	
	.l-recruitlist-table .l-recruitlist-table-cell.p-orange .l-inside{
		border-radius:5px;
		border:4px solid #e5940f;	
		padding:10px;
	}
		
	.l-recruitlist-table .l-recruitlist-table-cell.p-icon01,
	.l-recruitlist-table .l-recruitlist-table-cell.p-icon02{
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
		text-align:center;
		margin:0 auto;
		height:70px;
	}
	.l-recruitlist-table .l-recruitlist-table-cell:nth-child(3) .l-outside{
		margin-left:0px;
		margin-right:0px;
		margin-bottom:10px;
	}
	
	#registration .l-recruitBlock01 {
		width: 100%;
		margin: 0 auto 30px;
		padding: 20px 0px;
	}
	
	.l-recruitBlock04 table tr td img{
		position:relative;
		top:2px;
		width:100px;
	}
}
/*---------------- ▲タブレット以降CSS▲ --------------------*/
/*---------------- ▼タブレットのみ（1024～641）CSS▼ --------------------*/
@media screen and (max-width:1000px) and (min-width:481px) {
	
}
/*---------------- ▲タブレットのみ（1024～641）CSS▲ --------------------*/
/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){
	
	.l-recruit-button p.p-left{
		text-align:center;
	}
	
	.l-recruit-button p a{
		display:block;
		width:100%;
	}
	
	.l-recruit-button p a:nth-child(odd) img{
		margin-right:0px;
	}
	.l-recruit-button p a:nth-child(even) img{
		margin-left:0px;
	}
	
	.p-featuresblock .p-featuresblock-00 {
		padding:5% 3%;
	}
	.p-featuresblock .p-featuresblock-00-table {
		display:block;
		width:100%;
	}
	.p-featuresblock .p-featuresblock-00 div {
		display:block;
		width:100%;
	}
	.p-featuresblock .p-featuresblock-00 div.p-featuresblock-00-left {
		width:100%;
		padding-right:0;
		text-align:center;
	}
	.p-featuresblock .p-featuresblock-00 div.p-featuresblock-00-right {
		width:100%;
	}
	
}
/*---------------- ▲スマホ以降CSS▲ --------------------*/
/*---------------- ▲スマホ最小CSS▲ --------------------*/
@media screen and (max-width:320px){
	
	
}
/*---------------- ▲スマホ最小CSS▲ --------------------*/