@charset "utf-8";
/* CSS Document */

#interpretation{
	color:#414848;
}

.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget iframe[style]{
    width: 100% !important;
}

.l-mainVisual{
	width:100%;
	margin:0 auto;
	/*background-color:#fafafa;*/
	background-color:#FFFFFF;
}
.l-mainVisual-inner{
	max-width:1060px;
	width:100%;
	margin: 0px auto;
	padding: 0px 0;
	/*background-color:#fafafa;*/
	background-color:#FFFFFF;
}
.l-mainVisual-inner img{
	max-width:1060px;
	width:100%;
}

.l-recruitBlock{
	
}

.mw_wp_form_confirm .p-recruitBlock00{
	display:none;
}

.p-agree{
	display:block;
	text-align:center;
	margin-top:15px;
}
.p-agree span,
.p-agree input{
	cursor:pointer;
}
.mw_wp_form_confirm .p-agree{
	display:none;
}

.p-recuired{
	display:block;
	text-align:center;
	margin-top:0px;
}
.p-recuired span{
	color: #ff6969;
}
.mw_wp_form_confirm .p-recuired{
	display:none;
}


.l-recruitBlock00-title{
	width:100%;
	margin:0 auto;
	padding:15px 0 5px;
}
/*工程：入力時*/
.l-recruitBlock00-title > p.current1{
	display:inline-block;
	width:85px;
	height:39px;
	font-weight:bold;
	background: url(../../images/tsuyakuentry/ico_arrow01.png) no-repeat;
	margin-left:0px;
	color:#FFFFFF;
	position:relative;
	top:2px;
}
.l-recruitBlock00-title > p.current2,
.l-recruitBlock00-title > p.current3{
	font-size:87.5%;
	background: url(../../images/tsuyakuentry/ico_arrow02.png) no-repeat;
	width:85px;
	height:39px;
	display:inline-block;
	margin-left:-10px;
}
/*工程：確認時*/
.mw_wp_form_confirm .l-recruitBlock00-title > p.current1{
	font-size:87.5%;
	background: url(../../images/tsuyakuentry/ico_arrow02.png) no-repeat;
	width:85px;
	height:39px;
	display:inline-block;
	margin-left:0px;
	color:#414848;
	font-weight:normal;
	top:0px;
}
.mw_wp_form_confirm .l-recruitBlock00-title > p.current2{
	font-size:87.5%;
	background: url(../../images/tsuyakuentry/ico_arrow01.png) no-repeat;
	width:85px;
	height:39px;
	display:inline-block;
	margin-left:-10px;
	color:#FFFFFF;	
	font-weight:bold;
}
.mw_wp_form_confirm .l-recruitBlock00-title > p.current3{
	font-size:87.5%;
	background: url(../../images/tsuyakuentry/ico_arrow02.png) no-repeat;
	width:85px;
	height:39px;
	display:inline-block;
	margin-left:-10px;
}
/*工程：完了時*/
#form_complete .l-recruitBlock00-title > p.current1{
	font-size:87.5%;
	background: url(../../images/tsuyakuentry/ico_arrow02.png) no-repeat;
	width:85px;
	height:39px;
	display:inline-block;
	margin-left:0px;
	color:#414848;
	font-weight:normal;
	top:0px;
}
#form_complete .l-recruitBlock00-title > p.current2{
	font-size:87.5%;
	background: url(../../images/tsuyakuentry/ico_arrow02.png) no-repeat;
	width:85px;
	height:39px;
	display:inline-block;
	margin-left:-10px;
	color:#414848;	
	font-weight:normal;
}
#form_complete .l-recruitBlock00-title > p.current3{
	font-size:87.5%;
	background: url(../../images/tsuyakuentry/ico_arrow01.png) no-repeat;
	width:85px;
	height:39px;
	display:inline-block;
	margin-left:-10px;
	color:#FFFFFF;	
	font-weight:bold;
}

.l-recruitBlock00-title > p span{
	padding:8px 0px 8px 30px;
	display:block;
}

.l-recruitBlock00{
	width:100%;
	margin:0 auto;
	padding:20px;
	height:150px;
	overflow-y:auto;
	border:1px solid #dddddd;
}
.l-recruitBlock00 > p{
	font-size:87.5%;
	line-height:1.7;
	padding-bottom:20px;
}
.l-recruitBlock00 > p:last-child{
	padding-bottom:0px;
}
.l-recruitBlock00 > p.p-right{
	font-size:87.5%;
	line-height:1.7;
	padding-bottom:20px;
	text-align:right;
}

.l-recruitBlock01{
	width:100%;
	margin:0 auto;
	padding:30px 0px 0;
	display:none;
}
.mw_wp_form_confirm .l-recruitBlock01{
	display:block;
}
.mw_wp_form_confirm .l-recruitBlock04 table tr td span{
	display:none;
}
.mw_wp_form_confirm .p-caution{
	display:none;
}
.mw_wp_form_confirm .p-message{
	display:none;
}
.mw_wp_form_confirm .p-confirm{
	display:none;
}
.l-recruitBlock01 > p{
	font-size:87.5%;
	padding-bottom:0px;	
	line-height: 1.7;
	text-align:center;
}

.l-recruitBlock02{
	width:100%;
	margin:0 auto;
	padding:0px;
}
.l-recruitBlock02 p{
	text-align:center;
	font-size:87.5%;
}

.l-recruitBlock02 img{
	width:100%;
}
.l-recruitBlock02 .p-message{
	color:#cc0000;
	padding-top:5px;
}

.l-recruit-button{
	width:100%;
	margin:20px auto 0;
	display:block;
}
.l-recruit-button p{
	text-align:center;
}
.l-recruit-button p a{
	display:inline-block;
	width:50%;
}
.l-recruit-button p a img{
	max-width:375px;
	width:100%;
}
.l-recruit-button p a:nth-child(odd) img{
	margin-right:7px;
	margin-bottom:5px;
}
.l-recruit-button p a:nth-child(even) img{
	margin-left:7px;
	margin-bottom:5px;
}

.l-recruitBlock03 h4 {
    border-bottom: none;
    padding: 0px 15px;
    margin-top: 30px;
    font-size: 112.5%;
}
.l-recruitBlock03 .l-recruitBlock03-list a {
    display:block;
	color:#1382c5;
	padding-top:10px;
	font-size:87.5%;
}

.l-recruitBlock04{
	width:100%;
	margin:0px auto 20px;
	padding:0px;
	background-color:#FFFFFF;
}
.l-recruitBlock04 .p-title{
	color:#1382c5;
	font-weight:bold;
}
.l-recruitBlock04 table{
	width:100%;
	margin:10px auto 10px;
}
.l-recruitBlock04 table tr th{
	padding:10px;
	background-color:#0d55a6;
	vertical-align:top;
	color:#FFFFFF;
	font-size:87.5%;
	width:225px;
	font-weight:normal;
	text-align:left;
	border:1px solid #dddddd;
	line-height:1.7;
}
.l-recruitBlock04 table tr th p{
	float:left;
}
.l-recruitBlock04 table tr th p a{
	color:#ff3333;
	text-decoration:underline;
}
.l-recruitBlock04 table tr th p.p-image{
	float:right;
	text-align:right;
	background: url(../../images/inquiry/img_inquiry01_pc.png) no-repeat;
	background-size:contain;
	width:42px;
	position:relative;
	top:3px;
}
.l-recruitBlock04 table tr th p img{
	
}
.l-recruitBlock04 table tr th span{
	color:#ff6969;
}
.l-recruitBlock04 table tr td{
	padding:10px;
	background-color:#FFFFFF;
	vertical-align:top;
	font-size:87.5%;
	width:auto;
	border:1px solid #dddddd;
	line-height:1.7;
}
.l-recruitBlock04 table tr td p.p-koumoku{
	margin-bottom:5px;
}
.l-recruitBlock04 table tr td p.p-koumoku:last-of-type{
	margin-bottom:0px;
}
.l-recruitBlock04 table tr td p.p-koumoku span{
	width:6em;
	display:inline-block;
}
.l-recruitBlock04 table tr td label{
	display:block;
	cursor:pointer;
	position:relative;
	line-height:2;
}
.l-recruitBlock04 table tr td.p-kibou label span label:nth-child(1):after{
	display:block;
	line-height:1.5;
	margin-bottom:10px;
	content:"直近で3年（週3～5日ペース）以上、インハウス通訳やフリーランス通訳として稼動実績をお持ちの方（会議通訳、社内通訳、セミナー通訳等）。通訳学校で同時通訳または逐次通訳訓練を履修・修了されている方。ウィスパリング・同時通訳経験が豊富な方。";
}
.l-recruitBlock04 table tr td.p-kibou label span label:nth-child(2):after{
	display:block;
	line-height:1.5;
	margin-bottom:0px;
	content:"直近で1年以上の「展示会商談通訳」経験、またはそれに相当する通訳実績をお持ちの方。通訳学校で逐次通訳訓練（1パラグラフ程度の文章量を一度に逐次通訳できるレベル）を半年以上受けている方。";
}
.l-recruitBlock04 table tr td label.p-label-inline-block{
	display:inline-block;
}
.l-recruitBlock04 table tr td input[type="text"].text_L,
.l-recruitBlock04 table tr td input[type="email"].text_L,
.l-recruitBlock04 table tr td input[type="number"].text_L{
	width:100%;
	padding:7px;
}
.l-recruitBlock04 table tr td input[type="text"].text_M2,
.l-recruitBlock04 table tr td input[type="email"].text_M2,
.l-recruitBlock04 table tr td input[type="number"].text_M2{
	width:70%;
	padding:7px;
}
.l-recruitBlock04 table tr td input[type="text"].text_M,
.l-recruitBlock04 table tr td input[type="email"].text_M,
.l-recruitBlock04 table tr td input[type="number"].text_M{
	width:50%;
	padding:7px;
}
.l-recruitBlock04 table tr td input[type="text"].text_S2,
.l-recruitBlock04 table tr td input[type="email"].text_S2,
.l-recruitBlock04 table tr td input[type="number"].text_S2{
	width:30%;
	padding:7px;
}
.l-recruitBlock04 table tr td input[type="text"].text_S,
.l-recruitBlock04 table tr td input[type="email"].text_S,
.l-recruitBlock04 table tr td input[type="number"].text_S{
	width:4em;
	padding:7px;
}
.l-recruitBlock04 table tr td select{
	width:100%;
	padding:7px;
}
.l-recruitBlock04 table tr td select.text_L{
	width:100%;
}
.l-recruitBlock04 table tr td select.text_M{
	width:50%;
}
.l-recruitBlock04 table tr td select.text_S2{
	width:6em;
}
.l-recruitBlock04 table tr td select.text_S{
	width:4em;
}
.l-recruitBlock04 table tr td textarea{
	width:100%;
	padding:7px;
}
.l-recruitBlock04 table tr td .p-message{
	color:#cc0000;
	padding-top:5px;
	font-size:87.5%;
}
.l-recruitBlock04 table tr td input[type="checkbox"],
.l-recruitBlock04 table tr td input[type="radio"]{
	/*position:absolute;
	top:0;
	bottom:0;
	left:0;
	margin:auto;
	width:13px;
	height:13px;*/
}
.l-recruitBlock04 table tr td input[type="checkbox"] + span,
.l-recruitBlock04 table tr td input[type="radio"] + span{
	/*margin-left:20px;*/
}

.l-recruitBlock04 table tr td a{
	color:#1382c5;
	text-decoration:underline;
	position: relative;
    top: -2px;
    margin-right: 5px;
}
.l-recruitBlock04 table tr td .p-row2{
	padding-top:5px;
}

.l-recruitBlock05{
	margin:0 auto;
	text-align:center;
	margin-top:50px;
}

.l-recruitBlock06{
	width:100%;
	margin:0 auto;
	padding:20px 0px 0px;
}
.l-recruitBlock06 > p.p-title{
	font-size:112.5%;
	text-align:center;
	padding-top:30px;
	padding-bottom:0;
}

.registerBtn {
    -webkit-appearance:none;
    border-radius:0;
    vertical-align:middle;
    text-align:center;
	
	color: #ffffff;
    display: inline-block;
    background: #138dfa;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    -webkit-background-size: cover !important;
    background-size: cover !important;
    margin-bottom: 5px;
    -moz-box-shadow: 0 2px 0 #00519a;
    -webkit-box-shadow: 0 2px 0 #00519a;
    box-shadow: 0 2px 0 #00519a;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	border:none;
   /* -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;*/
    text-decoration: none;
    position: relative;
	
	padding:15px 45px;
	font-size:100%;
	cursor:pointer;
	/*margin:0 auto;*/
	font-size:87.5%;
}
.registerBtn.p-disabled {
    -webkit-appearance:none;
    border-radius:0;
    vertical-align:middle;
    text-align:center;
	
	color: #ffffff;
    display: inline-block;
    background: #a3a3a3;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    -webkit-background-size: cover !important;
    background-size: cover !important;
    margin-bottom: 5px;
    -moz-box-shadow: 0 2px 0 #878787;
    -webkit-box-shadow: 0 2px 0 #878787;
    box-shadow: 0 2px 0 #878787;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	border:none;
   
    text-decoration: none;
    position: relative;
	cursor:default;
}

.backBtn {
    -webkit-appearance:none;
    border-radius:0;
    vertical-align:middle;
    text-align:center;
	
	color: #ffffff;
    display: inline-block;
    background: #a3a3a3;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    -webkit-background-size: cover !important;
    background-size: cover !important;
    margin-bottom: 5px;
    -moz-box-shadow: 0 2px 0 #878787;
    -webkit-box-shadow: 0 2px 0 #878787;
    box-shadow: 0 2px 0 #878787;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	border:none;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    text-decoration: none;
    position: relative;
	
	padding:15px 50px;
	font-size:100%;
	cursor:pointer;
	margin-right:10px;
}

.l-inquiryBlock01{
	width:100%;
	margin:0 auto;	
}
.l-inquiryBlock01 > p{
	font-size:87.5%;
	padding-top:20px;
	padding-bottom:20px;	
	line-height: 1.7;
}
.l-inquiryBlock01 > p + p{
	padding-top:0px;
}
.l-inquiryBlock01 .p-button{
	text-align:center;
	padding:10px 0;
}

.p-featuresblock {
    width:100%;
	margin:0 auto;
}
.p-featuresblock.p-last {
    padding-bottom:50px;
}
.p-featuresblock .p-title {
    color:#2284c0;
	font-size:112.5%;
	font-weight:bold;
	border-bottom:1px solid #2284c0;
}
.p-featuresblock .p-title.p-fast {
    padding-top:20px;
}
.p-featuresblock .p-message {
    padding-top:50px;
	font-size:87.5%;
	line-height: 1.7;
}
.p-featuresblock .p-message.p-fast {
    padding-top:10px;
}
.p-featuresblock .p-message span{
    font-weight:bold;
	display:block;
}
.p-featuresblock .p-message a{
    color:#1382c5;
}
.p-featuresblock .p-message a.p-map {
    position:relative;
	top:10px;
	left:10px;
}
.p-featuresblock .p-message a.p-inquiry {
    position:relative;
	top:10px;
	left:10px;
}
.p-featuresblock .p-message2 {
    background-color:#f2f2f3;
	padding:15px;
	margin-top:15px;
	margin-bottom:10px;
}

.p-featuresblock .p-right {
    font-size:87.5%;
	line-height: 1.7;
	text-align:right;
	padding-top:20px;
}
.p-featuresblock .p-right a {
    color:#1382c5;
}

.p-featuresblock1 > p.p-arrow{
	text-align:center;
	padding:15px 0 0;
}
.p-featuresblock .p-featuresblock-00 {
    margin-top: 6px;
    padding: 20px 25px 20px 25px;
    background-color: #FFFFFF;
	box-shadow:0px 0px 4px 2px #e8e8e8;
	-moz-box-shadow:0px 0px 4px 2px #e8e8e8;
	-webkit-box-shadow:0px 0px 4px 2px #e8e8e8;
}

.p-featuresblock > div {
    padding-top: 0px;
    padding-bottom: 20px;
    position: relative;
}

.p-featuresblock1 h4 {
    border-bottom: none;
    padding: 0px 15px;
    margin-top: 20px;
	margin-bottom: 10px;
    font-size: 112.5%;
}
.p-featuresblock1 h4 p {
    font-size: 125%;
    /*font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif;*/
    text-align: left;
    border-bottom: none;
    padding-bottom: 0px;
    padding-left: 0px;
}

table.p-global{
	width:100%;
	margin:20px auto 0;
	border:0;
}
table.p-global tr td{
	margin:0 auto;
	border:0;
}
table.p-global tr td:first-child{
	vertical-align:bottom;
}

.error{
	display:block;
	color:#cc0000;	
}

.mw_wp_form .horizontal-item + .horizontal-item {
    margin-left: 0px !important;
}

.mt10{
	margin-top:10px;	
}

/*-------------------- ▲共通CSS▲ ------------------------*/

/*---------------- ▼PCのみCSS▼ --------------------*/
@media screen and (min-width:1001px){
	
	
	
	
}
/*---------------- ▲PCのみCSS▲ --------------------*/
/*---------------- ▼タブレット以降CSS▼ --------------------*/
@media screen and (max-width:1000px){
	.l-mainVisual{
		padding:3%;
	}	
	.l-recruitBlock01{
		margin-bottom:3%;
		padding:3% 0;
	}
	
	.l-recruitBlock04{
		padding:3%;
	}
	.l-recruitBlock04 table{
		display:block;
	}
	.l-recruitBlock04 table tr th{
		display:block;
		width:100%;
		padding:10px;
		border-bottom:none;
	}
	.l-recruitBlock04 table tr td{
		display:block;
		width:100%;
		border-bottom:none;
	}
	.l-recruitBlock04 table tr:last-child td{
		border-bottom:1px solid #dddddd;
	}
	
	table.p-global tr td{
		width:auto;
		border:none !important;
	}
	table.p-global tr td:first-child{
		vertical-align:bottom;
	}
	table.p-global tr td:last-child{
		width:auto;
	}
	
}
/*---------------- ▲タブレット以降CSS▲ --------------------*/
/*---------------- ▼タブレットのみ（1024～641）CSS▼ --------------------*/
@media screen and (max-width:1000px) and (min-width:481px) {
	
}
/*---------------- ▲タブレットのみ（1024～641）CSS▲ --------------------*/
/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){
	
	.l-recruit-button p a{
		display:block;
		width:100%;
	}
	
	.l-recruit-button p a:nth-child(odd) img{
		margin-right:0px;
	}
	.l-recruit-button p a:nth-child(even) img{
		margin-left:0px;
	}
	
	.l-recruitBlock04 {
		margin: 0px auto;
		padding:0;
	}
	
	.l-recruitBlock04 table tr td input[type="text"].text_M{
		width:100%;
	}
	.l-recruitBlock04 table tr td select{
		width:100%;
		padding:7px;
	}
	
}
/*---------------- ▲スマホ以降CSS▲ --------------------*/
/*---------------- ▲スマホ最小CSS▲ --------------------*/
@media screen and (max-width:320px){
	
	
}
/*---------------- ▲スマホ最小CSS▲ --------------------*/