<table border="0" cellpadding="0" cellspacing="0" class="list_tbl">
<tr>

<td colspan="3"><h3><img src="top/img/tit02.gif" alt="ISSからのお知らせ" width="530" height="30" usemap="#Map2" /></h3></td>
</tr>
__TABLE__ELEMENT__

</table>