@charset "utf-8";
/* CSS Document */

.l-newsBlock{
	width: 100%;
	margin: 0px auto;
	padding-bottom:80px;
}
.l-newsBlock02{
	width: 100%;
	background-color:#FFFFFF;
}
.l-newsBlock02-table{
	width: 100%;
	display:table;
	border:1px solid #f3f3f3;
	border-top:none;
}
.l-newsBlock02-table:hover{
	-webkit-transition:.3s;
	-moz-transition:.3s;
	transition:.3s;
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	opacity:.7;
}
.l-newsBlock02-table > div{
	display:table-cell;
	vertical-align:top;
}
.l-newsBlock02-table .p-photo{
	padding:15px 40px;
	width:400px;
}
.l-newsBlock02-table .p-photo img{
	vertical-align:middle;
}
.l-newsBlock02-table .p-date{
	padding-top:22px;
	text-align:left;
}
.l-newsBlock02-table .p-date p{
	font-size:100%;
}
.l-newsBlock02-table .p-date p span{
	font-size:75%;
}
.l-newsBlock02-table .p-category{
	padding-left:10px;
	width:150px;
}
.l-newsBlock02-table .p-category p + p{
	padding-top:25px;
	padding-right:30px;
	text-align:right;
}

.l-newsBlock03{
	width: 100%;
	background-color:#FFFFFF;
	padding:30px 0;
}
.l-newsBlock03 .p-newsBlock03-1{
	border-top:1px solid #d8d8d8;
}
.l-newsBlock03 .p-newsBlock03-1-table{
	border-top:3px solid #f5f5f5;
	padding:20px 0;
	display:table;
	width:100%;
}
.l-newsBlock03 .p-newsBlock03-1-table .p-photo{
	display:table-cell;
	vertical-align:middle;
	width:190px;
	border-right:1px solid #d8d8d8;
}
.l-newsBlock03 .p-newsBlock03-1-table .p-date{
	display:table-cell;
	vertical-align:middle;
	font-size:100%;
	padding:0 30px;
}
.l-newsBlock03 .p-newsBlock03-1-table .p-date span{
	font-size:75%;
}

.l-newsBlock03 .p-newsBlock03-2{
	border-top:1px solid #d8d8d8;
	border-bottom:1px solid #d8d8d8;
	padding:30px 0;
}
.l-newsBlock03 .p-newsBlock03-2-table{
	display:table;
	width:100%;
}
.l-newsBlock03 .p-newsBlock03-2-table .p-photo{
	display:table-cell;
	vertical-align:middle;
	width:50%;
}
.l-newsBlock03 .p-newsBlock03-2-table .p-message{
	display:table-cell;
	vertical-align:middle;
	width:50%;
	padding:0px 15px 0 25px
}
.l-newsBlock03 .p-newsBlock03-2-table .p-message p{
	padding-left:20px;
	padding-right:15px;
	padding-bottom:25px;
	font-size:87.5%;
}
.l-newsBlock03 .p-newsBlock03-2-table .p-message p.p-topics{
	padding:20px 20px 0px;
	font-size:87.5%;
	background-color:#fafafa;
}
.l-newsBlock03 .p-newsBlock03-2-table .p-message p.p-topics:last-child{
	padding:20px 20px 20px;
}
.l-newsBlock03 .p-newsBlock03-2-table .p-message p a{
	color:#4b76bf;
	text-decoration:underline;
	position:relative;
	top:-3px;
}

.l-newsBlock03 .p-newsBlock03-3{
	padding:30px 20px;
}
.l-newsBlock03 .p-newsBlock03-3 p{
	padding-bottom:20px;
	font-size:87.5%;
}


.p-page {
    text-align: center;
    margin-top: 25px;
}
.p-page span {
    position: relative;
    top: 1px;
}
.p-page .page-numbers {
    font-size: 87.5%;
    padding: 10px 12px;
    background-color: #FFFFFF;
    color: #040000;
    text-decoration: none;
    border: 1px solid #040000;
    border-radius: 3px;
    margin-right: 5px;
}
.p-page .current {
    background-color: #00afec;
    color: #FFFFFF;
    border: 1px solid #00afec;
}
.p-page .prevdisable {
    background-color: #d5d5d5;
    color: #FFFFFF;
    border: 1px solid #d5d5d5;
}
.p-page .nextdisable {
    background-color: #d5d5d5;
    color: #FFFFFF;
    border: 1px solid #d5d5d5;
    margin-left: 3px;
}

.p-newsTop a {
    display: block;
    width: 80%;
    padding: 15px 0;
    text-align: center;
    margin: 0 auto 10px;
    background: #bbbbbb url(../../images/news/ico_arrow01_pc.png) left 3% center no-repeat;
    background-size: 18px auto;
    margin-top: 30px;
    cursor: pointer;
    border: none;
    color: #FFFFFF;
    text-decoration: none;
}




/*-------------------- ▲共通CSS▲ ------------------------*/

/*---------------- ▼PCのみCSS▼ --------------------*/
@media screen and (min-width:769px){
	
	
	
	
}
/*---------------- ▲PCのみCSS▲ --------------------*/
/*---------------- ▼タブレット以降CSS▼ --------------------*/
@media screen and (max-width:768px){
	
	
	
}
/*---------------- ▲タブレット以降CSS▲ --------------------*/
/*---------------- ▼タブレットのみ（1024～641）CSS▼ --------------------*/
@media screen and (max-width:768px) and (min-width:320px) {
	
}
/*---------------- ▲タブレットのみ（1024～641）CSS▲ --------------------*/
/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){
	
	
	
}
/*---------------- ▲スマホ以降CSS▲ --------------------*/
/*---------------- ▲スマホ最小CSS▲ --------------------*/
@media screen and (max-width:320px){
	
	
}
/*---------------- ▲スマホ最小CSS▲ --------------------*/