@charset "shift_jis";

/* Body */
body {
	color: #333333;
	background-color: #FFFFFF;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-right: 24px;
	margin-left: 24px;
}

.right {
	float: right;
}

.left {
	float: left;
}

.clr {
	clear:both;
}

img {border:0px;}

form {
	margin: 0px;
	padding: 0px;
}

h1{
	font-size:120%;
	padding: 0.4em 1em 0.2em 0.5em;
	font-weight: bold;
	border-top-style: solid;
	border-top-color: #7F95BD;
	border-top-width: 0.1em;
	background-color: #EEEEEE;
	margin-top: 0em;
	margin-bottom: 1em;
}
h2{
	font-size:100%;
	padding: 0.4em 0em 0.2em 0.5em;
	margin-bottom: 0.8em;
	border-left-style: solid;
	border-left-color: #2B478E;
	border-left-width: 0.3em;
	border-bottom-style: solid;
	border-bottom-color: #DADFEC;
	border-bottom-width: 0.1em;
	font-weight: bold;
	margin-top: 1.4em;
}
h3{
	font-size:100%;
	padding: 0.6em 0em 0em 1.2em;
	font-weight: bold;
	color: #2B478E;
	margin-top: 0.4em;
	margin-bottom: 0.4em;
}
h4{
	font-size:80%;
	font-weight: bold;
	margin-top: 0.4em;
	margin-bottom: 0.4em;
	padding-top: 0.6em;
	padding-bottom: 0.2em;
	padding-right: 0em;
	padding-left: 0em;
	color: #2B478E;

}
h5 {
	background-image:url(http://www.issjp.com/post/images/h4_bg.gif);
	background-position:1px top;		/* Win IE Only */
	background-position /**/:1px 1px;	/* Hide Win IE */
	background-repeat:no-repeat;
}
h5 strong {
	color:#336699;
	font-size:small;
	padding-left:18px;
}

p {
	margin-top: 0.6em;
	margin-bottom: 0.6em;
}

em {
	font-style:italic;
}

strong {
	font-weight:bold;
}

hr {
	color: #333333; /* IE */
	background-color: #333333; /* NN */
	height: 1px;
	border: 0px;
	margin: 12px 0px 12px 0px;
}

/* Link */
a:link{color:#432DB2;text-decoration:underline;}
a:visited{color:#802080;text-decoration:underline;}
a:hover{color:#432DB2;text-decoration:underline;}
a:active{color:#B31B1B;text-decoration:underline;}

/* List */
dl {
	padding: 0;
	margin-top: 0.4em;
	margin-bottom: 0.4em;
}
dt {
	font-weight: bold;
	margin-bottom: 0.4em;
	margin-top: 0.4em;
}
dd {
	padding: 0;
	margin-left: 1.6em;
}
ul {
	padding: 0;
	margin-top: 0.4em;
	margin-bottom: 0.4em;
	margin-left: 1.0em;
}
ol {
	padding: 0;
	margin-top: 0em;
	margin-bottom: 0.4em;
	margin-left: 2.4em;
}

ul.attend{
	margin: 0px 4px 0px 4px;
	padding: 0px;
	}

ul.attend li {
	padding: 0px 0px 0px 18px;
	list-style: none;
	background-repeat: no-repeat;
	background-position: 0px 50%;
	background-image: url(attend.gif);
	}

ul.pagelink {
	list-style-type:none;
	list-style-image: url(sublink.gif);
}

/* CSS global */
#logo{
	float: left;
	padding-bottom: 0.6em;
}

#head {
	float: right;
	padding: 0.2em;
	font-size: 70%;
	text-align:right;
}

#head img {
	margin-top: 12px;
}

#head a{
	background-image:url(linkicon.gif);
	background-repeat:no-repeat;
	background-position:left -0.5em;
	padding:0px 0px 0px 13px;
}

#logout {
	text-align: right;
	font-size: 70%;
	height: 1.4em;
}

#pan {
	height: 1.4em;
	width: 100%;
	font-size:70%;
	padding: 0.6em 0.4em 0.8em;
	clear: both;
	border-top-width: thin;
	border-top-style: solid;
	border-top-color: #000000;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}

#gotop {
	text-align: right;
	padding-top: 1.6em;
	padding-right: 0.4em;
	padding-bottom: 0em;
	padding-left: 0.4em;
	font-size: 80%;
	clear:both;
	float: right;
}

#foot {
	height: 1.4em;
	width: 100%;
	font-size:70%;
	margin-bottom: 1em;
	margin-top: 2em;
	padding: 1em 0.4em;
	background-image: url(line.gif);
	background-repeat: repeat-x;
	border-top-width: thin;
	border-top-style: solid;
	border-top-color: #2A468D;
	clear: both;
}

#menu {
	float:left;
	font-size: 80%;
	line-height: 150%;
	margin: 0px;
	padding: 1px;
	width: 180px;
	background-color: #E6EBF2;
}

#menu dt {
	background-color: #29468C;
	padding: 4px 6px;
}

#menu dt a:link{color:#ffffff;text-decoration:none;}
#menu dt a:visited{color:#ffffff;text-decoration:none;}
#menu dt a:hover{color:#ffffff;text-decoration:underline;}
#menu dt a:active{color:#ffffff;text-decoration:underline;}

#menu li a:link{color:#29468C;text-decoration:none;}
#menu li a:visited{color:#29468C;text-decoration:none;}
#menu li a:hover{color:#29468C;text-decoration:underline;}
#menu li a:active{color:#29468C;text-decoration:underline;}

#menu ul.pagelink {
	list-style-type:none;
	list-style-image: url(sublink.gif);
	margin-left: 0px;
	margin-right: 12px;
	margin-bottom: 12px;
}
#menu li.here{
	list-style-type:none;
	font-weight: bold;
}

#contents {
	font-size: 80%;
	line-height: 150%;
	padding-bottom: 60px;
}


/* CSS contents */
.indent {
	padding-right: 1.2em;
	padding-left: 1.2em;
}
.error{
	font-weight: bold;
	color:#CC0000;
}
.must {
	color: #CC0000;
}
.here {
	color: #999999;
}

/* Table */
caption{
	text-align: left;
}

table.style_a{
	font-size: 100%;
	border-top: 1px solid #B4B4B4;
	border-left: 1px solid #B4B4B4;
	border-collapse: collapse;
	margin-bottom: 12px; 
}

.style_a th{
	padding: 6px;
	border-right: 1px solid #B4B4B4;
	border-bottom: 1px solid #B4B4B4;
	background-color: #F0EEE7;
}

.style_a td{
	padding: 6px;
	border-right: 1px solid #B4B4B4;
	border-bottom: 1px solid #B4B4B4;
}

table.style_layout{
	font-size: 100%;
	border: none;
	border-collapse: collapse;
}

table.style_layout table{
	font-size: 100%;
	border: none;
	border-collapse: collapse;
}

table.style_layout td{
	padding: 0px;
	border: none;
}

/* 表組み入れ子 */
table.in{
	border-top: 1px solid #B4B4B4;
	border-left: 1px solid #B4B4B4;
	border-collapse: collapse;
	font-size: 100%;
}

.in caption{
	padding-top: 0.4em;
	text-align: left;
}

.in th{
	padding: 6px;
	border-right: 1px solid #B4B4B4;
	border-bottom: 1px solid #B4B4B4;
	background-color: #EEEEEE;
}

.in td{
	padding: 6px;
	border-right: 1px solid #B4B4B4;
	border-bottom: 1px solid #B4B4B4;
}

/* 余白 */
.mgn5{
	margin:5px;
}

.conf-img{
	margin:10px;
}

.conf-img img{
	margin:0px 10px 10px 0px;
}

