@charset "utf-8";
/* CSS Document */

#interpretation{
    color:#414848;
}

.p-pdflink{
    color:#1382c5;
}
.p-pdflink:before{
    content:" ";
    display: inline-block;
    width:13px;
    height:15px;

    vertical-align:middle;
    background:url("../../images/tsuyaku/ico_main_01_pc.png") top -2px left no-repeat;
    background-size:13px auto;
    padding-left:5px;
}

.l-mainVisual{
    width:100%;
    margin:0 auto;
    /*background-color:#fafafa;*/
    background-color:#FFFFFF;
}
.l-mainVisual-inner{
    max-width:1060px;
    width:100%;
    margin: 0px auto;
    padding: 0px 0;
    /*background-color:#fafafa;*/
    background-color:#FFFFFF;
}
.l-mainVisual-inner img{
    max-width:1060px;
    width:100%;
}

.l-interpretationBlock{
    width:100%;
    margin:0 auto;
}
.l-interpretationBlock01{
    margin: 80px 0px 40px;
}
.link_box {
    margin-bottom: 50px;
}
.link_box a span{
	padding-left: 1.2rem;
    text-indent: -0.75rem;
    display: inline-block;
    margin-right: 20px;
}
.link_box a span:before{
	content: "";
    display: inline-block;
    width: 13px;
    height: 14px;
    vertical-align: middle;
    position: relative;
    top: -1px;
    left: -5px;
    background: url(../../images/kokusai/ico_convention_01_pc.png) no-repeat;
    background-size: contain;
}

.l-interpretationBlock02{
    width:100%;
    margin:0 auto;
}
.l-interpretationBlock02 .l-interpretationBlock02-table{
    width:100%;
    display:table;
}
.l-interpretationBlock02 .l-interpretationBlock02-table-cell{
    display:table-cell;
    vertical-align:top;
    font-size:87.5%;
    line-height:1.7;
}
.l-interpretationBlock02 .l-interpretationBlock02-table-cell.p-left{
    width:auto;
    text-align:left;
    padding-top:10px;
}
.l-interpretationBlock02 .l-interpretationBlock02-table-cell.p-right{
    width:328px;
    text-align:right;
}
.l-interpretationBlock02 .l-interpretationBlock02-table-cell.p-left .p-detail{
    line-height:2;
}
.l-interpretationBlock02 .l-interpretationBlock02-table-cell.p-right .p-detail{
    text-align:left;
}
.l-interpretationBlock02 .l-interpretationBlock02-table-cell.p-right .p-detail img{
    max-width:284px;
    width:100%;
}


   /* ↓↓↓↓↓20211118 add hagiwara 査察通訳↓↓↓↓↓ */
.l-interpretationBlock02 .l-interpretationBlock02-content-acovid {
    background-color: #f4f4f4;
    display: flex;
    font-size: 14px;
    margin: 15px;
}
.l-interpretationBlock02 .l-interpretationBlock02-content-acovid img {
    margin: 10px;
    width: 170px;
}
.l-interpretationBlock02 .l-interpretationBlock02-content-acovid .l-interpretationBlock02-content-acovid-description {
    padding: 15px;
    width: 540px;
}
.l-interpretationBlock02 .l-interpretationBlock02-content-acovid .l-interpretationBlock02-content-acovid-description p {
    font-size: 14px;
}
.l-interpretationBlock02 .l-interpretationBlock02-content-acovid .l-interpretationBlock02-content-acovid-description .description-title {
    font-weight: bold;
    padding-top: 10px;
    border-bottom: 1px solid #1382c5;
}
.l-interpretationBlock02 .l-interpretationBlock02-content-acovid .l-interpretationBlock02-content-acovid-description .description-text {
    padding-top: 10px;
}
/* ↑↑↑↑↑20211118 add hagiwara 査察通訳↑↑↑↑↑ */



.l-interpretationBlock03 h4 {
    border-bottom: none;
    padding: 5px 15px;
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 112.5%;
}
.l-interpretationBlock03 h4 p {
    font-size: 125%;
    /*font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif;*/
    text-align: left;
    border-bottom: none;
    padding-bottom: 0px;
     padding-left: 0px;
}

.l-interpretationBlock04{
    width:100%;
    margin:0 auto;
    background-color:#f2f2f3;
}
.l-interpretationBlock04-table{
    width:100%;
    display:table;
    padding-left:20px;
    border:1px solid #dddddd;
    margin-bottom:20px;
}

.l-interpretationBlock04-table .l-interpretationBlock04-left{
    width:470px;
    display:table-cell;
    vertical-align:top;
    padding:0;
}
.l-interpretationBlock04-left p img{
    vertical-align:top;
}
.l-interpretationBlock04-left p.regist{
    font-size:100%;
    padding:0px 0px 0px 0px;
}
.l-interpretationBlock04-left p:nth-child(1){
    font-size:75%;
    padding:20px 0px 0px 0px;
    font-weight:bold;
    line-height:2;
    letter-spacing:-1px;
}
.l-interpretationBlock04-left p:nth-child(2){
    padding:0 30px;
}
.l-interpretationBlock04-left p:nth-child(2) span{
    display:block;
    border-bottom:1px solid #d3d3d3;
    height:15px;
}
.l-interpretationBlock04-left p:nth-child(3){
    padding:20px 0px 0px 0px;
    font-weight:bold;
}
.l-interpretationBlock04-left p:nth-child(4){
    font-size:150%;
    font-weight:bold;
}
.l-interpretationBlock04-left p:nth-child(4) img.p-tel{
    position:relative;
    top:5px;
}
.l-interpretationBlock04-left p:nth-child(4) span{
    position:relative;
    left:10px;
}
.l-interpretationBlock04-left p:nth-child(4) a.p-btn_inquiry{
    position:relative;
    left:35px;
    top:-8px;
}

.l-interpretationBlock04-table .l-interpretationBlock04-left a{
    padding-left:0px;
}

.l-interpretationBlock04-table .l-interpretationBlock04-right{
    max-width:280px;
    display:table-cell;
    vertical-align:top;
    text-align:right;
    padding:0;
}
.l-interpretationBlock04-table .l-interpretationBlock04-right img{
    vertical-align:top;
    max-width:280px;
    width:100%;
}

.l-inquiryBlock{
    width: 100%;
    margin: 0px auto;
    padding-top:50px;
    padding-bottom:80px;
}
.l-inquiryBlock .l-inquiryBlock-table{
    width: 100%;
    display:table;
}
.l-inquiryBlock .l-inquiryBlock-table .p-photo img{
    width: 100%;
}
.l-inquiryBlock .l-inquiryBlock-table > div{
    display:table-cell;
    position:relative;
}
.l-inquiryBlock .l-inquiryBlock-table .p-inquiry{
    padding-right:18px;
}
.l-inquiryBlock .l-inquiryBlock-table .p-inquiry div{
    display:block;
}
.l-inquiryBlock .l-inquiryBlock-table .p-registration{
}
.l-inquiryBlock .l-inquiryBlock-table .p-registration div{
    display:block;
}
.l-inquiryBlock .l-inquiryBlock-table .p-button{
    position:absolute;
    top:66%;
    left:38%;
}

.p-featuresblock {
    width:100%;
    margin:0 auto;
}
.p-featuresblock.p-last {
    padding-bottom:50px;
}
.p-featuresblock .p-title {
    color:#2284c0;
    font-size:112.5%;
    font-weight:bold;
    border-bottom:1px solid #2284c0;
}
.p-featuresblock .p-title.p-fast {
    padding-top:20px;
}
.p-featuresblock .p-message {
    padding-top:20px;
    font-size:87.5%;
    line-height: 1.7;
}
.p-featuresblock .p-message.p-fast {
    padding-top:0px;
}
.p-featuresblock .p-message span{
    font-weight:bold;
}
.p-featuresblock .p-message a{
    color:#1382c5;
}
.p-featuresblock .p-message2 {
    background-color:#f2f2f3;
    padding:15px;
    margin-top:15px;
    margin-bottom:10px;
    font-size: 87.5%;
}


.p-featuresblock .p-right {
    font-size:87.5%;
    line-height: 1.7;
    text-align:right;
    padding-top:20px;
}
.p-featuresblock .p-right a {
    color:#1382c5;
}
.p-featuresblock1 > p.p-arrow{
    text-align:center;
    padding:15px 0 0;
}
.p-featuresblock .p-featuresblock-00 {
    margin-top: 6px;
    padding: 20px 25px 20px 25px;
    background-color: #FFFFFF;
    box-shadow:0px 0px 4px 2px #e8e8e8;
    -moz-box-shadow:0px 0px 4px 2px #e8e8e8;
    -webkit-box-shadow:0px 0px 4px 2px #e8e8e8;
}

.p-featuresblock > div {
    padding-top: 0px;
    padding-bottom: 20px;
    position: relative;
}
#flow .p-featuresblock > div {
    padding-bottom: 0px;
}

.p-featuresblock2{
    width:100%;
    display:table;
    padding-top:20px;
}
.p-featuresblock2 > p{
    display:table-cell;
    vertical-align:top;
    width:50%;
    font-size:87.5%;
    line-height:1.7;
}
.p-featuresblock2 > p:first-child{
    text-align:left;
    padding-right:10px;
}
.p-featuresblock2 > p:last-child{
    text-align:right;
    padding-left:10px;
}
.p-featuresblock2 > p.p-kizai1:first-child{
    text-align:left;
    padding-right:15px;
    width:auto;
}
.p-featuresblock2 > p.p-kizai1:last-child{
    text-align:right;
    padding-left:0px;
    width:358px;
}
.p-featuresblock2 > p.p-kizai2:first-child{
    text-align:left;
    padding-right:15px;
    padding-top:20px;
    width:auto;
}
.p-featuresblock2 > p.p-kizai2:last-child{
    text-align:center;
    padding-left:0px;
    padding-top:20px;
    width:358px;
}
.p-featuresblock2 > p.p-kizai2:last-child img{
    width:242px;
}

.p-featuresblock2 > p.p-kizai3:first-child{
    text-align:center;
    padding-left:0px;
    padding-top:20px;
    width:358px;
}
.p-featuresblock2 > p.p-kizai3:last-child{
    text-align:left;
    padding-right:15px;
    padding-top:20px;
    width:auto;
}
.p-featuresblock2 > p.p-kizai3:first-child img{
    width:242px;
}


.p-featuresblock2 > p img{
    width:100%;
}

.p-featuresblock3{
    width:100%;
    padding-top:20px;
}
.p-featuresblock3 > p{
    font-size:87.5%;
    padding-top:20px;
    line-height:1.7;
}
.p-featuresblock3 table tr th{
    background-color:#0d55a6;
    color:#FFFFFF;
    font-size:87.5%;
    font-weight:normal;
    padding:10px 0;
    border:1px solid #dddddd;
    line-height:1.7;
}
.p-featuresblock3 table tr th.col01{
    width:20%;
}
.p-featuresblock3 table tr th.col02{
    width:35%;
}
.p-featuresblock3 table tr th.col03{
    width:20%;
}
.p-featuresblock3 table tr th.col04{
    width:25%;
}
.p-featuresblock3 table tr td{
    font-size:87.5%;
    padding:10px;
    border:1px solid #dddddd;
    line-height:1.7;
}
.p-featuresblock3 table tr td.col01{
    width:20%;
}
.p-featuresblock3 table tr td.col02{
    width:35%;
}
.p-featuresblock3 table tr td.col03{
    width:20%;
}
.p-featuresblock3 table tr td.col04{
    width:25%;
}

.l-flowBlock01{
    width:100%;
    margin:0 auto 50px;
}
.l-flowBlock01 > p{
    font-size:87.5%;
    padding-bottom:20px;
    line-height: 1.7;
}

.l-faqBlock01{
    width:100%;
    margin:0 auto;
}
.l-faqBlock01 .p-faq:first-of-type{
    padding:15px 0 20px;
    border-bottom:3px dotted #cdcfcf;
}
.l-faqBlock01 .p-faq{
    padding:35px 0 20px;
    border-bottom:3px dotted #cdcfcf;
}
.l-faqBlock01 .p-faq.p-last{
    border-bottom:none;
}
.l-faqBlock01 p{
    font-size:87.5%;
    line-height: 1.7;
    padding:20px 0;
}
.l-faqBlock01 p.p-faq_q:before{
    position: absolute;
    content: "";
    display: inline-block;
    background: url(../../images/about/ico_faq_01_pc.png) no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
    left:0px;
    top:0px;
}
.l-faqBlock01 p.p-faq_q span.toggle_btn {
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	background: #f2f2f3;
	display: block;
	width: 30px;
	height: 30px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
    cursor: pointer;
}
.l-faqBlock01 p.p-faq_q span.toggle_btn:before, .toggle_btn:after {
    display: block;
	content: '';
	background-color: #333333;
	position: absolute;
	width: 10px;
	height: 2px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.l-faqBlock01 p.p-faq_q span.toggle_btn:before {
    width: 2px;
	height: 10px;
}
.l-faqBlock01 p.toggle_title.selected span.toggle_btn:before {
    content: normal;
}

.l-faqBlock01 p.p-faq_q{
    padding-left:50px;
    padding-top:5px;
    padding-right: 50px;
    position: relative;
    /* font-size:112.5%; */
    font-size:100%;
    color:#1382c5;
    font-weight:bold;
    margin-bottom:5px;
}
.l-faqBlock01 p.p-faq_a:before{
    position: absolute;
    content: "";
    display: inline-block;
    background: url(../../images/about/ico_faq_02_pc.png) no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
    left:0px;
    top:0px;
}
.l-faqBlock01 p.p-faq_a{
    display: none;
    overflow: hidden;
    padding-left:50px;
    padding-top:5px;
    position: relative;
}
.l-faqBlock01 p.p-faq_a a{
    color:#1382c5;
    position: relative;
    top:-2px;
}

.p-link{
    text-decoration:underline;
    position:relative;
    top:-2px;
}

/*--------- 追加 ---------*/

.l-interpretationBlock01 img {
    display: block;
    margin: 0 auto 30px;
    text-align: center;
    width: 100%;
}

.l-flowBlock01 .p-message > span {
    display: block;
    font-weight: bold;
    font-size: 16px;
}
.l-flowBlock01 .box{
    margin: 0 auto;
    padding: 15px 30px;
    width: 90%;
    border: 1px solid #1382c5;
}
.l-flowBlock01 .btn-box {
    margin: 20px 0 0;
    width: 100%;
    text-align: center;

}
.l-flowBlock01 .p-link-btn {
    display: inline-block;
    margin-right: 60px;
    padding: 10px 40px;
    background-color: #1382c5;
}
.l-flowBlock01 .p-link-btn a {
    display: block;
    color: #fff;
}
.bn-link{
    width: 380px;
    margin: 20px auto;
}

/* 通訳形態 */
.l-interpretationBlock02 .l-interpretationBlock03-table-cell-system{
    /* background-color: #d3d3d3; */
    padding: 20px;
    font-size: 14px;
}
.l-interpretationBlock02 .l-interpretationBlock03-table-cell-system:first-child{
    margin-bottom: 20px;
}
.l-interpretationBlock02 .l-interpretationBlock03-table-cell-system p span{
    font-weight: bold;
    font-size: 16px;
}
.l-interpretationBlock02 .l-interpretationBlock03-table-cell-system p:nth-child(1){
    color: #000;
    padding-bottom: 10px;
}
.l-interpretationBlock02 .l-interpretationBlock03-table-cell-system .p-message_bg {
	margin: 20px 0;
	background-color: #f2f2f3;
	padding: 2%;
	line-height: 2;
    }
.l-interpretationBlock02 .SystemReference{
    font-size: 14px;
    padding: 10px 0;
}
.l-interpretationBlock02 .SystemReference a{
    color: #0d55a6;
    vertical-align: top;
}

/* 業種と対応言語 実績例 */
.l-interpretationServiceDescrive{
    border: solid 1px #333;
    padding: 15px;
}
.l-interpretationServiceDescrive ol li{
	font-size: 14px !important;
	font-weight: normal !important;
}
.l-interpretationServiceList_case{
    padding: 15px 0;
}

.l-interpretationServiceList {
    display: flex;
    margin: 10px;
    justify-content: start;
    font-size: 14px;
    font-weight: bold;
}
.l-interpretationServiceList ol:nth-child(1) {
    margin-right: 40px;
}
.l-interpretationServiceList ol li {
	font-size: 1rem;
	line-height: 2;
}
.l-interpretationServiceTable {
    border-collapse:  collapse;
    font-size: 14px;
    width: 100%;
    margin: 10px auto;
}
.l-interpretationServiceTable th, td{
    border: solid 1px;
    padding: 10px;
}




/*-------------------- ▲共通CSS▲ ------------------------*/

/*-------------------- ▼新規通訳ページCSS▼ ------------------------*/
div.p-side-menu-title h3{
    border-bottom: none;
}
div.p-side-office-title h3{
    border-bottom: none;
}
.l-main div.title{
    /* border-bottom: 5px solid #d0e5fd;
    padding-top: 40px; */
    /* background: none; */
    border-bottom: 5px solid #d0e5fd;
}
.l-interpretationCommonBlock{
    width: 100%;
    margin: 0 auto;
    font-size: 14px;
}
/* .l-main div.title p.p-interpretationCommonTitle{
    border-bottom: none;
    text-align: center;
    padding-bottom: 0;
    color: #2284c0;
    font-weight: bold;
} */
.l-main div.title p span{
    font-size: 70%;
}
.l-main div.title p.p-interpretationCommonTitle{
    border-bottom: 1px solid #99bbbb;
    text-align: left;
    padding-bottom: 10px;
    font-size: 137.5%;
    letter-spacing: .1em;
}
.l-main div.title p.p-interpretationCommonTitle p{
}

.l-main div.title p.p-interpretationCommonsubTitle{
    border-bottom: none;
    text-align: center;
    font-size: 16px;
    color: #2284c0;
    padding-bottom: 10px;
}
.interpretation-border{
    border-bottom: 1px solid #333333;
    width: 240px;
    text-align:center;
    margin:0 auto;
}
.l-interpretationCommonBlock02{
    width: 100%;
    margin: 0 auto;
}
.l-interpretationCommonBlock02-table{
    /* padding-top: 40px; */
}
.l-interpretationCommonBlock02-table-cell{
    line-height: 1.5rem;
}
.l-interpretationCommonBlock02-table-cell:first-child {
    padding-top: 15px;
    padding-right: 10px;
}
/* 20210223追加↓ */ 
.l-interpretationCommonBlock02_online{
    width: 100%;
    margin: 0 auto;
    display: block;
    padding-bottom: 34%;
}
.l-interpretationCommonBlock02_online-table-cell{
    line-height: 1.5rem;
  
    vertical-align: top;
    width: 50%;
}
.l-interpretationCommonBlock02_online-table-cell:first-child {
    padding-top: 15px;
    padding-right: 10px;
    float: left;
}
/* 20210223追加↑ */ 
.l-eventBlock-table-cell{
    vertical-align: top;
    width: 50%;
}
.l-eventBlock-table-cell:last-child{
    float: right;
    text-align: center;
}
p.interpretationPlan{
    font-size: 87%;
}
.l-interpretationCommonBlock01,
.l-interpretationCommonBlock03,
.l-interpretationCommonBlock05,
.l-interpretationCommonBlock07{
    margin: 40px 25px;
}

.p-informationblock-00{
    color: #2284c0;
    font-weight: bold;
    font-size: 110%;
}
.p-informationblock-00 p.p-Info_title-zirei{

}
.p-informationblock1{
    /* padding-top: 40px; */
}
.p-informationblock-zirei{
}
.p-informationblock-01{
    padding-top: 15px;
    width: 100%;
    /* display: table; */
    /* margin-top: 10px; */
}
.p-informationblock-02{
    /* padding-top: 15px; */
    width: 27%;
    display: table-cell;
    margin-top: 10px;
}
.p-informationblock-02 img{
    width: 150px
}
.p-informationblock-03{
    /* padding-top: 15px; */
    width: 26.5%;
    display: table-cell;
    margin-top: 10px;
}
.p-informationblock-03 img{
    width: 150px;
    margin: 5px 5px 10px 20px !important;
}
.IP_bnrtable{
    width: 100%;
    display: table;
    padding: 15px;
}
p.IP_bnr{
    display: table-cell;
}
.p-informationblock-01 .informationblock-01Inner{
    /* width: 50%; */
    /* display: table-cell; */
    vertical-align: top;
}
.p-informationblock-01 .informationblock-01Inner:last-child{
    padding-top: 40px;
}

.p-IBmessage{
    font-weight: bold;
    font-size: 120%;
}
.IBmessage_img img{
    width: 100%;
}
.p-description{
    margin: 0px 10px 0px 10px;
    width: 145px;
}
.p-description-IBmessage{
    background-color: #f0f0f0;
}
.p-description span{
    color: #2284c0;
    font-weight: bold;
}
.p-description-IBmessage span{
    color: #2284c0;
    font-weight: bold;
}
.p-description01{
    padding-top: 25px;
}
div.p-informationblock-02 p.p-message-merit{
    height: 50px;
}
div.p-informationblock-03 p.p-message-merit{
    height: 50px;
}
.p-description-more{
    text-align: center;
}
.p-description-more a{
    color: #2284c0;
    font-size: 100%;
}

.InformationZirei{
    padding-top: 10%;
}
.InformationZirei .l-inside-audit {
    text-align: right;
}
.InformationZirei .l-inside-audit .p-title-audit {
padding: 10px;
}
.InformationZirei .l-inside-audit .p-title-audit span {
    padding-left: 1.2rem;
    text-indent: -0.75rem;
    display: inline-block;
}
.InformationZirei .l-inside-audit .p-title-audit span:before{
    content: "";
    display: inline-block;
    width: 13px;
    height: 14px;
    vertical-align: middle;
    position: relative;
    top: -1px;
    left: -5px;
    background: url(../../images/kokusai/ico_convention_01_pc.png) no-repeat;
    background-size: contain;
}
.zirei_story{
    float: left;
}
.ZireiTitle{
    /* background: #d0e5fd;
    color: #2284c0;
    font-weight: bold;
    padding: .3em; */
    font-size: 137.5%;
    font-weight: bold;
    padding: .3em;
    border-bottom: 3px solid #2284c0;
}
.Zirei_intro{
    font-size: 20px;
    padding: 5px 5px 5px 15px;
}
.Zirei_intro span{
    font-size: 15px;
    text-indent: 5em;
}
.Zirei_intro p.indent{
    font-size: 90%;
    /* text-indent: 11rem; */
}
.zirei-featuresblock3{
    padding-bottom: 15px;
    float: left;
    padding-top: 15px;
}
.zirei-featuresblock3 table tr td.col01{
    width: 20%;
    text-align: center;
}
.zirei-featuresblock3 table tr td.col01 p{
    color: #fff;
    background: #2284c0;
}

.zirei-featuresblock3 table tr td{
    /* font-size: 80.5%; */
    padding: 10px;
    border: none;
    line-height: 1.7;
}
.zirei-featuresblock3 table tr td span{
}
.zirei_img{
    text-align: center;
    /* padding-bottom: 40px; */
}
.zirei_img p img{
    width: 90%;
}

.IZ_zirei_zirei-featuresblock3_moredetail{
    /* font-size: 80%; */
    padding: 30px 0 30px;
}
.zirei_story img.sp{
    display: none;
}
.sp_br{
    display: none;
}
.zirei-featuresblock3 ul{
    display: table-cell;
}
.zirei-featuresblock3 ul li{
    display: table;
    width: 100%
    table-layout: fixed;
}
.zirei-featuresblock3 li>span{
    display: table-cell;
    padding: .75em;
    line-height: 1.5em;
    text-align: left;
    width: 150px;
}
.zirei-featuresblock3 li>span:first-child{
    width: 20%;
    text-align: center;
}

.zirei-featuresblock3 li span+span{
    width: auto;
    text-align: left;
}
.zirei-featuresblock3-title{
    color: #fff;
    background: #2284c0;
}
.zirei-featuresblock3-icon{
    width: 4%;
    display: table-cell;
}
.zirei-featuresblock3 table tr td p{
    text-indent: -1em;
    padding-left: 1em;
}

/**20201023追加**/
.IP_bnrtable {
    padding: 15px;
    table-layout: fixed;
}
p.IP_bnr img{
    width: 100%;
}
.zirei-featuresblock3 table tr td span a{
    color: #414848;
    border-bottom: 1px solid #414848;
}

/***20201026追加***/
#online_r .l-interpretationCommonBlock01 .image {
    width: 100%;
    padding: 2rem 0 0;
}
#online_r  .l-interpretationCommonBlock02-table img {
    width: 100%;
}
#online_r .l-interpretationCommonBlock02-table a {
    border-bottom: 1px solid #414848;
    color: #414848;
    vertical-align: baseline;
}
#online_r .l-interpretationCommonBlock02-table .p-IBmessage {
    margin-bottom: 1rem;
}
#online_r .l-interpretationCommonBlock02-table-cell {
    margin: 1rem 0 2rem;
    line-height: 1.7;
}
#online_r .l-interpretationCommonBlock02-table-cell.p-left {
    display: inline-block;
    width: 49%;
    text-align: left;
    padding-top: 10px;
    padding-right: 30px;
    vertical-align: top;
    font-size: 95%;
}
#online_r .l-interpretationCommonBlock02-table-cell.p-left p {
    padding-bottom: 10px;
}
#online_r .l-interpretationCommonBlock02-table-cell.p-right {
    display: inline-block;
    width: 50%;
    margin-bottom: 1rem;
}
#online_r .l-interpretationCommonBlock02-table-cell.p-right .image {
    width: 90%;
}
#online_r .p-IBmessage02{
    font-weight: bold;
    font-size: 120%;
    margin-bottom: 1rem;
}
#online_r .l-interpretationCommonBlock02-table-cell .p-indent {
    text-indent: -1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
}
#online_r .l-interpretationCommonBlock02-table-cell .p-underline {
    background: linear-gradient(transparent 50%,rgba(240, 230, 140, 0.2) 65%,rgb(240, 230, 140) 90%,rgba(240, 230, 140, 0.2));
    border-radius: 5px;
}　

.l-interpretationBlock .banner {
    padding: 20px 20px 0;
}
.l-interpretationBlock .banner img {
    width: 100%;
}
.l-interpretationCommonBlock .banner {
    padding: 20px 0 0;
}
.l-interpretationCommonBlock .banner img {
    width: 100%;
}
.l-bannerBlock {
    margin-bottom: 40px;
}
.l-bannerBlock .banner{
    padding: 20px 0 0;
}
.l-bannerBlock .banner img {
    width: 100%;
}
.l-tsuyakuonline-button{
    width: 100%;
    margin: 20px auto;
}
.l-tsuyakuonline-button p{
    text-align: center;
}
.l-tsuyakuonline-button p a img{
    max-width: 375px;
    width: 100%;
}

img {
    max-width: 100%;
}

/* 20231215 */
.p-featuresblock1 .p-btn_inquiry {
    display: block;
    width: fit-content;
    margin: 10px 0 0;
}
.p-featuresblock1 .p-featuresblock-00 a span {
    font-size: 87.5%;
}
.p-featuresblock1 .p-featuresblock-00 a span:before {
    content: "";
    display: inline-block;
    width: 13px;
    height: 14px;
    vertical-align: middle;
    position: relative;
    top: -1px;
    left: -5px;
    background: url("../../images/kokusai/ico_convention_01_pc.png") no-repeat;
    background-size: contain;
}
.l-interpretationBlock05 {
    padding-top: 20px;
}
.l-interpretationBlock05 h4 {
    margin-top: 0;
}
.l-interpretationBlock05 .box_in +.box_in {
    padding-top: 15px;
}
.l-interpretationBlock05 p {
    line-height: 1.7;
}
.l-interpretationBlock05 .desc {
    padding: 0 0 20px;
    font-size: 87.5%;
}
.l-interpretationBlock05 .text01 {
    color: #1382c5;
    font-weight: bold;
    padding-bottom: 5px;
}
.l-interpretationBlock05 .text02 {
    font-size: 87.5%;
    padding-bottom: 20px;
}
.l-interpretationBlock05 .text02 span {
    font-weight: bold;
    color: #222;
}
.l-interpretationBlock05 .text02_02 {
    font-size: 78%;
}

/* 20240423 */
.l-interpretationBlock01:first-of-type {
    margin-top: 0;
}

/* 20240423 attend 病院訪問や観光同行における通訳 */
.attend_block {
    width: 100%;
    margin: 0 auto;
}
.attend_block p {
    padding-bottom: 20px;
    line-height: 1.7;
    font-size: 87.5%;
}
.attend_block01 {
    margin: 60px 0px 30px;
}
.attend_block01:first-of-type {
    margin-top: 0;
}
.attend_block02 {
    width: 100%;
    margin: 0 auto;
}
.attend_block .col_flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.attend_block .col_flex > div {
    width: 48%;
}
.attend_block .l-faqBlock01 p.p-faq_q {
    font-size: 16px;
}
.attend_block .l-faqBlock01 p.p-faq_a {
    font-size: 14px;
}


/*-------------------- ▲新規通訳ページCSS▲ ------------------------*/

/*---------------- ▼PCのみCSS▼ --------------------*/
@media screen and (min-width:1001px){




}
/*---------------- ▲PCのみCSS▲ --------------------*/
/*---------------- ▼タブレット以降CSS▼ --------------------*/
@media screen and (max-width:1000px){
    .l-mainVisual{
        padding:3%;
    }
    .l-interpretationBlock01{
        margin-top:5%;
        margin-bottom:3%;
    }

    .l-interpretationBlock02 .l-interpretationBlock02-table{
        width:100%;
        display:block;
    }
    .l-interpretationBlock02 .l-interpretationBlock02-table-cell{
        display:block;
    }
    .l-interpretationBlock02 .l-interpretationBlock02-table-cell.p-left{
        width:100%;
        text-align:left;
        padding-top:10px;
        padding-bottom:10px;
    }
    .l-interpretationBlock02 .l-interpretationBlock02-table-cell.p-right{
        width:100%;
        text-align:center;
    }
    .l-interpretationBlock02 .l-interpretationBlock02-table-cell.p-right .p-detail{
        text-align:center;
    }

    .l-inquiryBlock{
        padding-top:0;
        padding-bottom:3%;
    }
    .l-inquiryBlock .l-inquiryBlock-table{
        width: 100%;
        display:block;
    }
    .l-inquiryBlock .l-inquiryBlock-table .p-photo img{
        width: 100%;
    }
    .l-inquiryBlock .l-inquiryBlock-table > div{
        display:block;
    }
    .l-inquiryBlock .l-inquiryBlock-table .p-inquiry{
        padding-right:0;
    }

    .p-featuresblock.p-last {
        padding-bottom: 0px;
    }

    .p-featuresblock > div {
        padding-top: 0px;
        padding-bottom: 20px;
        position: relative;
    }

    .p-featuresblock2 > p.p-kizai1:first-child{
        display:block;
        text-align:left;
        padding-right:0px;
        width:100%;
    }
    .p-featuresblock2 > p.p-kizai1:last-child{
        display:block;
        text-align:center;
        padding-left:0px;
        padding-top:20px;
        margin:0 auto;
        width:358px;
    }
    .p-featuresblock2 > p.p-kizai2:first-child{
        display:block;
        text-align:left;
        padding-left:0px;
        padding-top:20px;
        margin:0 auto;
        width:100%;
    }
    .p-featuresblock2 > p.p-kizai2:last-child{
        display:block;
        text-align:center;
        padding-left:0px;
        padding-top:20px;
        margin:0 auto;
        width:242px;
    }

    .p-featuresblock3 table tr th{
        padding:10px;
    }
    .p-featuresblock3 table tr th.col01{
        width:100%;
    }
    .p-featuresblock3 table tr th.col02{
        display:none;
    }
    .p-featuresblock3 table tr th.col03{
        display:none;
    }
    .p-featuresblock3 table tr th.col04{
        display:none;
    }
    .p-featuresblock3 table tr td.col01{
        width:100%;
    }
    .p-featuresblock3 table tr td.col02{
        display:none;
    }
    .p-featuresblock3 table tr td.col03{
        display:none;
    }
    .p-featuresblock3 table tr td.col04{
        display:none;
    }
    .IZ_zirei_zirei-featuresblock3_moredetail{
    }
    
    /***20201026追加***/
    #online_r .l-interpretationCommonBlock02-table-cell {
        margin: 0 0 1rem;
    }
    #online_r .l-interpretationCommonBlock02-table-cell.p-left {
        display: inline-block;
        width: 100%;
        text-align: left;
        padding-top: 10px;
        padding-right: 0;
        vertical-align: top;
    }
    .l-interpretationCommonBlock02-table-cell.p-left p {
/*        margin-bottom: 1rem;*/
    }
    #online_r .l-interpretationCommonBlock02-table-cell.p-right {
        display: inline-block;
        width:100%;
        text-align: center;
    }
    #online_r .l-interpretationCommonBlock02-table-cell.p-right .image {
        width: 80%;
    }
    #online_r .l-interpretationCommonBlock02-table-cell .p-indent {
        padding-bottom: 0.5rem;
    }



    .l-eventBlock-table-cell:last-child{
        float: none;
    }
    .l-interpretationCommonBlock02_online-table-cell{
        line-height: 1.5rem;
        width: auto;
    }
    .l-interpretationCommonBlock02_online{
        padding-bottom: 0;
    }

    .l-interpretationBlock02 .l-interpretationBlock02-content-acovid {
        display: block;
    }
    .l-interpretationBlock02 .l-interpretationBlock02-content-acovid .l-interpretationBlock02-content-acovid-description {
        width: auto;
    }

    /* 20240423 attend 病院訪問や観光同行における通訳 */
    .attend_block {
        font-size: 100%;
    }
    .attend_block p {
        padding-bottom: 15px;
        font-size: 100%;
    }
    .attend_block01 {
        margin: 5% 0px 3%;
    }


}
/*---------------- ▲タブレット以降CSS▲ --------------------*/
/*---------------- ▼タブレットのみ（1024～641）CSS▼ --------------------*/
@media screen and (max-width:1000px) and (min-width:481px) {

}
/*---------------- ▲タブレットのみ（1024～641）CSS▲ --------------------*/
/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){

    .l-interpretationBlock02 .l-interpretationBlock02-table-cell.p-right img{
        width:100%;
    }

    .p-featuresblock .p-featuresblock-00 {
        margin-top: 6px;
        padding: 15px;
        background-color: #FFFFFF;
        box-shadow:0px 0px 4px 2px #e8e8e8;
        -moz-box-shadow:0px 0px 4px 2px #e8e8e8;
        -webkit-box-shadow:0px 0px 4px 2px #e8e8e8;
    }

    .p-featuresblock1 > p.p-arrow img{
        width:50%;
    }

    .p-featuresblock2{
        width:100%;
        display:block;
        padding-top:20px;
    }
    .p-featuresblock2 > p{
        display:block;
        width:100%;
    }
    .p-featuresblock2 > p:first-child{
        text-align:center;
        padding-right:0px;
    }
    .p-featuresblock2 > p:last-child{
        text-align:center;
        padding-left:0px;
        padding-top:10px;
    }
    .p-featuresblock2 > p.p-kizai1:first-child{
        display:block;
        text-align:left;
        padding-right:0px;
        width:100%;
    }
    .p-featuresblock2 > p.p-kizai1:last-child{
        display:block;
        text-align:center;
        padding-left:0px;
        padding-top:20px;
        margin:0 auto;
        width:100%;
    }
    .p-featuresblock2 > p.p-kizai2:first-child{
        display:block;
        text-align:left;
        padding-right:0px;
        width:100%;
    }
    .p-featuresblock2 > p.p-kizai2:last-child{
        display:block;
        text-align:center;
        padding-left:0px;
        padding-top:20px;
        margin:0 auto;
        width:100%;
    }


    .p-featuresblock2 > p img{
        width:100%;
    }

    .l-faqBlock01 p.p-faq_q:before{
        width: 20px;
        height: 20px;
    }
    .l-faqBlock01 p.p-faq_q{
        padding-left:30px;
        padding-top:0px;
    }
    .l-faqBlock01 p.p-faq_a:before{
        width: 20px;
        height: 20px;
    }
    .l-faqBlock01 p.p-faq_a{
        padding-left:30px;
        padding-top:0px;
    }

    .bn-link{
        width: 100%;
        margin: 20px auto;
    }
    .bn-link img {
        width: 100%;
    }



    .IP_bnrtable{
        display: block;
        text-align: center;
    }
    p.IP_bnr{
        display: block;
        width: 55%;
        margin: 0 auto;
    }
    .p-informationblock-01{
        width: 100%;
        display: block;
        /* padding-top: 20px; */
        text-align: center;
    }
    .p-informationblock-01 > div:first-child{
        display: block;
        width: auto;
    }
    .p-informationblock-01 > div:nth-of-type(2){
        display: block;
        width: auto;
    }
    .p-informationblock-01 > div:nth-of-type(3){
        display: block;
        width: auto;
    }
    .p-informationblock-01 > div:nth-of-type(4){
        display: block;
        width: auto;
    }
    .p-informationblock-02 img{
        width: 80%;
    }
    .p-informationblock-03 img{
        width: 80%;
    }
    .zirei_img p img{
        width: 100%;
    }
    .p-informationblock-00{
        text-align: center;
    }
    .zirei-featuresblock3 table tr td.col01{
    width: 100%;
    float: left;
    }
    .zirei-featuresblock3 table tr td{
    width: 100%;
    float: right;
    }
    .Zirei_intro{
        font-size: 15px;
    }
    .Zirei_intro p.indent{
        /* font-size: 70%; */
        /* text-indent: 0; */
        text-align: center;

    }
    div.p-informationblock-02 p.p-message-merit{
        height: 0;
    }
    div.p-informationblock-03 p.p-message-merit{
        height: 0;
    }
    .l-main div.title p.p-interpretationCommonTitle{
        /* font-size: 100%; */
        text-align: center;
    }
    .zirei_story img.sp{
        display: flex;
        width: 100%;
    }
    .zirei_story img.pc{
        display: none;
    }
    .ZireiTitle{
        text-align: center;
        font-size: 137.5%;
        font-weight: bold;
        padding: .3em;
        border-bottom: 5px solid #2284c0;
    }
    .InformationZirei{
        display: inline-grid;
    }
    .sp_br{
        display: block;
    }
    .p-description{
        margin: 0px 10px 0px 10px;
        width: auto;
    }
    
    .l-interpretationBlock .banner,
    .l-interpretationCommonBlock .banner,
    .l-bannerBlock .banner {
        width: 90%;
        margin: 0 auto;
    }

    /* 業種と対応言語 実績例 */
    .l-interpretationServiceList {
        display: block;
    }

    /* 20231215 */
    .p-featuresblock1 .p-btn_inquiry {
        max-width: 180px;
        width: fit-content;
        margin: 10px auto 0;
    }


    /* 20240423 attend 病院訪問や観光同行における通訳 */
    .attend_block .col_flex > div {
        width: 48%;
    }
    .attend_block .l-faqBlock01 p.p-faq_q {
        font-size: 12px;
    }
    .attend_block .l-faqBlock01 p.p-faq_a {
        font-size: 12px;
    }

    
}
/*---------------- ▲スマホ以降CSS▲ --------------------*/
/*---------------- ▲スマホ最小CSS▲ --------------------*/
@media screen and (max-width:320px){


}
/*---------------- ▲スマホ最小CSS▲ --------------------*/
