@charset "utf-8";
/* CSS Document */

#interpretation{
	color:#414848;
}

 a.p-link {
    position: relative;
    top: -2px;
    color: #1382c5;
    text-decoration: underline;
}

.l-mainVisual{
	width:100%;
	margin:0 auto;
	/*background-color:#fafafa;*/
	background-color:#FFFFFF;
}
.l-mainVisual-inner{
	max-width:1060px;
	width:100%;
	margin: 0px auto;
	padding: 0px 0;
	/*background-color:#fafafa;*/
	background-color:#FFFFFF;
}
.l-mainVisual-inner img{
	max-width:1060px;
	width:100%;
}

.l-trainingBlock{
	
}
.l-trainingBlock01{
	width:100%;
	margin:0 auto;
	padding:20px 0px 0;
}
.l-trainingBlock01 > p{
	font-size:87.5%;
	padding-bottom:20px;	
	line-height: 1.7;
}

.l-trainingBlock02{
	width:100%;
	margin:0 auto;
	padding:0px 0px 20px;
}
.l-trainingBlock02 h4 {
    border-bottom: none;
    padding: 5px 15px;
    margin-top: 20px;
	font-size:112.5%;
}
.l-trainingBlock02 h4 span {
    font-size:77.7%;
}
.l-trainingBlock02 > p{
	font-size:87.5%;
	padding:10px 0 20px;	
	line-height: 1.7;
}
.l-trainingBlock02 > p span{
	font-size:112.5%;
	font-weight:bold;
}
.l-trainingBlock02 > p.p-image{
	text-align:center;
}
.l-trainingBlock02 > p.p-image img{
	max-width:669px;
	width:100%;
}

.l-trainingBlock02-table{
	width:100%;
	display:block;	
}
.l-trainingBlock02-table .l-trainingBlock02-table-cell{
	vertical-align:top;
	width:50%;
}
.l-trainingBlock02-table .l-trainingBlock02-table-cell img{
	max-width:371px;
	width:100%;
}
.l-trainingBlock02-table .l-trainingBlock02-table-cell p{
	font-size:87.5%;
	padding-bottom:20px;
	line-height: 1.7;
}
.l-trainingBlock02-table .l-trainingBlock02-table-cell p span{
	font-weight:bold;
}
.l-trainingBlock02-table.p-left .l-trainingBlock02-table-cell:first-child{
	padding-top:15px;
	padding-right:10px;
	float:left;
}
.l-trainingBlock02-table.p-left .l-trainingBlock02-table-cell:last-child{
	float:right;
	text-align:center;
}
.l-trainingBlock02-table.p-right .l-trainingBlock02-table-cell:first-child{
	padding-top:15px;
	padding-right:10px;
	float:right;
}
.l-trainingBlock02-table.p-right .l-trainingBlock02-table-cell:last-child{
	float:left;
	text-align:center;
}


.l-interpretationBlock01{
	/*border-bottom:5px solid #d0e5fd;*/
	margin-top:0px;
	margin-bottom:25px;
}
.l-interpretationBlock04{
	width:100%;
	margin:0 auto;
	background-color:#f2f2f3;
}
.l-interpretationBlock04-table{
	width:100%;
	display:table;
	/*background:url("../../images/tsuyaku/bg_inquiry_01_pc.png") no-repeat;
	background-size:100% auto;*/
	padding-left:20px;
	border:1px solid #dddddd;
	margin-bottom:20px;
}

.l-interpretationBlock04-table .l-interpretationBlock04-left{
	width:470px;
	display:table-cell;
	vertical-align:top;
	padding:0;
}
.l-interpretationBlock04-left p img{
	vertical-align:top;
}
.l-interpretationBlock04-left p.regist{
	font-size:100%;
	padding:0px 0px 0px 0px;
}
.l-interpretationBlock04-left p:nth-child(1){
	font-size:75%;
	padding:20px 0px 0px 0px;
	font-weight:bold;
	line-height:2;
	letter-spacing:-1px;
}
.l-interpretationBlock04-left p:nth-child(2){
	padding:0 30px;
}
.l-interpretationBlock04-left p:nth-child(2) span{
	display:block;
	border-bottom:1px solid #d3d3d3;
	height:15px;
}
.l-interpretationBlock04-left p:nth-child(3){
	padding:10px 0px 0px 0px;
	font-weight:bold;
}
.l-interpretationBlock04-left p:nth-child(4){
	font-size:150%;
	font-weight:bold;
}
.l-interpretationBlock04-left p:nth-child(4) img.p-tel{
	position:relative;
	top:5px;
}
.l-interpretationBlock04-left p:nth-child(4) span{
	position:relative;
	left:10px;
}
.l-interpretationBlock04-left p:nth-child(4) a.p-btn_inquiry{
	position:relative;
	left:35px;
	top:-8px;
}
.l-interpretationBlock04-table .l-interpretationBlock04-left a{
	padding-left:0px;
}
.l-interpretationBlock04-table .l-interpretationBlock04-right{
	max-width:280px;
	display:table-cell;
	vertical-align:top;
	text-align:right;
	padding:0;
}
.l-interpretationBlock04-table .l-interpretationBlock04-right img{
	vertical-align:top;
	max-width:280px;
	width:100%;
}

.l-inquiryBlock{
	width: 100%;
	margin: 0px auto;
	padding-top:50px;
	padding-bottom:80px;
}
.l-inquiryBlock .l-inquiryBlock-table{
	width: 100%;
	display:table;
}
.l-inquiryBlock .l-inquiryBlock-table .p-photo img{
	width: 100%;
}
.l-inquiryBlock .l-inquiryBlock-table > div{
	display:table-cell;
	position:relative;
}
.l-inquiryBlock .l-inquiryBlock-table .p-inquiry{
	padding-right:18px;
}
.l-inquiryBlock .l-inquiryBlock-table .p-inquiry div{
	display:block;
}
.l-inquiryBlock .l-inquiryBlock-table .p-registration{
}
.l-inquiryBlock .l-inquiryBlock-table .p-registration div{
	display:block;
}
.l-inquiryBlock .l-inquiryBlock-table .p-button{
	position:absolute;
	top:66%;
	left:38%;
}

/* 20240517 */
.l-trainingBlock02 .block_in {
	padding: 20px 0 0;
}
.l-trainingBlock02 .block_in p {
	font-size: 87.5%;
    padding: 10px 0 20px;
    line-height: 1.7;
}

/*-------------------- ▲共通CSS▲ ------------------------*/

/*---------------- ▼PCのみCSS▼ --------------------*/
@media screen and (min-width:1001px){
	
	
	
	
}
/*---------------- ▲PCのみCSS▲ --------------------*/
/*---------------- ▼タブレット以降CSS▼ --------------------*/
@media screen and (max-width:1000px){
	.l-mainVisual{
		padding:3%;
	}
	.l-trainingBlock01{
		margin-bottom:3%;
		padding:3% 0;
	}
	
	.l-trainingBlock02-table .l-trainingBlock02-table-cell{
		width:100%;
	}
	.l-trainingBlock02-table.p-left .l-trainingBlock02-table-cell:first-child{
		padding-top:0;
		padding-right:0;
		float:none;
	}
	.l-trainingBlock02-table.p-left .l-trainingBlock02-table-cell:last-child{
		text-align:center;
		float:none;
	}
	.l-trainingBlock02-table.p-right .l-trainingBlock02-table-cell:first-child{
		padding-top:0;
		padding-right:0;
		float:none;
	}
	.l-trainingBlock02-table.p-right .l-trainingBlock02-table-cell:last-child{
		text-align:center;
		float:none;
	}
	
	.l-inquiryBlock{
		padding-top:0;
		padding-bottom:3%;
	}
	.l-inquiryBlock .l-inquiryBlock-table{
		width: 100%;
		display:block;
	}
	.l-inquiryBlock .l-inquiryBlock-table .p-photo img{
		width: 100%;
	}
	.l-inquiryBlock .l-inquiryBlock-table > div{
		display:block;
	}
	.l-inquiryBlock .l-inquiryBlock-table .p-inquiry{
		padding-right:0;
	}
	
}
/*---------------- ▲タブレット以降CSS▲ --------------------*/
/*---------------- ▼タブレットのみ（1024～641）CSS▼ --------------------*/
@media screen and (max-width:1000px) and (min-width:481px) {
	
}
/*---------------- ▲タブレットのみ（1024～641）CSS▲ --------------------*/
/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){
	
	
	
}
/*---------------- ▲スマホ以降CSS▲ --------------------*/
/*---------------- ▲スマホ最小CSS▲ --------------------*/
@media screen and (max-width:320px){
	
	
}
/*---------------- ▲スマホ最小CSS▲ --------------------*/