@charset "UTF-8";

/*------------------------------------------------------------------------------
ブラウザスタイル初期化設定
------------------------------------------------------------------------------*/
html {
	overflow-y: scroll;
}
body {
	background-color: #FFFFFF;
	color: #333333;
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-size: 10px;
	_font-size: 62.5%;/* IE6 */
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
	margin: 0;
	padding: 0;
}
img {
	border: 0;
	vertical-align: bottom;
}
li {
	list-style: none;
}
caption,
th {
	text-align: left;
}
sup,
sub {
	line-height: -1px;
	vertical-align: text-top;
}
sub {
	vertical-align: text-bottom;
}