@charset "UTF-8";

/*------------------------------------------------------------------------------
clearfix設定
------------------------------------------------------------------------------*/
.clearfix {
    zoom: 1;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0px;
    clear: both;
    line-height: 0; 
    visibility: hidden;
}

/*------------------------------------------------------------------------------
基本設定
------------------------------------------------------------------------------*/
body {
	line-height: 1.5;
	color: #333333;
	background-color: #FFFFFF;
	margin: 0px;
	padding: 0px;
	font-size: 14px;
}
a:link {
	color: #333333;
	text-decoration: none;
}
a:visited {
	color: #333333;
	text-decoration: none;
}
a:hover {
	color: #333333;
	text-decoration: underline;
}
a:active {
	color: #333333;
	text-decoration: underline;
}
#wrap {
	background-image: url(img/mein_bk.jpg);
	background-repeat: repeat-y;
	background-position: left top;
	margin: 0px auto;
	padding: 0px;
	width: 808px;
}
#container {
	margin: 0px auto;
	padding: 0px;
	width: 808px;
}
h1 {
	font-size: 12px;
	margin: 0px;
	font-weight:lighter;
	padding: 0px;
	text-align: right;
}
#header {
	margin: 0px;
	padding: 0px;
	height: 70px;
	width: 808px;
	position: relative;
}
#logo {
	margin: 0px;
	padding: 0px;
	width: 310px;
	position: absolute;
	left: 10px;
	top: 7px;
}
#content {
	margin: 0px;
	padding: 0px;
	width: 808px;
}
#image {
	background-image: url(../img/image.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	margin: 0px;
	padding: 0px;
	height: 350px;
	width: 808px;
	position: relative;
}
#image ul {
	margin: 0px;
	padding: 0px;
	clear: both;
	width: 360px;
	position: absolute;
	left: 28px;
	bottom: 21px;
}
#image li {
	margin: 0px;
	padding: 0px;
	float: left;
}
.arrow {
	background: url('../img/arrow_link.gif') no-repeat;
	background-position: 8 1px;
	margin: 0px;
	padding: 0px 0px 0px 18px;
	border:thick;
}

.btn-box02 {
	margin: 0px;
	padding: 20px 0px 20px 0px;
	width: 808px;
}
.btn-box02 li {
	text-align: center;
	padding: 0px;
}
.title {
	margin: 0px 0px 20px;
	padding: 0px;
	width: 780px;
	clear: both;
}

#class01 {
	background-image: url(../img/class01_bk.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
	margin: 0px auto 10px;
	padding: 0px;
	height: 256px;
	width: 740px;
}
#class01 dd {
	margin: 0px;
	padding: 10px 20px 0px;
	width: 700px;
}
#class02 {
	background-image: url(../img/class02_bk.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
	margin: 0px auto 10px;
	padding: 0px;
	height: 96px;
	width: 740px;
}
#class02 dd {
	margin: 0px;
	padding: 10px 20px 0px;
	width: 700px;
}
.nagare {
	margin: 15px 0px 0px 20px;
	padding: 0px;
	clear: both;
}
.nagare li {
	margin: 0px;
	padding: 0px;
	float: left;
}
.attention {
	margin: 0px;
	padding: 0px 0px 20px 25px;
	clear: both;
	width: 755px;
}

#riyu {
	margin: 30px 0px 30px 0px;
	text-align: center;
	}

#footer {
	width: 780px;
	margin: 0 auto;
	border-top: 1px solid #CCCCCC;
	clear: both;
	}
#footer .copyright {
	text-align: center;
	font-size: 12px;
	padding: 10px 0;
	background-color: #FFFFFF;
	margin: 20px 0 0 0;
	}
.adress-layout {
	width: 740px;
	margin: 20px auto 0;
	font-size: 14px;
	clear: both;
	}
.adress-layout .tokyo {
	width: 350px;
	float: left;
	}
.adress-layout .tokyo span {
	display: block;
	font-weight: bold;
	}
.adress-layout .osaka {
	width: 350px;
	float: right;
	}
.adress-layout .osaka span {
	display: block;
	font-weight: bold;
	}

#header #to-top {
	margin: 0px;
	padding: 0px;
	width: 500px;
	position: absolute;
	top: 30px;
	left: 65px;
	font-size:12px;
}
#special {
	margin: 0px auto 20px;
	padding: 0px;
	width: 740px;
}
.ad-box {
	margin: 0px 0px 10px;
	padding: 0px;
	clear: both;
	width: 780px;
}
.ad-box .list {
	background-image: url(../img/ad_bk01.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	margin: 0px;
	padding: 15px;
	float: left;
	height: 160px;
	width: 350px;
}
.ad-box .list dl {
	margin: 0px;
	padding: 0px;
	width: 350px;
}
.ad-box .list dt {
	margin: 0px;
	padding: 0px 0px 5px;
	width: 350px;
}
.ad-box .list .list-photo {
	margin: 0px;
	padding: 0px;
	float: left;
	width: 110px;
}
.ad-box .list .list-text {
	line-height: 130%;
	margin: 0px;
	padding: 0px 0px 0px 5px;
	float: left;
	width: 235px;
}
.ad-box .list02 {
	background-image: url(../img/ad_bk01.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	margin: 0px 0px 0px 10px;
	padding: 15px;
	float: left;
	height: 160px;
	width: 350px;
}
.ad-box .list02 dl {
	margin: 0px;
	padding: 0px;
	width: 350px;
}
.ad-box .list02 dt {
	margin: 0px;
	padding: 0px 0px 5px;
	width: 350px;
}
.ad-box .list02 .list-photo {
	margin: 0px;
	padding: 0px;
	float: left;
	width: 110px;
}
.ad-box .list02 .list-text {
	line-height: 130%;
	margin: 0px;
	padding: 0px 0px 0px 5px;
	float: left;
	width: 235px;
}
.ad-box .list03 {
	background-image: url(../img/ad_bk02.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	margin: 0px;
	padding: 15px;
	float: left;
	height: 140px;
	width: 350px;
}
.ad-box .list03 dl {
	margin: 0px;
	padding: 0px;
	width: 350px;
}
.ad-box .list03 dt {
	margin: 0px;
	padding: 0px 0px 5px;
	width: 350px;
}
.ad-box .list03 .list-photo {
	margin: 0px;
	padding: 0px;
	float: left;
	width: 110px;
}
.ad-box .list03 .list-text {
	line-height: 130%;
	margin: 0px;
	padding: 0px 0px 0px 5px;
	float: left;
	width: 235px;
}
.ad-box .list04 {
	background-image: url(../img/ad_bk02.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	margin: 0px 0px 0px 10px;
	padding: 15px;
	float: left;
	height: 140px;
	width: 350px;
}
.ad-box .list04 dl {
	margin: 0px;
	padding: 0px;
	width: 350px;
}
.ad-box .list04 dt {
	margin: 0px;
	padding: 0px 0px 5px;
	width: 350px;
}
.ad-box .list04 .list-photo {
	margin: 0px;
	padding: 0px;
	float: left;
	width: 110px;
}
.ad-box .list04 .list-text {
	line-height: 130%;
	margin: 0px;
	padding: 0px 0px 0px 5px;
	float: left;
	width: 235px;
}
#btnot {
	text-align: center;
	margin:0px;
}
